<!-- <div class="row">
	<div class="col-md-12" style="width: 100%;background-color: #fff;text-align:center;padding: 15px 0px 10px 0px; ">
    	<h1> </h1>
	</div>
</div> -->
<table class="b-grid" ng-controller="DashBMatrixCtrl" >
	<thead >
		<tr>
			<th style="width: 50px;min-width: 50px;">&nbsp;</th>
			<th  colspan="2" style="padding: 8px;">LOSS</th>
			<th  colspan="14"  ng-repeat="impact in  bMatrixData.impactedLoss" >{{ impact }}</th>
		</tr>
		<tr>
			<th  >SI no</th>
			<th  style="width: 250px;min-width: 250px;padding: 8px;">LOSS</th>
			<th style="width: 80px;min-width: 80px;" >OP no</th>
			<th class="small-text"  ng-repeat="opNo in bMatrixData.operationImpactedNo" >{{ opNo.label }}</th>
		</tr>
	</thead>
	<tbody >
		<tr ng-repeat="source in  bMatrixData.operationSourceNo track by $index"  style="height: 20px;">
			<td rowspan="14" ng-if="$index == 0 || ($index > 0 && bMatrixData.operationSourceNo[$index - 1]['title'] != source.title)"> {{ ($index/14)+1 }} </td>
			<td rowspan="14"  ng-if="$index == 0 || ($index > 0 && bMatrixData.operationSourceNo[$index - 1]['title'] != source.title)">{{ source.title }}</td>
			<th class="small-text" >{{ source.label }}</th>
			<th class="small-text"  ng-repeat="opNo in bMatrixData.operationImpactedNo" ng-class="{'active-loss' : isActiveCell(source,opNo)}" ></th>
		</tr>
	</tbody>
</table>
<style type="text/css">
    .b-grid {
    	width: 100%;
    	background-color: white;
    }
	.color-varient {
		width: 100%;
	    height: 18px;
	    border: 1px solid;
	    border-top: 0px solid;
	}


	.b-grid  tr, .b-grid th,.b-grid  td {
		text-align: center;
		border: 1px solid;
		    color: black;
	}

	.active-loss {
		background: #afacac;
	}

	.b-grid th.small-text{
		font-size: 0.55pc;
	}


</style>

