<div class="row" ng-controller="CMatrixCtrl">
	<div class="col-md-12" style="height: 70vh; padding-top: 30px; box-sizing: border-box;">
		<div class="panel panel-white no-radius">
				<div class="panel-heading border-bottom text-center">
					<h4 class="panel-title">C Matrix</h4>
					<ct-paneltool class="panel-tools" tool-refresh="load1" tool-expand="tool-expand"></ct-paneltool>
				</div>
				<div class="panel-body" style="height: 82vh; box-sizing: border-box;overflow:auto; " >
					<div class="row">
						<div class="col-md-3"> 
							<div class="form-group">
	                            <label>ETU Type </label>
	                            <span class="clip-select">
	                                <select class="form-control" name="etuType" ng-model="filterForm.etuType"  ng-change="filterData(filterForm)">
	                                     <option value="" selected>All ETU</option>
	                                    <option  ng-repeat="etu in etuTypeList" value="{{etu.id}}">{{etu.etuName}}</option>
	                                </select>
	                            </span>
	                        </div>
						</div>
						<div class="col-md-3">
							<div class="form-group">
	                            <label>Year </label>
	                            <span class="clip-select">
	                                <select class="form-control" name="year" ng-model="filterForm.year"  ng-change="filterData(filterForm)">
	                                    <option  ng-repeat="year in allYearList" value="{{year}}">{{year}}</option>
	                                </select>
	                            </span>
	                        </div>
						</div>
						<div class="col-md-3">
						<div class="form-group">
	                            <label>Month </label>
	                            <span class="clip-select">
	                                <select class="form-control" name="month" ng-model="filterForm.month"  ng-change="filterData(filterForm)">
	                                    <option  ng-repeat="month in allMonthList" value="{{month.value}}">{{month.label}}</option>
	                                </select>
	                            </span>
	                        </div>
	                    </div>
					</div>
					<div class="row" style="margin-top: 30px;">
						<div class="col-md-12" style="width: 100%;height: 300px;">
							<svg style="width: 100%;height: 450px;"></svg>
						</div>
						
					</div>
				</div>
			</div>
	</div>
</div>

<style> /* set the CSS */

.axis { font: 14px sans-serif; }

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 2px;
}

</style>
