<div class="row d-matrix" ng-controller="DMatrixCtrl">
	<div class="col-md-12" style="height: 70vh; padding-top: 30px; box-sizing: border-box;">
		<div class="panel panel-white no-radius">
				<div class="panel-heading border-bottom text-center">
					<h4 class="panel-title">D Matrix</h4>
					<ct-paneltool class="panel-tools" tool-refresh="load1" tool-expand="tool-expand"></ct-paneltool>
				</div>
				<div class="panel-body" style="height: 82vh; padding: 0px; box-sizing: border-box;" >
					<div id="d_matrix"  class="ag-theme-balham" style="height: 100%;"></div>
				</div>
				<div class="panel-footer no-border">
					<p class="no-margin">
						<a href="#"><i class="fa fa-arrow-circle-o-down text-green"></i></a>
						<span class="text-light margin-left-10">Download </span>
					</p>
				</div>
			</div>
	</div>
</div>
