<div class="row f-matrix" ng-controller="FMatrixCtrl">
	<div class="col-md-12" style="height: 70vh; padding-top: 30px; box-sizing: border-box;">
		<div class="panel panel-white no-radius">
				<div class="panel-heading border-bottom text-center">
					<h4 class="panel-title">F Matrix</h4>
					<span class="custom-actions-panel">  <i class="fa ti-filter" ng-if="!showFFilterPanel" ng-click="openFilterPanel()"></i></span> 
					<ct-paneltool class="panel-tools" tool-refresh="load1" tool-expand="tool-expand"></ct-paneltool>
				</div>
				<div class="panel-body" style="height: 82vh; padding: 0px; box-sizing: border-box;" >
					<form name="FMatrixForm">
						<div class=""  ng-show="showFFilterPanel" style="padding: 15px;margin-top: 35px;">
						    <div class="row"  style="display: flex; justify-content: center;margin-top: 20px;">		
								<div class="col-xs-6 col-sm-3 col-md-2">
									<div class="form-group">
			                            <label>End Year </label>
			                            <span class="clip-select">
			                                <select class="form-control" name="endOfYear" ng-model="filterFMatrix.endOfYear">
			                                    <option  ng-repeat="year in yearList" value="{{year}}">{{year}}</option>
			                                </select>
			                            </span>
			                        </div>
								</div>
								<div class="col-xs-6 col-sm-3 col-md-2">
									<div class="form-group">
			                            <label>End Month </label>
			                            <span class="clip-select">
			                                <select class="form-control" name="endOfMonth" ng-model="filterFMatrix.endOfMonth">
			                                    <option  ng-repeat="month in monthList" value="{{month.value}}">{{month.label}}</option>
			                                </select>
			                            </span>
			                        </div>
								</div>
							</div>
							<div class="row"  style="">
								<div class="col-md-12 text-center" style="margin-top: 25px;"> 
									<button class="btn btn-primary" ng-click="filterData(filterEMatrix)"> Apply </button>
								</div>
						    </div>		
						</div>
					</form>
					<div ng-show="!showFFilterPanel" id="f_matrix"  class="ag-theme-balham" style="height: 100%;"> </div>
				</div>
				<div class="panel-footer no-border">
					<p class="no-margin">
						<a href="#"><i class="fa fa-arrow-circle-o-down text-green"></i></a>
						<span class="text-light margin-left-10">Download </span>
					</p>
				</div>
			</div>
	</div>
</div>
<style type="text/css">
	.f-matrix .ag-theme-balham .ag-header {
	    background-color: yellow! important;
	    color: rgba(0, 0, 0, 0.54);
	    font: 600 11px -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif! important;
	}
</style>

