<div class="container-fluid container-fullw" style="padding: 0;">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-white">
                <div class="panel-body-custom">
                   
                    <div ng-controller="MatricesCtrl">
                        <!-- start: WIZARD FORM -->
                        
                            <div id="wizard" class="dashboard swMain">
                                <!-- start: WIZARD SEPS -->
                                <ul>
                                    <li ng-click="goTo(1)">
                                        <a href ng-class="{'selected active' : currentStep == 1, 'selected stepActive' : currentStep != 1}">
                                            <div class="stepNumber">
                                                C
                                            </div> <!-- <span class="stepDesc text-small"> C </span> -->
                                        </a>
                                    </li>
                                    <li ng-click="goTo(2)">
                                        <a href ng-class="{'selected active' : currentStep == 2, 'selected stepActive' : currentStep != 2}">
                                            <div class="stepNumber">
                                                D
                                            </div> <!-- <span class="stepDesc text-small"> D </span> -->
                                        </a>
                                    </li>
                                    <li ng-click="goTo(3)">
                                        <a href ng-class="{'selected active' : currentStep == 3, 'selected stepActive' : currentStep != 3}">
                                            <div class="stepNumber">
                                                E
                                            </div> <!-- <span class="stepDesc text-small"> E </span> -->
                                        </a>
                                    </li>
                                     <li ng-click="goTo(4)">
                                        <a href ng-class="{'selected active' : currentStep == 4, 'selected stepActive' : currentStep != 4}">
                                            <div class="stepNumber">
                                                F
                                            </div> <!-- <span class="stepDesc text-small"> F </span> -->
                                        </a>
                                    </li>

                                    <li ng-click="goTo(5)">
                                        <a href ng-class="{'selected active' : currentStep === 5, 'selected stepActive' : currentStep != 5}">
                                            <div class="stepNumber" style="font-size: 11px;line-height: 33px;">
                                                DEF
                                            </div> <!-- <span class="stepDesc text-small"> DEF </span> -->
                                        </a>
                                    </li>
                                   
                                   <li ng-click="goTo(6)">
                                        <a href ng-class="{'selected active' : currentStep === 6, 'selected stepActive' : currentStep != 6}">
                                            <div class="stepNumber">
                                                A
                                            </div><!--  <span class="stepDesc text-small"> A</span> -->
                                        </a>
                                    </li>

                                    <li ng-click="goTo(7)">
                                        <a href ng-class="{'selected active' : currentStep === 7, 'selected stepActive' : currentStep != 7}">
                                            <div class="stepNumber">
                                                B
                                            </div> <!-- <span class="stepDesc text-small"> B </span> -->
                                        </a>
                                    </li>
                                </ul>
                                <div id="step-1" ng-show="currentStep == 1">
                                    <div class="row">
                                        <div class="col-md-12" style="height: 100vh;margin-top: -20px;">
                                            <div data-ng-include=" 'assets/views/matrices/c-matrix.html' "></div>
                                        </div>
                                        <div class="col-md-12"  >
                                            <div class="form-group">
                                                <button class="btn btn-primary btn-o next-step btn-wide pull-right" ng-click="next()">
                                                    Next <i class="fa fa-arrow-circle-right"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="step-2" ng-show="currentStep == 2">
                                    <div class="row">
                                        <div class="col-md-12" style="height: 100vh;margin-top: -20px;">
                                            <div data-ng-include=" 'assets/views/matrices/d-matrix.html'"></div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <button class="btn btn-primary btn-o back-step btn-wide pull-left" ng-click="prev()">
                                                    <i class="fa fa-circle-arrow-left"></i> Back
                                                </button>
                                                <button class="btn btn-primary btn-o next-step btn-wide pull-right" ng-click="next()">
                                                    Next <i class="fa fa-arrow-circle-right"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                  
                                </div>
                                <div id="step-3" ng-show="currentStep == 3">
                                    <div class="row">
                                        <div class="col-md-12" style="height: 100vh;margin-top: -20px;">
                                            <div data-ng-include=" 'assets/views/matrices/e-matrix.html'"></div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <button class="btn btn-primary btn-o back-step btn-wide pull-left" ng-click="prev()">
                                                    <i class="fa fa-circle-arrow-left"></i> Back
                                                </button>
                                                <button class="btn btn-primary btn-o next-step btn-wide pull-right" ng-click="next()">
                                                    Next <i class="fa fa-arrow-circle-right"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="step-4" ng-show="currentStep == 4">
                                    <div class="row">
                                        <div class="col-md-12" style="height: 100vh;margin-top: -20px;">
                                            <div data-ng-include=" 'assets/views/matrices/f-matrix.html'"></div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <button class="btn btn-primary btn-o back-step btn-wide pull-left" ng-click="prev()">
                                                    <i class="fa fa-circle-arrow-left"></i> Back
                                                </button>
                                                <button class="btn btn-primary btn-o next-step btn-wide pull-right" ng-click="next()">
                                                    Next <i class="fa fa-arrow-circle-right"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="step-5" ng-show="currentStep == 5">
                                    <div class="row">
                                        <div class="col-md-12" style="height: 100vh;margin-top: -20px;">
                                            <div data-ng-include=" 'assets/views/matrices/def-matrix.html'"></div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <button class="btn btn-primary btn-o back-step btn-wide pull-left" ng-click="prev()">
                                                    <i class="fa fa-circle-arrow-left"></i> Back
                                                </button>
                                                <button class="btn btn-primary btn-o next-step btn-wide pull-right" ng-click="next()">
                                                    Next <i class="fa fa-arrow-circle-right"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="step-6" ng-show="currentStep == 6">
                                    <div class="row">
                                        <div class="col-md-12" style="height: 100vh;margin-top: -20px;">
                                            <div data-ng-include=" 'assets/views/matrices/a-matrix.html'"></div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <button class="btn btn-primary btn-o back-step btn-wide pull-left" ng-click="prev()">
                                                    <i class="fa fa-circle-arrow-left"></i> Back
                                                </button>
                                                <button class="btn btn-primary btn-o next-step btn-wide pull-right" ng-click="next()">
                                                    Next <i class="fa fa-arrow-circle-right"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="step-7" ng-show="currentStep == 7">
                                    <div class="row">
                                        <div class="col-md-12" style="height: 100vh;margin-top: -20px;">
                                            <div data-ng-include=" 'assets/views/matrices/b-matrix.html'"></div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <button class="btn btn-primary btn-o back-step btn-wide pull-left" ng-click="prev()">
                                                    <i class="fa fa-circle-arrow-left"></i> Back
                                                </button>
                                               
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                       
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<style type="text/css">
    .grid-cell-text-center {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .grid-cell-text-center-hrz {
        display: flex;
        align-items: center;
    }
     /* .ag-header-cell{
        border-right: 1px solid #BDC3C7;
       
    }
    .ag-header-cell-text {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 16px;
        font-weight: 700;
    }*/
    .dashboard.swMain > ul {
        margin-bottom: 10px;
        border-radius: 0;
    }
    #step-1,#step-2,#step-3,#step-4,#step-5,#step-6,#step-7,#step-8,#step-9 {
        padding: 15px;
    }
    .dashboard.swMain > ul li > a.stepActive .stepNumber {
        background-color: #58748B;
        color: white;
    }

    .dashboard.swMain > ul li > a.selected.active .stepNumber{
        background: green;
        color: white;
        border-color: green;
    }

    .dashboard.swMain ul li > a.done .stepNumber:before, .dashboard.swMain > ul li:last-child > a.selected .stepNumber:before {
        content: unset;
        display: inline;
        float: right;
        font-family: FontAwesome;
        font-weight: 300;
        height: auto;
        text-shadow: none;
        margin-right: 7px;
        text-indent: 0;
    }

    .dashboard.swMain ul li > a.done .stepNumber, .dashboard.swMain > ul li:last-child > a.selected .stepNumber {
        border-color: #58748B ;
        background-color: #58748B ;;
        color: #fff ; 
        text-indent: 0;
    }

    .dashboard.swMain ul li > a.done .stepNumber, .dashboard.swMain > ul li:last-child > a.selected.active .stepNumber {
        background: green;
        color: white;
        border-color: green;
        text-indent: 0;
    }

    /*Grid css start*/
     .rag-blue {
        background-color:  #00abff;
    }
    .rag-green {
        background-color: #5dad5d;
    }
    .rag-orange {
        background-color: #fecd07;
    }
    .rag-yellow {
        background-color: yellow;
    }
    .back-color2{
        background-color:#f9d5ae;
    }
    .back-color3 {
        background-color:lightgreen;
    }
    .my-class .ag-header-cell-label .ag-header-cell-text {
        text-overflow: clip! important;
        overflow: visible! important;
        white-space: normal!important; 
        margin-top:0px! important;
        padding-top: 5px;
        padding-bottom: 5px;
        text-align: center;
        font-size: 12px;
        font-weight: 650;
        writing-mode: vertical-rl;
    }
    .back-color {
        background-color: #99dabca8! important;
    }

    .ag-theme-balham .ag-header-cell-label {
        display: initial!important;
        float: left;
        height: 100%;
        width: calc(100% - 16px);
    }
    .ag-header-cell{
        border-right: 1px solid #BDC3C7 !important;
    }
    .ag-header-cell .ag-header-cell-text{ 
        display: inline-block; 
        text-overflow: clip; 
        overflow: visible;
        font-size: 12px;
        font-weight: 650;
        white-space: normal!important; 
        line-height:18px! important;
        margin-top:30px;
        width: 100%;
        text-align: center;
    } 
    .ag-theme-balham {
        background-color: white;
        color: #000;
        font: 400 11px -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif! important;
    }
    .ag-theme-balham .ag-header {
        background-color:hsla(0, 100%, 50%, 0.11)! important;
        color: rgba(0, 0, 0, 0.54);
        font: 600 11px -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif! important;
    }
    .ag-theme-balham .ag-cell {
        border-right: 1px solid #BDC3C7 !important;
    }
    .ag-theme-balham .ag-header-cell, .ag-theme-balham .ag-header-group-cell {
        padding-left: 2px! important;   
    }
    .ag-theme-balham .ag-row {
        border-bottom-color: #d9dcde;
    }
    .ag-theme-balham .ag-header-cell-resize:after {
        content: '' !important;
        height: 0px;
        display: none;
        border-right: 0px solid;
        border: 0px;
        box-sizing: unset;
        width: 0px;
    }
    /*Grid css end*/

</style>