<div class="container-fluid container-fullw" style="padding: 0;">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-white">
                <div class="panel-body-custom">
                    <div class="row" ng-controller="DailyBasisLossCtrl">
                        <div class="col-md-12" style="height: 66vh;">
                            <div class="panel panel-white no-radius">
                                <div class="panel-heading border-bottom text-center">
                                    <div class="fca-logo">
                                        <img src="assets/images/main/mindnerves_logo.png" >
                                    </div>
                                    <h2 class="panel-title">Daily Loss</h2>
                                    <ct-paneltool class="panel-tools" tool-expand="tool-expand"></ct-paneltool>
                                </div>
                                <div class="panel-body">
                                    <div class="row padding-10 padding-top-0">
                                        <div id="filterId" class="col-md-12 margin-bottom-5 margin-top-5" >
                                            <div class="col-md-2 padding-bottom-10 padding-top-5 bg-body">
                                                <div class="filter-color no-border"> &nbsp; </div>
                                                <button class="btn btn-primary" ng-click="addDailyBasisLoss()">
                                                    <i class="fa fa-plus margin-right-5"></i> Add Daily Loss 
                                                </button>
                                            </div>
                                            <div class="col-md-3 padding-bottom-10 padding-top-5 bg-body loss-select">
                                                <div class="filter-color no-border">Loss Type </div>
                                                    <div ng-dropdown-multiselect="" options="dropdownLossTypes" selected-model="lossFilterItems"></div>
                                            </div>
                                            <div class="col-md-2 padding-bottom-10 padding-top-5 bg-body">
                                                 <div class="filter-color no-border">Start Date </div>
                                                <input type="date" class="filter-color" ng-model="filter.startDate" />
                                            </div>
                                            <div class="col-md-2 padding-bottom-10 padding-top-5 bg-body">
                                                <div class="filter-color no-border">End Date </div>
                                                <input type="date" class="filter-color" ng-model="filter.endDate" />
                                            </div>
                                            <div class="col-md-3 padding-bottom-10 padding-top-5 bg-body">
                                                <div class="filter-color no-border"> &nbsp; </div>
                                                <button class="btn btn-wide btn-dark-azure uib-dropdown-toggle dropdown-toggle" ng-click="loadDailyBasisLossGrid()"> Apply Filter </button>
                                                <button class="btn btn-primary btn-o" ng-click="resetGridFilter()"> Reset Filter </button>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div id="dailyBasisLossId" class="ag-theme-balham"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
   

</script>
<style type="text/css">

    #dailyBasisLossId {
        height: calc(100vh - 215px);
    }
    .filter-color {
        border: 1px solid #58748B;
        color: #58748B;
    }
    .loss-select .dropdown-toggle , .loss-select .dropdown-multiselect{
        min-width: 100%;
        max-width: 100%;
    }

    .loss-select .dropdown-menu {
        height: 250px !important;
        width: 100%;        
    }
    .loss-select .dropdown-menu > li > a {
        line-height: 10px !important;
    }
</style>