<div class="container-fluid container-fullw" style="padding: 0;">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-white">
                <div class="panel-body-custom">
                    <div class="row" ng-controller="LossReportCtrl">
                        <div class="col-md-12" style="height: 66vh;">
                            <div class="panel panel-white no-radius">
                                <div class="panel-heading border-bottom text-center">
                                    <div class="fca-logo">
                                        <img src="assets/images/main/mindnerves_logo.png" >
                                    </div>
                                    <h2 class="panel-title">Loss Report</h2>
                                    <ct-paneltool class="panel-tools" tool-expand="tool-expand"></ct-paneltool>
                                </div>
                                <div class="panel-body">
                                    <div class="row padding-10">
                                        <div class="col-md-12">
                                            <div id="lossReportId" class="ag-theme-balham"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
   

</script>
<style type="text/css">
    #lossReportId {
        height: calc(100vh - 150px);
    }
    #lossReportId .casual-header {
        background-color: #5daec3;
        border-right: 1px solid #BDC3C7;
    }
    #lossReportId .resultant-header {
        background-color: #38b345;
        border-right: 1px solid #BDC3C7;
    }
    #lossReportId .ag-header-group-text {
        margin: auto;
        height: 40px !important;
        font-size: 20px;
        font-weight: 900;
        color: #fff;
    }
    #lossReportId .casual-header .ag-header-cell-text ,#lossReportId .resultant-header .ag-header-cell-text {
        color: #fff;
    }
</style>