<div class="container-fluid container-fullw" style="padding: 0;">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-white">
                <div class="panel-body-custom">
                    <div class="row" ng-controller="MachineDataCtrl">
                        <div class="col-md-12" style="height: 66vh;">
                            <div class="panel panel-white no-radius">
                                <div class="panel-heading border-bottom text-center">
                                    <div class="fca-logo">
                                        <img src="assets/images/main/mindnerves_logo.png" >
                                    </div>
                                    <h2 class="panel-title">Machine Data</h2>
                                    <ct-paneltool class="panel-tools"  tool-expand="tool-expand"></ct-paneltool>
                                </div>
                                <div class="panel-body">
                                    <div class="row padding-10">
                                        <div class="col-xs-12 col-sm-12 col-md-12">
                                            <fieldset>
                                                <legend class="machine-legand"> Machine Data </legend>
                                                <form name="Form" novalidate>
   <!--                                                  <div class="row col-md-12">
                                                        <div class="col-md-4 padding-left-0">
                                                            <div class="form-group" ng-class="{'has-error': Form.etu.$dirty && Form.etu.$invalid, 'has-success':Form.etu.$valid}">
                                                                <label>ETU <span class="symbol required"></span> </label>
                                                                <span class="clip-select">
                                                                    <select class="form-control" name="etu" ng-model="selectedETU.id" required>
                                                                        <option ng-repeat="etuObj in etuList" ng-value="{{etuObj.id}}">{{etuObj.etuName}}</option>
                                                                    </select>
                                                                </span>
                                                                <span class="error text-small block" ng-if="Form.etu.$dirty && Form.etu.$invalid">ETU is required</span>
                                                            </div>
                                                        </div>
                                                    </div> -->
                                                    <table class="tbl-machindata table-striped" style="width: 100%;">
                                                        <thead style="width: 100%;">  
                                                            <tr class="btn-dark-azure">
                                                                <th> OP No </th>
                                                                <th> No of Machine </th>
                                                                <th> FACTOR </th>
                                                                <th> No of Operator </th>
                                                                <th> No of KWh </th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr ng-repeat="machinData in machinDataList">
                                                                <td class="center">{{machinData.opNo}}</td>
                                                                <td><input type="number" min="0" ng-model="machinData.noOfMachine"></td>
                                                                <td><input type="number" min="0" ng-model="machinData.factor"></td>
                                                                <td><input type="number" min="0" ng-model="machinData.noOfOperator"></td>
                                                                <td><input type="number" min="0" ng-model="machinData.noOfKWh"></td>
                                                            </tr>
                                                        </tbody>
                                                   </table>
                                                    <div class="row padding-top-20 pull-right">
                                                        <div class="col-md-12"> 
                                                            <button class="btn btn-wide btn-dark-azure" ng-click="saveMachineData(Form)">
                                                            <i class="margin-right-5 " ng-class="isLoading ? 'fa fa-spinner fa-pulse fa-fw' : 'fa fa-floppy-o' "></i> Save </button>
                                                        </div>
                                                    </div>                                                   
                                               </form>
                                           </fieldset>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

</script>

<style type="text/css">
    .machine-legand {
        color: #5d7fc8;
        font-weight: bold;
    }

    .tbl-machindata table, .tbl-machindata td, .tbl-machindata th {
        border: 1px solid black;
    }

    .tbl-machindata td.row-header, .tbl-machindata th {
       padding: 10px 15px;
       text-align: center;
    }

    .tbl-machindata input {
        height: 40px;
        text-align: center;
        width: 100%;
    }


</style>