<div class="container-fluid container-fullw" style="padding: 0;">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-white">
                <div class="panel-body-custom">
                    <div class="row" ng-controller="MasterDataCtrl">
                        <div class="col-md-12" style="height: 66vh;">
                            <div class="panel panel-white no-radius">
                                    <div class="panel-heading border-bottom text-center">
                                        <div class="fca-logo">
                                            <img src="assets/images/main/mindnerves_logo.png" >
                                        </div>
                                        <h2 class="panel-title">Master Data</h2>
                                        <ct-paneltool class="panel-tools" tool-expand="tool-expand"></ct-paneltool>
                                    </div>
                                    <div class="panel-body">
                                        <form name="Form" novalidate>
                                            <div class="row padding-10">
                                                <div class="col-md-12">
                                                    <fieldset>
                                                        <legend class="master-legand">
                                                            Master Data 
                                                        </legend>
                                                        <div class="row col-md-12">
                                                            <div class="col-md-4">
                                                                <div class="form-group" ng-class="{'has-error':Form.etu.$dirty && Form.etu.$invalid, 'has-success':Form.etu.$valid}">
                                                                    <label>ETU <span class="symbol required"></span> </label>
                                                                    <span class="clip-select">
                                                                        <select class="form-control" name="etu" ng-model="masterDataForm.etu.id" required>
                                                                            <option ng-repeat="etuObj in etuList" ng-value="{{etuObj.id}}">{{etuObj.etuName}}</option>
                                                                        </select>
                                                                    </span>
                                                                    <span class="error text-small block" ng-if="Form.etu.$dirty && Form.etu.$invalid">ETU is required</span>
                                                                </div>
                                                            </div>   
                                                        </div>
                                                        <div class="row col-md-12">
                                                            <div class="col-md-4">
                                                                <div class="form-group" ng-class="{'has-error':Form.directLabourCost.$dirty && Form.directLabourCost.$invalid, 'has-success':Form.directLabourCost.$valid}">
                                                                    <label> Direct Labour Cost <span class="symbol required"></span> </label>
                                                                    <input type="number" placeholder="Enter Direct Labour Cost" class="form-control" name="directLabourCost" ng-model="masterDataForm.directLabourCost" required />
                                                                    <span class="error text-small block" ng-if="Form.directLabourCost.$dirty && Form.directLabourCost.$invalid">Direct Labour Cost is required</span>
                                                                </div>
                                                            </div>                                                            
                                                            <div class="col-md-4">
                                                                <div class="form-group" ng-class="{'has-error':Form.indirectLabourCost.$dirty && Form.indirectLabourCost.$invalid, 'has-success':Form.indirectLabourCost.$valid}">
                                                                    <label> Indirect Labour Cost <span class="symbol required"></span> </label>
                                                                    <input type="number" placeholder="Enter Indirect Labour Cost" class="form-control" name="indirectLabourCost" ng-model="masterDataForm.indirectLabourCost" required/>
                                                                    <span class="error text-small block" ng-if="Form.indirectLabourCost.$dirty && Form.indirectLabourCost.$invalid">Indirect Labour Cost is required</span>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-4">
                                                                <div class="form-group" ng-class="{'has-error':Form.salariedCost.$dirty && Form.salariedCost.$invalid, 'has-success':Form.salariedCost.$valid}">
                                                                    <label> Salaried Cost <span class="symbol required"></span> </label>
                                                                    <input type="number" placeholder="Enter Salaried Cost" class="form-control" name="salariedCost" ng-model="masterDataForm.salariedCost" required />
                                                                    <span class="error text-small block" ng-if="Form.salariedCost.$dirty && Form.salariedCost.$invalid">Salaried Cost is required</span>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="row col-md-12">
                                                            <div class="col-md-4">
                                                                <div class="form-group" ng-class="{'has-error':Form.energyCost.$dirty && Form.energyCost.$invalid, 'has-success':Form.energyCost.$valid}">
                                                                    <label> Energy Cost <span class="symbol required"></span> </label>
                                                                    <input type="number" placeholder="Enter Energy Cost" class="form-control" name="energyCost" ng-model="masterDataForm.energyCost" required />
                                                                    <span class="error text-small block" ng-if="Form.energyCost.$dirty && Form.energyCost.$invalid"> Energy Cost is required</span>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-4">
                                                                <div class="form-group" ng-class="{'has-error':Form.energyFactor.$dirty && Form.energyFactor.$invalid, 'has-success':Form.energyFactor.$valid}">
                                                                    <label> Energy Factor <span class="symbol required"></span> </label>
                                                                    <input type="number" placeholder="Enter Energy Factor" class="form-control" name="energyFactor" ng-model="masterDataForm.energyFactor" required />
                                                                    <span class="error text-small block" ng-if="Form.energyFactor.$dirty && Form.energyFactor.$invalid">Energy Factor is required</span>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-4">
                                                                <div class="form-group" ng-class="{'has-error':Form.noOfLabour.$dirty && Form.noOfLabour.$invalid, 'has-success':Form.noOfLabour.$valid}">
                                                                    <label> No of Labour <span class="symbol required"></span> </label>
                                                                    <input type="number" placeholder="Enter No of Labour" class="form-control" name="noOfLabour" ng-model="masterDataForm.noOfLabour" required />
                                                                    <span class="error text-small block" ng-if="Form.noOfLabour.$dirty && Form.noOfLabour.$invalid">No of Labour is required</span>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="row col-md-12">                                                            
                                                            <div class="col-md-4">
                                                                <div class="form-group" ng-class="{'has-error':Form.totalConnecedLoad.$dirty && Form.totalConnecedLoad.$invalid, 'has-success':Form.totalConnecedLoad.$valid}">
                                                                    <label> Total Conneced Load <span class="symbol required"></span> </label>
                                                                    <input type="number" placeholder="Enter Total Conneced Load" class="form-control" name="totalConnecedLoad" ng-model="masterDataForm.totalConnecedLoad" required />
                                                                    <span class="error text-small block" ng-if="Form.totalConnecedLoad.$dirty && Form.totalConnecedLoad.$invalid"> Total Conneced Load is required</span>
                                                                </div>
                                                            </div>

                                                            <div class="col-md-4">
                                                                <div class="form-group" ng-class="{'has-error':Form.machineScrap.$dirty && Form.machineScrap.$invalid, 'has-success':Form.machineScrap.$valid}">
                                                                    <label> Machine Scrap <span class="symbol required"></span> </label>
                                                                    <input type="number" placeholder="Enter Machine Scrap" class="form-control" name="machineScrap" ng-model="masterDataForm.machineScrap" required />
                                                                    <span class="error text-small block" ng-if="Form.machineScrap.$dirty && Form.machineScrap.$invalid">Machine Scrap is required</span>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-4">
                                                                <div class="form-group" ng-class="{'has-error':Form.cycleTime.$dirty && Form.cycleTime.$invalid, 'has-success':Form.cycleTime.$valid}">
                                                                    <label> Cycle Time <span class="symbol required"></span> </label>
                                                                    <input type="number" placeholder="Enter Cycle Time" class="form-control" name="cycleTime" ng-model="masterDataForm.cycleTime" required />
                                                                    <span class="error text-small block" ng-if="Form.cycleTime.$dirty && Form.cycleTime.$invalid">Cycle Time is required</span>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="row col-md-12">
                                                            <div class="col-md-4">
                                                                <div class="form-group" ng-class="{'has-error':Form.materialScrap.$dirty && Form.materialScrap.$invalid, 'has-success':Form.materialScrap.$valid}">
                                                                    <label> Material Scrap <span class="symbol required"></span> </label>
                                                                    <input type="number" placeholder="Enter Material Scrap" class="form-control" name="materialScrap" ng-model="masterDataForm.materialScrap" required />
                                                                    <span class="error text-small block" ng-if="Form.materialScrap.$dirty && Form.materialScrap.$invalid">Material Scrap is required</span>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-4">
                                                                <div class="form-group" ng-class="{'has-error':Form.noOfWhiteCollar.$dirty && Form.noOfWhiteCollar.$invalid, 'has-success':Form.noOfWhiteCollar.$valid}">
                                                                    <label> No of White Collar <span class="symbol required"></span> </label>
                                                                    <input type="number" placeholder="Enter No of White Collar" class="form-control" name="noOfWhiteCollar" ng-model="masterDataForm.noOfWhiteCollar" required />
                                                                    <span class="error text-small block" ng-if="Form.noOfWhiteCollar.$dirty && Form.noOfWhiteCollar.$invalid">No of White Collar is required</span>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-4">
                                                                <div class="form-group" ng-class="{'has-error':Form.toolCostPerPart.$dirty && Form.toolCostPerPart.$invalid, 'has-success':Form.toolCostPerPart.$valid}">
                                                                    <label> Tool cost/part <span class="symbol required"></span> </label>
                                                                    <input type="number" placeholder="Enter Tool cost/part" class="form-control" name="toolCostPerPart" ng-model="masterDataForm.toolCostPerPart" required />
                                                                    <span class="error text-small block" ng-if="Form.toolCostPerPart.$dirty && Form.toolCostPerPart.$invalid">Tool cost/part is required</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </fieldset>
                                                  
                                                    <div class="form-group pull-right">
                                                        <button class="btn btn-primary margin-right-15" ng-click="setMasterForm()">
                                                            <i class="fa fa-refresh margin-right-5"></i> Reset
                                                        </button>
                                                        <button class="btn btn-success margin-right-50" ng-click="saveMasterData(Form)">
                                                           <i class="margin-right-5 " ng-class="isLoading ? 'fa fa-spinner fa-pulse fa-fw' : 'fa fa-floppy-o' "></i> Save 
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
   

</script>
<style type="text/css">
 .master-legand {
    color: #3DC34B !important;
    font-weight: bold;
 }
</style>