<div class="modal-header">
    <h3 class="modal-title"> {{modalTitle}} </h3>
</div>
<form name="Form" novalidate>
    <div class="modal-body padding-bottom-0 padding-top-10">
        <div class="row">
            <div class="col-md-12">
                <div class="row col-md-12">
                    <div class="col-md-6">
                        <div class="form-group" ng-class="{'has-error':Form.dailyBasisLossType.$dirty && Form.dailyBasisLossType.$invalid, 'has-success':Form.dailyBasisLossType.$valid}">
                            <label>Loss Type <span class="symbol required"></span> </label>
                            <span class="clip-select">
                                <select class="form-control" name="dailyBasisLossType" ng-model="dailyBasisForm.dailyBasisLossType.id" ng-change="lossChange()"  required>
                                    <option ng-repeat="loss in dailyBasisLossTypes" ng-value="{{loss.id}}">{{loss.lossName}}</option>
                                </select>
                            </span>
                            <span class="error text-small block" ng-if="Form.dailyBasisLossType.$dirty && Form.dailyBasisLossType.$invalid"> Loss Type is required</span>
                        </div>
                    </div>   
                </div>
                <div class="row col-md-12">
                    <div class="col-md-6">
                        <div class="form-group" ng-class="{'has-error':Form.lossDate.$dirty && Form.lossDate.$invalid, 'has-success':Form.lossDate.$valid}">
                            <label> Loss Date <span class="symbol required"></span> </label>
                            <input type="date" class="form-control" name="lossDate" ng-model="dailyBasisForm.lossDate" required />
                            <span class="error text-small block" ng-if="Form.lossDate.$dirty && Form.lossDate.$invalid">Loss Date is required</span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group" ng-class="{'has-error':Form.shift.$dirty && Form.shift.$invalid, 'has-success':Form.shift.$valid}">
                            <label>Shift <span class="symbol required"></span> </label>
                            <span class="clip-select">
                                <select class="form-control" name="shift" ng-model="dailyBasisForm.shift" required ng-options="shif for shif in shiftList">
                                </select>                                
                            </span>
                            <span class="error text-small block" ng-if="Form.shift.$dirty && Form.shift.$invalid"> Shift is required</span>
                        </div>
                    </div>                

                    <div class="col-md-6">
                        <div class="form-group" ng-class="{'has-error':Form.opNo.$dirty && Form.opNo.$invalid, 'has-success':Form.opNo.$valid}">
                            <label>OP no <span class="symbol required"></span> </label>
                            <span class="clip-select">
                                <select class="form-control" name="opNo" ng-model="dailyBasisForm.opNo" required>
                                    <option ng-repeat="op in opNumberList" ng-value="{{op}}">{{op}}</option>
                                </select>
                            </span>
                            <span class="error text-small block" ng-if="Form.opNo.$dirty && Form.opNo.$invalid"> OP no is required</span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group" ng-class="{'has-error':Form.lossDescription.$dirty && Form.lossDescription.$invalid, 'has-success':Form.lossDescription.$valid}">
                            <label> Loss Description <span class="symbol required"></span> </label>
                            <input type="text" placeholder="Enter Loss Description" class="form-control" name="lossDescription" ng-model="dailyBasisForm.lossDescription" required autocomplete="off"/>
                            <span class="error text-small block" ng-if="Form.lossDescription.$dirty && Form.lossDescription.$invalid"> Loss Description is required</span>
                        </div>
                    </div>                

                    <div class="col-md-6">
                        <div class="form-group" ng-class="{'has-error':Form.lossInMinutes.$dirty && Form.lossInMinutes.$invalid, 'has-success':Form.lossInMinutes.$valid}">
                            <label> Loss in Minute <span class="symbol required"></span> </label>
                            <input type="number" placeholder="Enter Loss in Minute" class="form-control" name="lossInMinutes" ng-model="dailyBasisForm.lossInMinutes" required />
                            <span class="error text-small block" ng-if="Form.lossInMinutes.$dirty && Form.lossInMinutes.$invalid">Loss in Minute is required</span>
                        </div>
                    </div>
                    <div class="col-md-6" ng-show="isShow_scrapQuantitySameOP">
                        <div class="form-group" ng-class="{'has-error':Form.scrapQuantitySameOP.$dirty && Form.scrapQuantitySameOP.$invalid, 'has-success':Form.scrapQuantitySameOP.$valid}">
                            <label> Scrap/Rework qty (Same OP) <span class="symbol required"></span> </label>
                            <input type="number" placeholder="Enter Scrap/Rework qty (Same OP)" class="form-control" name="scrapQuantitySameOP" ng-model="dailyBasisForm.scrapQuantitySameOP" required />
                            <span class="error text-small block" ng-if="Form.scrapQuantitySameOP.$dirty && Form.scrapQuantitySameOP.$invalid"> Scrap/Rework qty (Same OP) is required</span>
                        </div>
                    </div>
                    <div class="col-md-6" ng-show="isShow_indirectMaterialCost">
                        <div class="form-group" ng-class="{'has-error':Form.indirectMaterialCost.$dirty && Form.indirectMaterialCost.$invalid, 'has-success':Form.indirectMaterialCost.$valid}">
                            <label> Indirect Material Cost <span class="symbol required"></span> </label>
                            <input type="number" placeholder="Enter Indirect Material Cost" class="form-control" name="indirectMaterialCost" ng-model="dailyBasisForm.indirectMaterialCost" required />
                            <span class="error text-small block" ng-if="Form.indirectMaterialCost.$dirty && Form.indirectMaterialCost.$invalid">Indirect Material Cost is required</span>
                        </div>
                    </div>
                    <div class="col-md-6" ng-show="isShow_maintenanceMaterialCost">
                        <div class="form-group" ng-class="{'has-error':Form.maintenanceMaterialCost.$dirty && Form.maintenanceMaterialCost.$invalid, 'has-success':Form.maintenanceMaterialCost.$valid}">
                            <label> Maintenance Material Cost <span class="symbol required"></span> </label>
                            <input type="number" placeholder="Enter Maintenance Material Cost" class="form-control" name="maintenanceMaterialCost" ng-model="dailyBasisForm.maintenanceMaterialCost" required />
                            <span class="error text-small block" ng-if="Form.maintenanceMaterialCost.$dirty && Form.maintenanceMaterialCost.$invalid">Maintenance Material Cost is required</span>
                        </div>
                    </div>

                    <div class="col-md-6" ng-show="isShow_others">
                        <div class="form-group" ng-class="{'has-error':Form.others.$dirty && Form.others.$invalid, 'has-success':Form.others.$valid}">
                            <label> Others <span class="symbol required"></span> </label>
                            <input type="number" placeholder="Enter Others" class="form-control" name="others" ng-model="dailyBasisForm.others" required />
                            <span class="error text-small block" ng-if="Form.others.$dirty && Form.others.$invalid">Others is required</span>
                        </div>
                    </div>
                    <div class="col-md-6" ng-show="isShow_scrapQuantityOtherOP">
                        <div class="form-group" ng-class="{'has-error':Form.scrapQuantityOtherOP.$dirty && Form.scrapQuantityOtherOP.$invalid, 'has-success':Form.scrapQuantityOtherOP.$valid}">
                            <label> Scrap qty (other OP) <span class="symbol required"></span> </label>
                            <input type="number" placeholder="Enter Scrap qty (other OP)" class="form-control" name="scrapQuantityOtherOP" ng-model="dailyBasisForm.scrapQuantityOtherOP" required />
                            <span class="error text-small block" ng-if="Form.scrapQuantityOtherOP.$dirty && Form.scrapQuantityOtherOP.$invalid">Scrap qty (other OP) is required</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="pull-right">
            <button type="button" class="btn btn-primary margin-right-10" ng-click="setDailyBasisForm()">
                <i class="fa fa-refresh margin-right-5"></i> Reset
            </button>
            <button class="btn btn-success margin-right-10" ng-click="saveDailyBasisLoss(Form)">
               <i class="margin-right-5" ng-class="isLoading ? 'fa fa-spinner fa-pulse fa-fw' : 'fa fa-floppy-o' "></i> Save 
            </button>
            <button type="button" class="btn btn-primary btn-o margin-right-10" data-dismiss="modal" ng-click="cancel()">
                <i class="fa fa-close margin-right-5"></i> Close
            </button>
        </div>
    </div>
</form>


<style type="text/css">
    

</style>