<!-- start: TOP NAVBAR -->
<header class="navbar navbar-default navbar-static-top hidden-print">
    <!-- start: NAVBAR HEADER -->
    <div class="navbar-header" ng-controller="AppCtrl">
        <button href="javascript:void(0)" class="menu-mobile-toggler btn no-radius pull-left hidden-md hidden-lg" id="horizontal-menu-toggler" ng-click="menuToggle()" v-pressable>
            <i class="fa fa-bars"></i>
        </button>
        <button href="javascript:void(0)" class="sidebar-mobile-toggler btn no-radius pull-left hidden-md hidden-lg" id="sidebar-toggler" ng-click="toggle('sidebar')" v-pressable>
            <i class="fa fa-bars"></i>
        </button>
        <a class="navbar-brand" ui-sref="app.dashboard"> <img ng-src="{{app.layout.logo}}" alt="{{app.name}}" /> </a>
        <a class="navbar-brand navbar-brand-collapsed" ui-sref="app.dashboard"> <img ng-src="{{app.layout.logoCollapsed}}" alt="" /> </a>
        <!-- <button class="btn pull-right menu-toggler visible-xs-block" id="menu-toggler" ng-click="navbarCollapsed = !navbarCollapsed" v-pressable>
            <i ng-class="navbarCollapsed ? 'fa fa-folder' : 'fa fa-folder-open'"></i> <small><i class="fa fa-caret-down margin-left-5"></i></small>      	
        </button> -->
    </div>
    <!-- end: NAVBAR HEADER -->
    <!-- start: NAVBAR COLLAPSE -->
    <div class="navbar-collapse collapse" uib-collapse="navbarCollapsed" ng-init="navbarCollapsed = true" off-click="navbarCollapsed = true" off-click-if='!navbarCollapsed' off-click-filter="'#menu-toggler'">
        <ul class="nav navbar-left hidden-sm hidden-xs">
            <li class="sidebar-toggler-wrapper">
                <div>
                    <button href="javascript:void(0)" class="btn sidebar-toggler visible-md visible-lg" ng-click="app.layout.isSidebarClosed = !app.layout.isSidebarClosed" v-pressable>
                        <i class="fa fa-bars"></i>
                    </button>
                </div>
            </li>
           <!--  <li>
                <a ng-click="goFullscreen()"> <i class="fa fa-expand" ng-show="!isFullscreen"></i> <i class="fa fa-compress" ng-show="isFullscreen"></i></a>
            </li> -->
           <!--  <li>
                <form role="search" class="navbar-form main-search">
                    <div class="form-group">
                        <input type="text" placeholder="{{ 'search.PLACEHOLDER' | translate }}" class="form-control">
                        <button class="btn search-button" type="submit">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                </form>
            </li> -->
        </ul>
        <ul class="nav navbar-right" ct-fullheight="window" data-ct-fullheight-exclusion="header" data-ct-fullheight-if="isSmallDevice" style="text-align: right;top: 14px;" ng-init="getAllETUType();getCDYearList();">
            <li>
                <button type="button" ui-sref="homepage" class="btn btn-dark-azure bg-blue">
                    <span class="glyphicon glyphicon-home margin-right-5"></span> Home 
                </button>
            </li>
            <li>
                <div class="btn-group" uib-dropdown is-open="cdDropdown.isopen">
                    <button type="button" class="btn btn-wide btn-dark-azure uib-dropdown-toggle" uib-dropdown-toggle ng-disabled="disabled" style="background-color: #6fa7d7; border-color: #6fa7d7;">
                        <span ng-if="!selectedCD || selectedCD.name == null" > CD YEAR </span> 
                        <span ng-if="selectedCD && selectedCD.name != null" > {{ selectedCD.name }} </span> 
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu" style="max-height: 24vh;overflow-y: auto; ">
                        <li  ng-class="{'active': cdYear.id == selectedCD.id }" ng-repeat="cdYear in cdYearList">
                            <a href="#" ng-click="onAfterSelectCDYear(cdYear)"> {{cdYear.name}} </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="view-all">
                <div class="btn-group" uib-dropdown is-open="etuDropdown.isopen">
                    <button type="button" class="btn btn-wide btn-dark-azure uib-dropdown-toggle" uib-dropdown-toggle ng-disabled="disabled2" style="background-color: #6fa7d7; border-color: #6fa7d7;">
                        ETU <span ng-if ="!selectedETU || selectedETU.etuName == null" > NAME </span> <span ng-if ="selectedETU && selectedETU.etuName != null" > : {{ selectedETU.etuName }} </span>
                        <span class="caret"></span>
                    </button>
                     <ul class="dropdown-menu" role="menu" style="max-height: 24vh;overflow-y: auto; ">
                        <li  ng-class="{'active': etu.id == selectedETU.id }" ng-repeat="etu in etuTypeList" >
                            <a href="#" ng-click="onAfterSelectEtu(etu)"> {{etu.etuName}} </a>
                        </li>
                    </ul> 
                </div>
            </li>
            <li>
                <button type="button" ng-click="logoutUser()" class="btn btn-dark-azure bg-danger">
                    <span class="glyphicon glyphicon-off"></span> Logout 
                </button>
            </li>
            <!-- <label style="font-weight: bold; margin-bottom: 0;">ETU Name </label>
            <span class="clip-select">
                <select class="etuSelect form-control" style="background-color: #e7eaec !important; width: 115px; font-size: 11px !important;">
                    <option ng-selected="{{etu.id == selectedETU}}" ng-repeat="etu in etuTypeList" value="{{etu.id}}">{{etu.etuName}}</option>
                </select>
            </span> -->
            <!-- start: MESSAGES DROPDOWN -->
            <!-- /// controller:  'InboxCtrl' -  localtion: assets/js/controllers/InboxCtrl.js /// -->
           <!--  <li class="dropdown" uib-dropdown on-toggle="toggled(open)" ng-controller="InboxCtrl">
                <a href class="dropdown-toggle" uib-dropdown-toggle>
                    <notification-icon count='scopeVariable'>
                        <i class="fa fa-envelope"></i>
                    </notification-icon>
                </a>
                <ul class="dropdown-menu dropdown-light dropdown-messages dropdown-large animated fadeInUpShort">
                    <li>
                        <span class="dropdown-header" translate="topbar.messages.HEADER"> Unread messages</span>
                    </li>
                    <li>
                        <div class="drop-down-wrapper ps-container">
                            <ul>
                                <li class="unread" ng-repeat="message in messages | orderBy: 'date':true | limitTo:3 ">
                                    <a href="javascript:;" ng-class="{ unread: !message.read }">
                                        <div class="clearfix">
                                            <div class="thread-image">
                                                <img ng-src="{{ message.avatar && message.avatar || noAvatarImg }}" alt="" class="img-responsive img-rounded">
                                            </div>
                                            <div class="thread-content">
                                                <span class="author">{{message.from}}</span>
                                                <span class="preview">{{ message.content | htmlToPlaintext | words:15 :true }}</span>
                                                <span class="time"> {{ message.date | date: "MM/dd/yyyy 'at' h:mma" }}</span>
                                            </div>
                                        </div>
                                    </a>
                                </li>

                            </ul>
                        </div>
                    </li>
                    <li class="view-all">
                        <a href="javascript:void(0)" translate="topbar.messages.SEEALL"> See All </a>
                    </li>
                </ul>
            </li> -->
            <!-- end: MESSAGES DROPDOWN -->
            <!-- start: ACTIVITIES DROPDOWN -->
            <!-- <li class="dropdown" uib-dropdown on-toggle="toggled(open)">
                <a href class="dropdown-toggle" uib-dropdown-toggle><i class="fa fa-bell"></i></a>
                <ul class="dropdown-menu dropdown-light dropdown-messages dropdown-large animated fadeInUpShort">
                    <li>
                        <span class="dropdown-header" translate="topbar.activities.HEADER"> You have new notifications</span>
                    </li>
                    <li>
                        <div class="drop-down-wrapper ps-container">
                            <div class="list-group no-margin">
                                <a class="media list-group-item" href=""> <img class="img-circle" alt="..." src="assets/images/avatar-1.jpg"> <span class="media-body block no-margin"> Use awesome animate.css <small class="block text-grey">10 minutes ago</small> </span> </a>
                                <a class="media list-group-item" href=""> <span class="media-body block no-margin"> 1.0 initial released <small class="block text-grey">1 hour ago</small> </span> </a>
                            </div>
                        </div>
                    </li>
                    <li class="view-all">
                        <a href="javascript:void(0)" translate="topbar.activities.SEEALL"> See All </a>
                    </li>
                </ul>
            </li> -->
            <!-- end: ACTIVITIES DROPDOWN -->
            <!-- start: LANGUAGE SWITCHER -->
            <!-- <li class="dropdown" uib-dropdown on-toggle="toggled(open)">
                <a href class="dropdown-toggle" uib-dropdown-toggle> <i class="flag-icon" ng-class="'flagstyle'| translate"></i><span>&nbsp;{{language.selected}}</span> </a>
                <ul role="menu" class="dropdown-menu dropdown-light animated fadeInUpShort ">
                    <li ng-repeat="(localeId, langName) in language.available">
                        <a ng-click="language.set(localeId, $event)" href="javascript:void(0)" class="menu-toggler"> {{langName}} </a>
                    </li>
                </ul>
            </li> -->
            <!-- end: LANGUAGE SWITCHER -->
        </ul>
        <!-- start: MENU TOGGLER FOR MOBILE DEVICES -->
        <div class="close-handle visible-xs-block menu-toggler" ng-click="navbarCollapsed = true" ng-swipe-up="navbarCollapsed = true">
            <div class="arrow-left"></div>
            <div class="arrow-right"></div>
        </div>
        <div class="row" style="padding-top: 17px; display: flex; flex-direction: column;justify-content: center;align-items: center; margin-left: 115px;"> 
            <h3 style="margin: 0;"> {{ pageHeaderTitle }}</h3>
            <span class="text-small"> {{pageSubHeaderTitle}}</span>
        </div>
        <!-- end: MENU TOGGLER FOR MOBILE DEVICES -->
    </div>
   <!--  <button class="sidebar-mobile-toggler dropdown-off-sidebar btn hidden-md hidden-lg" ng-click="toggle('off-sidebar')" v-pressable>
        &nbsp;
    </button>
    <button class="dropdown-off-sidebar btn hidden-sm hidden-xs" ng-click="toggle('off-sidebar')" v-pressable>
        &nbsp;
    </button> -->
    <!-- end: NAVBAR COLLAPSE -->
</header>
<!-- end: TOP NAVBAR -->
<!-- start: HORIZONTAL MENU -->
<!-- <div data-ng-include=" 'assets/views/partials/horizontal-menu.html' " class="navbar navbar-default horizontal-menu collapse" uib-collapse="horizontalNavbarCollapsed" off-click="menuInit(true)" off-click-if='!horizontalNavbarCollapsed' off-click-filter="'#horizontal-menu-toggler'"> -->

</div>
<!-- end: HORIZONTAL MENU -->
<style type="text/css">
    .navbar-brand.navbar-brand-collapsed img{
        width: 47px;
        height: 50px;
    }

    .navbar-brand img{
        width: 200%;
        height: 120%;
    }
</style>