<div class="container-fluid container-fullw">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-white">
                <div class="panel-body">
                    <h5 class="over-title margin-bottom-15"><span class="text-bold">Upload Layouts</span></h5>
                    <!-- /// controller:  'UploadCtrl2' -  localtion: assets/js/controllers/uploadCtrl.js /// -->
                    <div ng-controller="LayoutUploadCtrl"  nv-file-drop="" uploader="uploaderImages">
                        <form name="LayoutForm"> 
                            <div class="row"> 
                                <div class="col-xs-12 col-sm-4  col-md-3">
                                    <div class="form-group" ng-class="{'has-error':LayoutForm.selectedCDYear.$dirty && LayoutForm.selectedCDYear.$invalid, 'has-success':LayoutForm.selectedCDYear.$valid}">
                                        <label>CD Year <span class="symbol required"></span> </label>
                                        <span class="clip-select">
                                            <select class="form-control" name="selectedCDYear" ng-model="selectedCDYear" required>
                                                <option  ng-repeat="cdYear in cdYearList" value="{{cdYear.id}}">{{cdYear.name}}</option>
                                            </select>
                                        </span>
                                        <span class="error text-small block" ng-if="LayoutForm.selectedCDYear.$dirty && LayoutForm.selectedCDYear.$invalid">CD is required. </span>
                                    </div>
                                </div> 
                                <div class="col-xs-12 col-sm-4  col-md-3"> 
                                    <div class="form-group" ng-class="{'has-error': LayoutForm.layoutType.$dirty && LayoutForm.layoutType.$invalid, 'has-success':LayoutForm.layoutType.$valid}">
                                        <label>Layout Type <span class="symbol required"> </span></label>
                                        <span class="clip-select">
                                            <select class="form-control" name="layoutType" ng-model="layoutType" required="" >
                                                <option value="Plant Layout"> Plant Layout</option>
                                                <option value="Line Layout"> Line Layout</option>
                                                <option value="Plant RMC"> Plant RMC</option>
                                                <option value="ETU RMC"> ETU RMC</option>
                                                <option value="Plant C Matrix Loss Distribution"> Plant C Matrix Loss Distribution</option>
                                                <option value="Plant C Matrix Pareto"> Plant C Matrix Pareto</option>
                                                <option value="ETU C Matrix Pareto"> ETU C Matrix Pareto</option>
                                                <option value="ETU C Matrix Loss Distribution"> ETU C Matrix Loss Distribution</option>
                                                <option value="S Matrix"> S Matrix</option>
                                                <option value="QA Matrix"> QA Matrix</option>
                                            </select>
                                        </span>
                                        <span class="error text-small block" ng-if="LayoutForm.layoutType.$dirty && LayoutForm.layoutType.$invalid">Layout Type is required</span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <h5>Select files</h5>
                                    <div class="panel panel-white">
                                        <div class="panel-body">
                                            <div ng-show="uploaderImages.isHTML5">
                                                <div nv-file-drop="" uploader="uploaderImages" options="{ url: '/foo' }">
                                                    <div nv-file-over="" uploader="uploaderImages" over-class="another-file-over-class" class="well my-drop-zone my-drop-zone-1">
                                                       Drop file here
                                                    </div>
                                                </div>
                                            </div>
                                            <span class="btn btn-primary btn-o btn-file">
                                                Select an image file
                                                <input type="file" nv-file-select="" uploader="uploaderImages" multiple />
                                            </span>
                                            <br />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-9 file-upload" style="margin-bottom: 40px">
                                    <h4>Upload Layout </h4>
                                    <div class="table-responsive">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th width="50%">Name</th>
                                                    <th ng-show="uploaderImages.isHTML5">Size</th>
                                                    <th ng-show="uploaderImages.isHTML5">Progress</th>
                                                    <th>Status</th>
                                                    <th>Actions</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="item in uploaderImages.queue">
                                                    <td><strong>{{ item.file.name }}</strong><!-- Image preview --><!--auto height--><!--<div ng-thumb="{ file: item.file, width: 100 }"></div>--><!--auto width--><div ng-show="uploaderImages.isHTML5" ng-thumb="{ file: item._file, height: 100 }"></div><!--fixed width and height --><!--<div ng-thumb="{ file: item.file, width: 100, height: 100 }"></div>--></td>
                                                    <td ng-show="uploaderImages.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
                                                    <td ng-show="uploaderImages.isHTML5">
                                                        <div class="progress progress-xs margin-bottom-0">
                                                            <div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
                                                        </div>
                                                    </td>
                                                    <td class="text-center"><span ng-show="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span><span ng-show="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span><span ng-show="item.isError"><i class="glyphicon glyphicon-remove"></i></span></td>
                                                    <td nowrap>
                                                        <button type="button" class="btn btn-primary btn-xs" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                                                            <span class="glyphicon glyphicon-upload"></span> Upload
                                                        </button>
                                                        <button type="button" class="btn btn-warning btn-xs" ng-click="item.cancel()" ng-disabled="!item.isUploading">
                                                            <span class="glyphicon glyphicon-ban-circle"></span> Cancel
                                                        </button>
                                                        <button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">
                                                            <span class="glyphicon glyphicon-trash"></span> Remove
                                                        </button>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style type="text/css">
    .my-drop-zone-1{
        text-align: center;
        height: 126px;
        padding: 50px;
    }
</style>