 <div style="height: 100%;" ng-controller="PeoplePerformanceEvaluationReportCtrl">
    <div class="" style="padding: 15px;">
     	<div class="panel">
     		<div class="container">
     			<div  class="row">
     				<form name="report"> 
	     				<div class="col-md-3">
							<div class="form-group">
	                            <label>Year<span class="symbol required"></span></label>
                                    <select class="cs-select cs-skin-slide" ng-options="item for item in calendarYearList" ng-model="calendarSelectedYear">
                                        <option value="" disabled="">Select</option>
                                    </select>
	                             <span class="error text-small block" ng-if="report.selectedYear.$dirty && report.selectedYear.$invalid">year is required
	                             </span>
	                        </div>
						</div>
						<div class="col-md-3">
							<div class="form-group">
	                            <label>Employee <span class="symbol required"></span></label>
	                            <span class="">
	                                <select class="form-control" multiple="multiple" name="employee" ng-model="selectedEmployees">
	                                    <option ng-repeat="emp in employeeList" value="{{emp.id}}">{{emp.name}}</option>
	                                </select>
	                            </span>
	                        </div>
	                    </div>					
	                    <div class="col-md-3">
							<div class="form-group">
								 <button class="btn btn-wide btn-dark-azure" ng-click="getReportData()"> Filter </button>
	                        </div>
	                    </div>
	                </form>
     			</div>
				<div class="container-fluid container-fullw">
					<div class="row">
						<div class="col-xs-12 col-md-12">
							<div class="panel panel-white no-radius no-margin">
								<div class="panel-heading border-light padding-30">
									<div class="row">
										<div class="col-lg-4 col-xs-5">
											<span class="input-icon">
												<input type="text" ng-model="searchEmployee" placeholder="Search Employee..." id="form-field-14" class="form-control radius-10">
												<i class="ti-search"></i> </span>
										</div>
										<div class="col-lg-8 col-xs-7 text-right">
											<div ng-show="(employeeData | filter : searchEmployee).length == 0" style="font-weight: bold; font-size: 15px;">No Records Found
                               				 </div>
										</div>
									</div>
								</div>
								<div class="panel-body padding-top-0">
									<table class="table no-margin">
										<tbody>
											<tr ng-repeat="emp in employeeData | filter : searchEmployee">
												<td class="" style="width: 150px;">
													<div class="icons-effect">
														<img  class="img-responsive img-rounded" ng-src="{{ getProfileImageUrl(emp.userId)}}" style="height: 150px;" onerror="this.src='assets/images/default-user.png'" alt="">
													</div>
												</td>
												<td>
													<table border="1" class="table no-margin border-light border-dark">
											        <tr>
											        	<th>
											        		<div class="block text-center" style="font-size: 14px;">
																<strong>Employee Name  </strong>
															</div>
											        	</th>
											        		
											        	<th>
											        		<div class="block text-center" style="font-size: 14px;">
												        		<strong>No of projects</strong>
											        		</div>
											        	</th>
											        	<th>
											        		<div class="block text-center" style="font-size: 14px;">
												        		<strong>Saving</strong>
												        	</div>
											        	</th>
											        </tr>
											        <tr>
											         	<td class="max-width-100 text-center">
															<div class="text-muted">
																<strong>{{emp.user.name}}</strong>
															</div>
														</td>
														<td class="max-width-100  text-center">
															<div class="">
																<div class="text-muted" style="font-size: 15px;">
																	<strong>{{emp.noOfProjects ? emp.noOfProjects : 1}}</strong>
																</div>
															</div>
											         	</td>
											         	<td class="max-width-100 text-center" >
											         		<div class="">
																<div class="text-muted" style="font-size: 15px;">
																		<strong>{{ getRoundedSaving(emp.savingFactor ,emp.projectSavings )}}</strong>
																</div>
															</div>
											         	</td>
											        </tr>
											      </table>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
	     			</div>
	     		</div>
			</div>
		</div>
	</div> 
</div>
<style type="text/css">
	.media-heading {
	    margin-top: 30px;
	}

	.table > tbody > tr > th{
		background-color: lightgray;
	}
	
</style>