<div  ng-controller="ProjectSavingReportCtrl">
	<br><br>
	<div class="row"> 
	    <div class="col-md-1"> 
	    </div>
	    <div class="col-md-2"> 
			<div class="form-group">
                <div style="color: white;  padding: 5px 16px; font-size: 20px; background: #86868a;">
               		Savings :  <strong> {{ totalRMCSavings / ( rmcFactor * 10000) |currency:'' }} % </strong>
                </div>
            </div>
	    </div>
	     <div class="col-md-5"></div> 
	    <div class="col-md-4"> 
	        <div class="form-group">
                <select class="cs-select cs-skin-slide" ng-options="item for item in calendarYearList" ng-model="calendarSelectedYear" ng-change="projectMonthlySavingDataLoad(calendarSelectedYear);">
                    <option value="" disabled="">Select</option>
                </select>
            </div>
        </div>
    </div> 
	<div id="chart" style="text-align: center;"></div>
</div>