<div class="container-fluid container-fullw" style="padding: 0;">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-white">
                <div class="panel-body-custom">
                    <div class="row" ng-controller="ReportCtrl">
                        <div class="col-md-12" style="height: 66vh;">
                            <div class="panel panel-white no-radius">
                                    <div class="panel-heading border-bottom text-center">
                                        <div class="fca-logo">
                                            <img src="assets/images/main/mindnerves_logo.png" >
                                        </div>
                                        <h2 class="panel-title">{{panelTitle}}</h2>
                                        <span class="dash-custom-actions-panel">  
                                            <i class="fa fa-mail-reply"  ng-if="isHideDashboardPanel" ng-click="backToReportPanel()"></i>
                                        </span> 
                                        <ct-paneltool class="panel-tools"  tool-expand="tool-expand"></ct-paneltool>
                                    </div>
                                    <!-- <div class="panel-body" ng-class="{'panel-body-blue': !isHideDashboardPanel }" >
                                        <div class="row" ng-if="!isHideDashboardPanel" > 
                                            <div class="col-xs-12 col-sm-12 col-md-12"> 
                                                <div class="col-xs-12 col-sm-12 col-md-12"> 
                                                    <button class="btn btn-primary dash-panel" ng-click="changeReport('report1')">On going Project Status</button>
                                                </div>
                                                <div class="col-xs-12 col-sm-12 col-md-12"> 
                                                    <button class="btn btn-primary dash-panel"  ng-click="changeReport('report2')"> User Savings</button>
                                                </div>
                                                <div class="col-xs-12 col-sm-12 col-md-12"> 
                                                    <button class="btn btn-primary dash-panel" ng-click="changeReport('report3')" > Project Savings</button>
                                                </div>
                                                <div class="col-xs-12 col-sm-12 col-md-12"> 
                                                    <button class="btn btn-primary dash-panel" ng-click="changeReport('report4')" > People Performance </button>
                                                </div>
                                                 <div class="col-xs-12 col-sm-12 col-md-12"> 
                                                    <button class="btn btn-primary dash-panel" ng-click="changeReport('report5')" > Skill Inventory </button>
                                                </div>
                                            </div>
                                        </div>
                                      
                                        <div class="image-layout" ng-if="isShowReportFirst" > 
                                            <div data-ng-include=" 'assets/views/report/reportFirst.html'" style="height: 100%;overflow-y: auto;"></div>  
                                        </div>
                                        <div class="image-layout" ng-if="isShowReportSecond" > 
                                            <div data-ng-include="'assets/views/report/peoplePerformanceEvaluationReport.html'" style="height: 100%;overflow-y: auto;"></div>  
                                        </div>                                        
                                        <div class="image-layout" ng-if="isShowReportThird" > 
                                            <div data-ng-include=" 'assets/views/report/projectSavings.html'" style="height: 100%;overflow-y: auto;"></div>  
                                        </div>
                                        <div class="image-layout" ng-if="isShowReportForth" > 
                                            <div data-ng-include="'assets/views/report/userProjectSavingReport.html'" style="height: 100%;overflow-y: auto;"></div>  
                                        </div> 
                                        <div class="image-layout" ng-if="isShowReportFifth" > 
                                            <div data-ng-include="'assets/views/report/skillInventoryReport.html'" style="height: 100%;overflow-y: auto;"></div>  
                                        </div>  
                                    </div> -->
                                    <div class="panel-body"  >
                                        <div class="row report-container" ng-if="!isHideDashboardPanel" > 
                                            <div class="col-xs-12 col-sm-2 col-md-2 no-padding rep-item" ng-click="changeReport('report1')"> 
                                                <p>
                                                    On going Projects
                                                </p>
                                                <img src="assets/images/main/PDCA_.jpg">
                                            </div>
                                            <div class="col-xs-12 col-sm-2 col-md-2 no-padding rep-item" ng-click="changeReport('report2')">
                                                <p>
                                                    User Savings
                                                </p> 
                                                <img src="assets/images/main/images__1_.jpeg" >
                                            </div>
                                            <div class="col-xs-12 col-sm-2 col-md-2 no-padding rep-item" ng-click="changeReport('report3')">
                                                <p>
                                                    Project Savings
                                                </p> 
                                                <img src="assets/images/main/Savings.png" >
                                            </div>
                                            <div class="col-xs-12 col-sm-2 col-md-2 no-padding rep-item" ng-click="changeReport('report4')" >
                                                <p>
                                                    Employee Performence 
                                                </p> 
                                                <img src="assets/images/main/images.jpeg" >
                                            </div>
                                            <div class="col-xs-12 col-sm-2 col-md-2 no-padding rep-item" ng-click="changeReport('report5')">
                                                <p>
                                                    Skill Inventory 
                                                </p> 
                                                <img src="assets/images/main/sc.png" >
                                            </div>
                                            <div class="col-xs-12 col-sm-2 col-md-2 no-padding rep-item" ng-click="changeReport('report6')" ng-if="showEtuPillar">
                                                    <p>
                                                        Plant Pillar's 
                                                    </p> 
                                                    <img src="assets/images/main/C_Matrix.jpg" >
                                            </div>
                                            <div class="col-xs-12 col-sm-2 col-md-2 no-padding rep-item" ng-click="changeReport('report7')" ng-if="showEtuPillar">
                                                    <p>
                                                       Plant ETU's
                                                    </p> 
                                                    <img src="assets/images/main/C_Matrix.jpg" >
                                            </div>
                                        </div>
                                      
                                        <div class="image-layout" ng-if="isShowReportFirst" > 
                                            <div data-ng-include=" 'assets/views/report/reportFirst.html'" style="height: 100%;overflow-y: auto;"></div>  
                                        </div>
                                        <div class="image-layout" ng-if="isShowReportSecond" > 
                                            <div data-ng-include="'assets/views/report/peoplePerformanceEvaluationReport.html'" style="height: 100%;overflow-y: auto;"></div>  
                                        </div>                                        
                                        <div class="image-layout" ng-if="isShowReportThird" > 
                                            <div data-ng-include=" 'assets/views/report/projectSavings.html'" style="height: 100%;overflow-y: auto;"></div>  
                                        </div>
                                        <div class="image-layout" ng-if="isShowReportForth" > 
                                            <div data-ng-include="'assets/views/report/userProjectSavingReport.html'" style="height: 100%;overflow-y: auto;"></div>  
                                        </div> 
                                        
                                        <div class="image-layout" ng-if="isShowReportFifth" > 
                                            <div data-ng-include="'assets/views/report/skillInventoryReport.html'" style="height: 100%;overflow-y: auto;"></div>  
                                        </div>
                                        <div class="image-layout" ng-if="isShowReportSixth" > 
                                            <div data-ng-include="'assets/views/report/userPlantPillarSavingReport.html'" style="height: 100%;overflow-y: auto;"></div>  
                                        </div>
                                        <div class="image-layout" ng-if="isShowReportSeventh" > 
                                            <div data-ng-include="'assets/views/report/userPlantETUSavingReport.html'" style="height: 100%;overflow-y: auto;"></div>  
                                        </div>  
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="costGrid-tooltip" style="position: absolute;">
    <span class="tooltiptext" style="padding: 5px">{{tooltipData}}</span>
</div> 
<script type="text/javascript">
   
    function showTooltip(params) {
        $('#e_matrix').scope().showTooltipData(params);
    }
    function hideTooltip(){
        $('#e_matrix').scope().hideTooltipData();
    }
</script>
<style type="text/css">
   /* button.dash-panel {
        margin: 10px;
        background-color: #1a559d;
        min-width: 115px;
        max-width: 115px;
    }*/

    button.dash-panel {
        margin: 10px;
        background-color: #1a559d;
        min-width: 100%;
        /*max-width: 115px;*/
        height: 100px;
        font-size: 38px;
    }

    .panel-body-custom .panel-body {
        height: calc(100vh - 110px) !important;
        box-sizing: border-box;
        padding: 0;
    }

    .panel-body-blue{
        background: #c2dfff;
        border: 1px solid blue;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .panel-fullscreen.isInFullScreen .panel-body {
        height: calc(100vh - 80px) !important;
    }

    .image-layout {
        width: 100%;
        height:100%;
    }

    .panel-back-tools {
        position: absolute;
        right: 76px;
        top: 14px;
        font-size: 12px;
        z-index: 1;
    }
    .panel-fullscreen.isInFullScreen  .panel-back-tools {
        top: 30px;
    } 
    .panel-back-tools {
        top: 14px;
    }    
    .panel-back-tools i{
        padding: 9px;
        cursor: pointer;
    }

    .image-layout img {
        width: 100%;
        height:100%;
    }
    /*Grid css start*/
     .rag-blue {
        background-color:  #00abff;
    }
    .rag-green {
        background-color: #5dad5d;
    }
    .rag-orange {
        background-color: #fecd07;
    }
    .rag-yellow {
        background-color: yellow;
    }
    .back-color2{
        background-color:#f9d5ae;
    }
    .back-color3 {
        background-color:lightgreen;
    }
    .back-color5 {
        background-color: #b6e6b7;
    }
    .back-color5 .ag-header-group-cell {
        border-right: 1px solid #BDC3C7 !important;
        background-color: #b6e6b7;
    }
    .my-class .ag-header-cell-label .ag-header-cell-text {
        text-overflow: clip! important;
        overflow: visible! important;
        white-space: normal!important; 
        margin-top:0px! important;
        padding-top: 5px;
        padding-bottom: 5px;
        text-align: center;
        font-size: 12px;
        font-weight: 650;
        writing-mode: vertical-rl;
    }
    .back-color {
        background-color: #99dabca8! important;
    }

    .ag-theme-balham .ag-header-cell-label {
        display: initial!important;
        float: left;
        height: 100%;
        width: calc(100% - 16px);
    }
    .ag-header-cell{
        border-right: 1px solid #BDC3C7 !important;
    }
    .ag-header-cell .ag-header-cell-text{ 
        display: inline-block; 
        text-overflow: clip; 
        overflow: visible;
        font-size: 12px;
        font-weight: 650;
        white-space: normal!important; 
        line-height:18px! important;
        margin-top:30px;
        width: 100%;
        text-align: center;
    } 
    .ag-theme-balham {
        background-color: white;
        color: #000;
        font: 400 11px -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif! important;
    }
    .ag-theme-balham .ag-header {
        background-color:hsla(0, 100%, 50%, 0.11)! important;
        color: rgba(0, 0, 0, 0.54);
        font: 600 11px -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif! important;
    }
    .ag-theme-balham .ag-cell {
        border-right: 1px solid #BDC3C7 !important;
    }
    .ag-theme-balham .ag-header-cell, .ag-theme-balham .ag-header-group-cell {
        padding-left: 2px! important;   
    }
    .ag-theme-balham .ag-row {
        border-bottom-color: #d9dcde;
    }
    .ag-theme-balham .ag-header-cell-resize:after {
        content: '' !important;
        height: 0px;
        display: none;
        border-right: 0px solid;
        border: 0px;
        box-sizing: unset;
        width: 0px;
    }
    .def-matrix .ag-theme-balham .ag-header {
        background-color: #d6e3bc! important;
        color: rgba(0, 0, 0, 0.54);
        font: 600 11px -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif! important;
    }
    .def-matrix .ag-header-group-cell {
        border-right: 1px solid #BDC3C7 !important;
        background-color: #d99594! important;
    }

    .def-matrix .method-tool-bg-color {
        background-color: #b8cce4;
    }
    .def-matrix .team-bg-color {
        background-color: #3ed686;
    }
    .def-matrix .pillar-bg-color {
        background-color: #9abee6;
    }
    .def-matrix .saving-bg-color {
        background-color: #b6dde8;
    }

    .def-matrix .ag-header-group-text {
        margin: auto;
        height: 40px !important;
        font-size: 20px;
        font-weight: 900;
    }


    .grid-cell-text-center {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .grid-cell-text-end {
        display: flex;
        align-items: center;
        justify-content: flex-end;
      }

    .grid-cell-text-center-hrz {
        display: flex;
        align-items: center;
    }

    .tooltiptext {
       visibility: hidden;
       opacity: 1;
       min-width: 120px;
       min-width: 120px;
       background-color: #555;
       color: #fff;
       text-align: center;
       border-radius: 6px;
       padding: 5px 0;
       position: absolute;
       z-index: 1;
       bottom: 125%;
       left: 50%;
       margin-left: -60px;
       transition: opacity 0.3s;
     }
    .tooltiptext::after {
       content: "";
       position: absolute;
       top: 100%;
       left: 50%;
       margin-left: -5px;
       border-width: 5px;
       border-style: solid;
       border-color: #555 transparent transparent transparent;
     }

   /* .d-matrix .ag-header-group-cell {
        border-right: 1px solid #BDC3C7 ;
        background-color: #d99594;
    }*/
    .d-matrix .basic-info-header {
        border-right: 1px solid #BDC3C7;
        background-color: #ffe3e3;
    }
    .d-matrix .ag-header-group-text {
        margin: auto;
        height: 40px !important;
        font-size: 20px;
        font-weight: 900;
    }

    .d-matrix .base-pillar-sub-header {
        border-right: 1px solid #BDC3C7 !important;
        background-color: #d99594! important;
    }
    .back-color6 {
        border-right: 1px solid #BDC3C7 !important;
        background-color: #f2f0f3! important;
    }
    /*Grid css end*/

    .fca-logo {
        display: flex;
        text-align: left;
    } 
    .fca-logo img{
        height: 83%;
        top: 6px;
        position: absolute;
    }

    .report-container{
        height: calc(100vh - 112px); 
        display:  flex; 
        align-items: center; 
        justify-content: space-between;
        cursor: pointer;
    }
    
    .report-container .rep-item {
        border: 1px solid gray;
        height: 225px;
    }

    .report-container .rep-item img {
        width: 100%;
        height: calc( 100% - 45px);
    }

    .report-container .rep-item p {
        background: #1e5799;
        background: -moz-linear-gradient(top,#1e5799 0,#2989d8 50%,#207cca 51%,#7db9e8 100%);
        background: -webkit-linear-gradient(top,#1e5799 0,#2989d8 50%,#207cca 51%,#7db9e8 100%);
        background: linear-gradient(to bottom,#1e5799 0,#2989d8 50%,#207cca 51%,#7db9e8 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8', GradientType=0 );
        color: #fff;
        padding: 0;
        text-align: center;
        font-size: 14px;
        border: 1px solid #000;
        border-bottom: none;
        height: 28px;
    }
</style>