 <div  ng-controller="DEFMatrixCtrl" style="height: 100%;">
    <div class="def-matrix-report" ng-show="showReportPanel" style="padding: 15px;margin-top: 35px;">
        <div class="row" ng-init="stageWorkingCount()">
        	<div id="chartPdcaStatus" style="text-align: center;"></div>
        </div>      
  
        <!-- <div class="row"  ng-init="stageWorkingCount()">
           
            <table style="width: 80%;margin: auto;">
            	<thead>
            		<th></th>
            		<th>Status </th>
            		<th> No of project </th>
            	</thead>
	            <tbody>
	            	<tr class="action-row" ng-click="stageWorkingData.dWorkingStages > 0 ? filterByState('A') : '' ">
	            		<td>
	            			1
	            		</td>
	            		<td>
	            			Plan 
	            		</td>
	            		<td>
	            			<a href=""> {{ stageWorkingData.pWorkingStages || 0 }}</a>
	            		</td>
	            	</tr>
	            	<tr class="action-row" ng-click="stageWorkingData.dWorkingStages > 0 ? filterByState('D') : '' ">
	            		<td>
	            			2
	            		</td>
	            		<td>
	            			Do
	            		</td>
	            		<td>
	            			<a href="" > {{ stageWorkingData.dWorkingStages || 0 }}</a>
	            		</td>
	            	</tr>
	            	<tr class="action-row" ng-click="stageWorkingData.dWorkingStages > 0 ? filterByState('C') : '' ">
	            		<td>
	            			3
	            		</td>
	            		<td>
	            			Check
	            		</td>
	            		<td>
	            			<a href="" > {{ stageWorkingData.cWorkingStages || 0 }}</a>
	            		</td>
	            	</tr>
	            	<tr class="action-row" ng-click="stageWorkingData.dWorkingStages ? filterByState('A') : '' ">
	            		<td>
	            			4
	            		</td>
	            		<td>
	            			Act
	            		</td>
	            		<td>
	            			<a href="" > {{ stageWorkingData.aWorkingStages || 0 }}</a>
	            		</td>
	            	</tr>
	            </tbody> 
            </table>
        </div> -->
    </div>
    <div  id="def_matrix"   ng-show="!showReportPanel" class="def-matrix ag-theme-balham " style="height: 100%;" > </div> 
</div> 
<style type="text/css">
	.def-matrix-report th ,.def-matrix-report td {
		text-align: center;
		border: 1px solid;
		    color: black;
		padding: 15px 10px;    
	}
	.def-matrix-report  tr.action-row:hover td {
		border: 1px solid #8db7f5;
		border-top: 2px solid #8db7f5;
		color: #8db7f5;
	} 
	.def-matrix-report .ag-theme-balham .ag-header {
	    background-color: #d6e3bc! important;
	    color: rgba(0, 0, 0, 0.54);
	    font: 600 11px -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif! important;
	}
	.def-matrix-report .ag-header-group-cell {
    	border-right: 1px solid #BDC3C7 !important;
    	background-color: #d99594! important;
	}

	.def-matrix-report .method-tool-bg-color {
		background-color: #b8cce4;
	}
	.def-matrix-report .team-bg-color {
		background-color: #3ed686;
	}
	.def-matrix-report .pillar-bg-color {
		background-color: #9abee6;
	}
	.def-matrix-report .saving-bg-color {
		background-color: #b6dde8;
	}

	.def-matrix-report .ag-header-group-text {
		margin: auto;
    	height: 40px !important;
    	font-size: 20px;
    	font-weight: 900;
	}
/*
	. {
		#d6e3bc
	}*/
</style>