<div  ng-controller="SkillInventoryReportCtrl" style="padding: 15px;">
	<br><br>
	<div class="row"> 
	    <div class="col-md-1"> 
	    </div>
	    <div class="col-md-2"> 
	    </div>
	     <div class="col-md-5"></div> 
	    <div class="col-md-4"> 
	        <div class="form-group">
                <select class="cs-select cs-skin-slide" ng-options="item for item in calendarYearList" ng-model="calendarSelectedYear" ng-change="userSkillReportDataLoad(calendarSelectedYear);">
                    <option value="" disabled="">Select</option>
                </select>
            </div>
        </div>
    </div> 
	<div id="skill_inventory_report"  class="skill-inventory ag-theme-balham" style="height: calc(100vh - 225px);"> </div>
</div>