<div  ng-controller="UserProjectSavingReportCtrl">
	<br><br>
	<div class="row"> 
	  
	    <div class="col-md-4"> 
			<div class="row text-center form-group">
		        <div class="radio clip-radio radio-primary">
			        <input type="radio" ng-model="displayingReportType" name="chartOpt" id="p_s" value="savings" ng-change="changeGraphOnClicked('savings')">
			        <label style="font-weight: bold;" for="p_s"> Savings  </label>
			        <input type="radio" ng-model="displayingReportType" name="chartOpt" id="p_n" value="noOfProject" ng-change="changeGraphOnClicked('noOfProject')">
			        <label style="font-weight: bold;" for="p_n"> Number Of Project's  </label>
		        </div>
		    </div>
		</div>

		<div class="col-md-4" > 
			<div class="form-group" ng-if="isSavingSelected">
				
				<select class="cs-select cs-skin-slide" ng-model="displayingReportCount" ng-change="changeGraphOnCheckClicked(displayingReportCount)">
				
					<option value="10">Top-10</option>
					<option value="20">Top-20</option>
				</select>

			</div>
			<div class="form-group" ng-if="isNumberSelected">
				
					<select class="cs-select cs-skin-slide" ng-model="displayingNumberCount" ng-change="changeGraphOnNumberChanged(displayingNumberCount)">
					
						<option value="10">Top-10</option>
						<option value="20">Top-20</option>
					</select>
	
			</div>
		</div>
		<!--  <div class="col-md-5"></div>  -->
	    <div class="col-md-4"> 
	        <div class="form-group">
                <select class="cs-select cs-skin-slide" ng-options="item for item in calendarYearList" ng-model="calendarSelectedYear" ng-change="userSavingsOnProject(calendarSelectedYear);">
                    <option value="" disabled="">Select</option>
                </select>
            </div>
        </div>
    </div> 
	<div id="userProjectSavingChart" style="text-align: center;"></div>
</div>