<div ng-controller="UserPlantETUSavingReportCtrl">
        <div class="row">
            <div class="col-md-12" ng-init="getFMatricesData()">

                    <div class="form-group" style="margin-left:80%; margin-top:5%; margin-right: 2%; " >
                            <select class="cs-select cs-skin-slide" ng-options="item for item in calendarYearList" ng-model="calendarSelectedYear" ng-change="getETUSavings(calendarSelectedYear);">
                                <option value="" disabled="">Select</option>
                            </select>
                    </div>
                <!-- <button class="btn btn-danger" ng-click="getFMatricesData()">click me</button> -->
            </div>
        </div>
        <div id="userPlantETUSavingChart" style="text-align:center;height: 100%; "></div>
    
    </div>