<div ng-controller="UserPlantPillarSavingReportCtrl">
    <div class="row">
        <div class="col-md-12" ng-init="getFMatricesData()">
        
            <div class="form-group" style="margin-left:80%; margin-top:5%; margin-right: 2%; " >
                <select class="cs-select cs-skin-slide" ng-options="item for item in calendarYearList" ng-model="calendarSelectedYear" ng-change="getPillarSavings(calendarSelectedYear);">
                    <option value="" disabled="">Select</option>
                </select>
            </div>
        
        </div>
    </div>
    <div id="userPlantPillarSavingChart" style="text-align:center"></div>

</div>