<div class="container-fluid container-fullw">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-white">
                <div class="panel-body">
                    <h5 class="over-title margin-bottom-15"><span class="text-bold">User Form</span></h5>
                    <!-- /// controller:  'UploadCtrl2' -  localtion: assets/js/controllers/uploadCtrl.js /// -->
                    <div ng-controller="UserFormCtrl">
                        <form name="UserForm"> 
                            <div class="row">
                                        
                                    <div id="projectDetailsCon" class="modal-body">
    
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="col-md-8">
                                    
                                            
                                                
                                                <div class="col-md-3 element" >
                                                    <div class="form-group">
                                                        <label> First Name </label>
                                                        <input type="text"  class="form-control" ng-model="UserForm.firstName"  />
                                                    </div>
                                                </div>
                                                <div class="col-md-3 element">
                                                    <div class="form-group">
                                                        <label> Last Name </label>
                                                        <input type="text"  class="form-control" ng-model="UserForm.lastName"  />
                                                    </div>
                                                </div>
                                                <div class="col-md-3 element">
                                                    <div class="form-group">
                                                        <label> User Name </label>
                                                        <input type="text"  class="form-control" ng-model="UserForm.username"  />
                                                    </div>
                                                </div>
                                            
                                    
                                            
                                                <div class="col-md-3 element">
                                                    <div class="form-group">
                                                        <label> Password </label>
                                                        <input type="text" class="form-control" ng-model="UserForm.password" />
                                                    </div>
                                                </div>
                                                <div class="col-md-3 element">
                                                    <div class="form-group">
                                                        <label> Email </label>
                                                        <input type="email"  class="form-control" ng-model="UserForm.email" />
                                                    </div>
                                                </div>  
                                                
                                                <div class="col-xs-6 col-sm-3 col-md-3 element">
                                                        <div class="form-group" >
                                                            <label> Gender </label>
                                                            <span class="clip-select">
                                                                <select class="form-control" name="gender" ng-model="UserForm.gender">
                                                                    <option  value="male">Male</option>
                                                                    <option  value="female">Female</option>
                                                                </select>
                                                            </span>
                                                        </div>
                                                </div>
                                                <div class="col-md-3 element">
                                                        <div class="form-group">
                                                            <label> EmployeeId </label>
                                                            <input type="number"  class="form-control" ng-model="UserForm.employeeId"/>
                                                        </div>
                                                </div>  
                                                
                                                <div class="col-md-3 element">
                                                        <div class="form-group">
                                                            <label> Nationality </label>
                                                            <input type="text"  class="form-control" ng-model="UserForm.nationality"  />
                                                        </div>
                                                </div>
                                    
                                                <div class="col-md-3 element">
                                                        <div class="form-group">
                                                            <label> City </label>
                                                            <input type="text"  class="form-control" ng-model="UserForm.city"  />
                                                        </div>
                                                </div>
                                    
                                                <div class="col-md-3 element">
                                                        <div class="form-group">
                                                            <label> Age </label>
                                                            <input type="number"  class="form-control" ng-model="UserForm.age"  />
                                                        </div>
                                                </div>
                                    
                                    
                                                <div class="col-md-3 element">
                                                        <div class="form-group">
                                                            <label> Name </label>
                                                            <input type="text"  class="form-control" ng-model="UserForm.name"  />
                                                        </div>
                                                </div>
                                    
                                                <div class="col-md-3 element">
                                                        <div class="form-group">
                                                            <label> ProfileImage </label>
                                                            <input type="text"  class="form-control" ng-model="UserForm.profileImage"  />
                                                        </div>
                                                </div>
                                    
                                               <!-- <div class="btn-group" uib-dropdown is-open="etuDropdown.isopen">
                                                        <button type="button" class="btn btn-wide btn-dark-azure uib-dropdown-toggle" uib-dropdown-toggle ng-disabled="disabled2" style="background-color: #6fa7d7; border-color: #6fa7d7;">
                                                            ETU <span ng-if ="!selectedETU || selectedETU.etuName == null" > NAME </span> <span ng-if ="selectedETU && selectedETU.etuName != null" > : {{ selectedETU.etuName }} </span> <span class="caret"></span>
                                                        </button>
                                                        
                                                </div>-->
                                                <div class="col-xs-6 col-sm-3 col-md-3 element">
                                                        <div class="form-group"  ng-init="getAllETUType();" >
                                                            <label> ETULevel </label>
                                                            <span class="clip-select">
                                                                <select class="form-control" name="groups" ng-model="UserForm.groups" >
                                                                    <option ng-class="{'active': etu.id == selectedETU.id }" ng-repeat="etu in allETUs" value="{{etu.id}}">{{etu.etuName}}</option>
                                                                </select>
                                                            </span>
                                                        </div>
                                                </div>
                                                
                                                <div class="col-md-3 element">
                                                        <div class="form-group">
                                                            <label> CreatedDate </label>
                                                            <input type="text"  class="form-control" ng-model="UserForm.createdDate"  />
                                                        </div>
                                                </div>
                                    
                                                <div class="col-md-3 element">
                                                        <div class="form-group">
                                                            <label> UserFile </label>
                                                            <input type="file" style="height:1.70em; padding-left: 0%;" id="emp_profile_img" class="form-control" ng-model="UserForm.file"  />
                                                        </div>
                                                </div>
                                                </div>
                                                
                                                <div class="col-md-4 ">
                                                    <div><img ng-src="{{app.layout.logo}}" alt="{{app.name}}" id="imagelogo" >
                                                        
                                                    </div>
                                                    <div><img ng-src="{{app.layout.logo}}" alt="{{app.name}}" id="imagepreview" ></div>
                                                </div>
                                                
                                            </div>
                                             </div> <!--Row nEnd-->
                                        </div>
                                        <div class="col-md-12">
                                            <div class="col-xs-12 col-sm-4  col-md-2">
                                                    <div class="form-group" >
                                                        <label>User Last Name <span class="symbol required"></span> </label>
                                                        <span >
                                                            
                                                                <input type="text" name="id" ng-model="UserForm.userLname" required/>
                                                            
                                                        </span>
                                                        <span class="error text-small block" ng-if="UserForm.userLname.$dirty && UserForm.masterLname.$invalid">Last Name is required. </span>
                                                    </div>
                                            </div>
                                        </div>    
                                        <div class="col-md-12">
                                            <div class="col-md-10"></div>
                                            <div class="col-xs-12 col-sm-4  col-md-2">
                                                <button type="button" class="btn btn-primary btn-lg" ng-click="setUser()" ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                                                        <span class="glyphicon glyphicon-search"></span> Upload
                                                    </button>
                                            </div>
                                        </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style type="text/css">
    .my-drop-zone-1{
        text-align: center;
        height: 126px;
        padding: 50px;
    }
</style>