<div class="modal-header">
    <h3 class="modal-title">{{headerTitle}} </h3><!-- Execution Start -->
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12"> 
            <p>{{textMessage}}</p> <!-- Are you want to start execution? -->
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 center">
        	<p class="text-small" style="color: red;"> {{ errorMessageExc }}</p>
        </div>
    </div>        
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">Yes</button>
    <button class="btn btn-primary btn-o" ng-click="cancel()">NO</button>
</div>