<div class="modal-header">
    <h3 class="modal-title" style="font-family: initial;">Sending Email</h3><!-- Execution Start -->
</div>
<div class="modal-body">
        <div class="row">

	
                <div class="col-md-12 ">
                    <div class="form-group" style="width: 100%;">
                        <label style="margin-left:5 px;">
                            <h6><b style="font-family:serif;"> Email has been sent to ETU Head and Finance Head for Approval </b></h6>
                        </label><br>
                        
      
                    </div>
                </div>
            </div>      
</div>
<div class="modal-footer">
        <button class="btn btn-primary btn-o" ng-click="sendEmail()"><b>OK</b> </button>
</div>
<style type="text/css">
.modal{
    margin-top: 17%;
}
.modal-body{
    font-family:serif ; 
    font-size: 10px;
}
</style>