<div class="modal-header">
    <h3 class="modal-title">Sending Email</h3><!-- Execution Start -->
</div>
<div class="modal-body">
        <div class="row">

	
                <div class="col-md-12">
                    <div class="form-group" style="width: 100%;">
                        <label style="margin-left:5 px;">
                            <h4> Email has been sent to Finance-Head for Finance Approval Only........ </h4>
                        </label><br>
                        
      
                    </div>
                </div>
            </div>      
</div>
<div class="modal-footer">
        <button class="btn btn-primary btn-o" ng-click="sendEmail()"><b>Close</b> </button>
</div>