<div class="modal-header">
    <h3 class="modal-title">Remark </h3>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12"> 
        	<form name="RemarkForm">
	            <div class="form-group" ng-class="{'has-error':RemarkForm.remarkText.$dirty && RemarkForm.remarkText.$invalid, 'has-success':RemarkForm.remarkText.$valid}">
			        <label> Enter plan execution remark here <span class="symbol required"></span> </label>
			        <textarea class="form-control" placeholder="Enter your remark " name="remarkText" ng-model="remarkText " required></textarea>
			        <span class="error text-small block" ng-if="RemarkForm.remarkText.$dirty && RemarkForm.remarkText.$invalid">Remark is required.</span>
			    </div>
        	</form>
        </div>
    </div>        
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="save(RemarkForm)">Yes</button>
    <button class="btn btn-primary btn-o" ng-click="cancel()">NO</button>
</div>