<div class="modal-header">
    <h3 class="modal-title">Yearly Potential Losses </h3>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12"> 
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 text-center"> 
                   <p>All values in Rs.</p>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6"> 
                    <div class="form-group" >
                        <label> Direct Labour</label>
                       <input type="number" placeholder="Loss value" class="form-control input-sm" name="direct_loss" ng-model="project.directLoss" />
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6"> 
                    <div class="form-group" >
                        <label> Indirect Labour</label>
                       <input type="number" placeholder="Loss value" class="form-control input-sm" name="LossValue_{{$index}}" ng-model="project.indirectLoss" />
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6"> 
                    <div class="form-group" >
                        <label> Salaried Payroll</label>
                       <input type="number" placeholder="Loss value" class="form-control input-sm" name="LossValue_{{$index}}" ng-model="project.staffLoss" />
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6"> 
                    <div class="form-group" >
                        <label>Indirect Materials Loss</label>
                       <input type="number" placeholder="Loss value" class="form-control input-sm" name="LossValue_{{$index}}" ng-model="project.indirectMaterialsLoss" />
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6"> 
                    <div class="form-group" >
                        <label> Maintenance Material</label>
                       <input type="number" placeholder="Loss value" class="form-control input-sm" name="LossValue_{{$index}}" ng-model="project.maintenanceLoss" />
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6"> 
                    <div class="form-group" >
                        <label> Scrap Loss</label>
                       <input type="number" placeholder="Loss value" class="form-control input-sm" name="LossValue_{{$index}}" ng-model="project.scrapLoss" />
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6"> 
                    <div class="form-group" >
                        <label> Energy Loss</label>
                       <input type="number" placeholder="Loss value" class="form-control input-sm" name="LossValue_{{$index}}" ng-model="project.energyLoss" />
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6"> 
                    <div class="form-group" >
                        <label> General Expensess Loss</label>
                       <input type="number" placeholder="Loss value" class="form-control input-sm" name="LossValue_{{$index}}" ng-model="project.expensessLoss" />
                    </div>
                </div>
            </div>
        </div>
    </div>        
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">OK</button>
    <button class="btn btn-primary btn-o" ng-click="cancel()">Cancel</button>
</div>


<!-- 
DIRECT 
INDIRECT 
STAFF
INDIRECT MATERIALS
MAINTENANCE
SCRAP
ENERGY
GENERAL EXPENSES
 -->