<div class="modal-header">
    <h3 class="modal-title">HR. Training Mail </h3>
</div>
<div class="modal-body">
    <form name="MailForm">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12"> 
                <div class="form-group" ng-class="{'has-error':MailForm.mailSubject.$dirty && MailForm.mailSubject.$invalid, 'has-success':MailForm.mailSubject.$valid}">
                    <label> Subject <span class="symbol required"></span> </label>
                    <input type="text" placeholder="Mail Subject" class="form-control" name="mailSubject" ng-model="mailInfo.mailSubject" required readonly="" />
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12"> 
    	            <div class="form-group" ng-class="{'has-error':MailForm.mailDescription.$dirty && MailForm.mailDescription.$invalid, 'has-success':MailForm.mailDescription.$valid}">
    			        <label> Description <span class="symbol required"></span> </label>
    			        <textarea class="form-control" placeholder="Enter your Description here.." name="mailDescription" ng-model="mailInfo.mailDescription " required></textarea>
    			        <span class="error text-small block" ng-if="MailForm.mailDescription.$dirty && MailForm.mailDescription.$invalid">Description is required.</span>
    			    </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12">
                <p>
                    Employees List :
                </p>
                <div class="row equal" ng-repeat="member in mailInfo.upgradeSkillUserList">
                    <div class="col-md-7">
                        <div class="form-group"  ng-class="{' has-error': MailForm['member_'+{{$index}}].$dirty && MailForm['member_'+{{$index}}].$invalid, 'has-success': MailForm['member_'+{{$index}}].$valid && $index === 0 }">
                            <label>
                                Employee ({{$index + 1}})  
                                <span class="symbol required" ng-if="$index === 0"></span>
                            </label>
                            <span class="clip-select">
                                <select class="form-control" name="member_{{$index}}" ng-model="member.userId" ng-required="$index === 0">
                                    <option class="user-opt" ng-repeat="user in allUserList" value="{{user.id}}">{{user.name}} <span ng-if="user.projectWorkingCount.totalProjectMember && user.projectWorkingCount.totalProjectMember > 0 " ng-class="{ 'user-opt-etu' : user.etuLevel > 0 }">({{user.projectWorkingCount.totalProjectMember || 0}}) </span></option>
                                </select>
                            </span>
                            <span class="error text-small block" ng-if="MailForm['member_'+$index].$dirty && MailForm['member_'+$index].$invalid">First employee is required</span>
                        </div>
                    </div>
                    <!-- <div class="col-md-2">
                        <div class="form-group">
                            <br>
                            <div class="checkbox clip-check check-primary checkbox-inline">
                                <input type="checkbox"  ng-model="member.filteredUser" id="show_all_users_{{$index}}" >
                                <label for="show_all_users_{{$index}}">
                                    Show All Users
                                </label>
                            </div>
                        </div>
                    </div> -->
                    <div class="col-md-1 text-center">
                         <span class="center_and_middle_txt" 
                            style="font-size: 30px;cursor: pointer;"
                            ng-if="$index != mailInfo.upgradeSkillUserList.length-1" 
                            ng-click="removeMember($index)">-</span>
                        <span class="center_and_middle_txt" 
                            style="font-size: 30px;cursor: pointer;"
                            ng-if="$index === mailInfo.upgradeSkillUserList.length-1" 
                            ng-click="addMember()">+</span>
                    </div>                                             
                </div>
            </div>
        </div>  
    </form>      
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="send(MailForm)">Yes</button>
    <button class="btn btn-primary btn-o" ng-click="cancel()">NO</button>
</div>