<div class="modal-header">
    <h3 class="modal-title"> Users skill level Update </h3>
</div>
<div class="modal-body">
    <div class="row skill-up-container">
        <div class="col-xs-12 col-sm-12 col-md-12" style="overflow: auto;padding-bottom: 10px;"> 
            <table width="100">
                <thead> 
                    <tr>
                        <th rowspan="2" colspan="2">
                            User 
                        </th>
                        <th colspan="{{methodsAndToolsList.length}}" ng-if="methodsAndToolsList.length > 0">
                            Methods And Tool
                        </th>
                        <th colspan="{{technicalToolsList.length}}" ng-if="technicalToolsList.length > 0" >
                            Technical Tool
                        </th>
                    </tr>
                    <tr>
                        <th ng-repeat="tool in methodsAndToolsList">
                            {{ tool }}
                        </th>
                        <th ng-repeat="tool in technicalToolsList">
                            {{ tool }}
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat-start="userData in userSkillList">
                        <td class="rowHeader" rowspan="3"> <div style="width: 250px;"> {{userData.user.name }} </div></td>
                        <td > <div  class="content"> <span> Skill</span> </div></td>
                        <td ng-repeat="methodAndTools in userData.methodAndTools" class="center" style="position: relative;">
                            <input type="number" name="" ng-model="methodAndTools.actualSkill" readonly="">
                        </td>
                        <td ng-repeat="technicalTools in userData.technicalTools" class="center" style="position: relative;">
                            <input type="text" name="" ng-model="technicalTools.actualSkill" readonly="">
                        </td>
                    </tr>
                    <tr  >
                        <td> <div  class="content"> <span> Upgraded Skill </span> </div></td>
                        <td ng-repeat="methodAndTools in userData.methodAndTools" class="center" style="position: relative;">
                            <input type="number" name="" min="0"  max='5' ng-model="methodAndTools.updatedSkill">
                        </td>
                        <td ng-repeat="technicalTools in userData.technicalTools" class="center" style="position: relative;">
                            <input type="number" name=""  min="0"  max='5' ng-model="technicalTools.updatedSkill">
                        </td>
                    </tr>
                    <tr ng-repeat-end >
                        <td> <div  class="content"> <span> Comment </span> </div></td>
                        <td ng-repeat="methodAndTools in userData.methodAndTools" class="center" style="position: relative;">
                            <input type="text" name="" ng-model="methodAndTools.comment">
                        </td>
                        <td ng-repeat="technicalTools in userData.technicalTools" class="center" style="position: relative;">
                            <input type="text" name="" ng-model="technicalTools.comment">
                        </td>
                    </tr>
                </tbody>
           </table>
        </div>
    </div>        
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="save()">Save</button>
    <button class="btn btn-primary btn-o" ng-click="cancel()">Cancel</button>
</div>
<style type="text/css">
    
    .skill-up-container th {
        padding: 10px 10px;
        border: 1px solid black;
        text-align: center;
    }
    
    .skill-up-container td {
        border: 1px solid black;
    }
    .skill-up-container td.rowHeader {
        padding: 10px 15px;
        text-align: center;
        border: 1px solid black;
    }

    .skill-up-container input {
        text-align: center;
        height: 35px;
        width: 100%;
    } 

    .skill-up-container td .content{
        width: 100px;
        height: 35px;
        display: flex;
        align-items: center;
    }

    .skill-up-container td .content span {
        width: 100%;
        text-align: center;
    }
</style>