<!-- start: LANDING PAGE -->
<div class="landing-page" ng-controller="HomeCtrl">
    <div class="landing-content dots-left dots-white">
            <!-- start: CAROUSEL -->
            <slick dots=true arrows=false infinite=false speed=300 autoplay=true autoplay-speed=6000 slides-to-show=1 slides-to-scroll=1 class="carousel">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="home-main">

                                    <div class="col-md-12">
                                        <div class="row">
                                            <div class="col-md-8 row1">
                                                <div ng-repeat="etu in etuListTopPosition">
                                                    <div class="col-md-3">
                                                        <div class="small-box" ng-click="selectEtu(etu)">
                                                             <div class="title-text abc">
                                                                {{etu.etuName}}
                                                             </div>
                                                        </div>
                                                    </div>  
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-3 grid-container"  style="left: 8%;">
                                                <div ng-repeat="etu in etuListLeftPosition">
                                                    <div class="col-md-12" style="padding: 30px 0px;">
                                                        <div class="small-box" ng-click="selectEtu(etu)">
                                                             <div class="title-text">
                                                                {{etu.etuName}}
                                                             </div>
                                                        </div>
                                                    </div>  
                                                </div>    
                                            </div>

                                            <div  class="image col-md-6">
                                                <img src="assets/images/main/bigimg.png" alt="" />
                                            </div>

                                            <div class="col-md-3 grid-container" style="float: right; right: 5%;">
                                                <div ng-repeat="etu in etuListRightPosition">
                                                    <div class="col-md-12" style="padding: 30px 0px;">
                                                        <div class="small-box" ng-click="selectEtu(etu)">
                                                             <div class="title-text">
                                                                {{etu.etuName}}
                                                             </div>
                                                        </div>
                                                    </div>  
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-8 row4">
                                <div ng-repeat="etu in etuListBottomPosition">
                                    <div class="col-md-3">
                                        <div class="small-box" ng-click="selectEtu(etu)">
                                             <div class="title-text abc">
                                                {{etu.etuName}}
                                             </div>
                                        </div>
                                    </div>  
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </slick>
            <!-- end: CAROUSEL -->
    </div>
</div>
<!-- end: LANDING PAGE -->
<style type="text/css">

    .landing-page .landing-content .carousel .image {
        right: auto;
        left: 29%;
        top: auto;
    }

    .home-main {
        position: fixed;
        width: 100%;
        height: 100%;
        transform: translate(0%,20%);
    }

    .title-text {
        background: #1e5799;
        height: 55px;
        padding: 8px;
    }

    .row1{
        left: 26%;
        margin-bottom: 2%;
        margin-top: -5%;
    }

    .row4{
        left: 26%;
        margin-top: 42%;
        transform: translate(0%,20%);
    }

    .landing-page .landing-content .carousel .slick-dots {
        display: none;
    }

</style>