<b style="margin-left:29%; font-size:48px;"> Welcome to E-BLUEROOM </b>
<div class="login-page" ng-controller="LoginCtrl">
  
  <div class="form" style="height: 460px; border-radius: 3px;">
    <img style="width: 100px;" src="assets/images/main/mindnerves_logo.png">
    <h6 style="color: #6283c2;">MINDNERVES TECHNOLOGIES SERVICES</h6>
    <br>
    <h1 style=" margin-top: 0; color: #59595a; font-size: 22px; font-weight: 600;">Login</h1>
    <form class="login-form" ng-submit="login()" >
        <legend></legend>
        <span style="color: red;">{{message}}</span>
        <!-- <div class="row"> 
        <i class="fa fa-user" style="font-size: 22px;"> </i>
        </div> -->
        <div class="row">
          <div class="col-md-12"> 
            <div class="form-group">
              <div class="input-group" ng-click="openModal()">
                <div class="input-group-addon">
                  <i class="fa fa-user fa-fw"></i>
                </div>
                <input type="text" ng-model="username" class="form-control" required="" placeholder="username"/>
              </div>
           </div>   
          </div>
          <div class="col-md-12"> 
            <div class="form-group">
              <div class="input-group" ng-click="openModal()">
                <div class="input-group-addon">
                 <i class="fa fa-key fa-fw" ></i>
                </div>
                <input type="password" ng-model="password" class="form-control" required=""  placeholder="password"/>
              </div>
           </div>   
          </div>
        </div>
      <!--   <legend></legend> -->
        <br/>
        
        <button type="submit">
          login 
          <i class="fa fa-spinner fa-pulse fa-3x fa-fw" style="font-size: 16px;margin-left: 10px;position: absolute;" ng-if="loadingSpin"></i>
        </button>
        <br/>
    </form>

   <!-- 
     <div style="margin-top: 10px;">
      <span ng-click="backToHome()">
        <i class="fa fa-arrow-circle-left"></i>
        <a href="#">Back to Home</a>
      </span>
    </div>
    -->

    <div style="margin-top:10px; font-size: 16px; cursor: pointer;">
      <span ng-click="goToForgetPassword()">
        <i class="glyphicon glyphicon-lock"></i>
        <b> <a href="#">Forgot Password?</a></b>
      </span>
    </div>
    
  </div>
</div>

<style type="text/css">

.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}

.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 20px 45px 45px 45px; 
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: lightskyblue;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
  background: #43A047;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: #4CAF50;
  text-decoration: none;
}
.form .register-form {
  display: none;
}
.container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}
.container:before, .container:after {
  content: "";
  display: block;
  clear: both;
}
.container .info {
  margin: 50px auto;
  text-align: center;
}
.container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}
.container .info span {
  color: #4d4d4d;
  font-size: 12px;
}
.container .info span a {
  color: #000000;
  text-decoration: none;
}
.container .info span .fa {
  color: #EF3B3A;
}
body {
  background: lightskyblue; /* fallback for old browsers */
  background: -webkit-linear-gradient(right, lightskyblue, lightskyblue);
  background: -moz-linear-gradient(right, lightskyblue, lightskyblue);
  background: -o-linear-gradient(right, lightskyblue, lightskyblue);
  background: linear-gradient(to bottom, lightskyblue, lightskyblue);
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;      
}
</style>

<script type="text/javascript">
    $('.message a').click(function(){
   $('form').animate({height: "toggle", opacity: "toggle"}, "slow");
});
</script>