<div class="row skill-inventory" ng-controller="GetUsersCtrl">
	<div class="col-md-12" style="height: 70vh; padding-top: 30px; box-sizing: border-box;">
		<div class="panel panel-white no-radius" ng-init="loaduserInventoryGrid()">
			<div class="panel-heading border-bottom text-center">
					
				<h4 class="panel-title">User Inventory</h4>
				
				<ct-paneltool class="panel-tools" tool-refresh="load1" tool-expand="tool-expand"></ct-paneltool>
			</div>
			<div class="panel-body" style="height: 82vh; padding: 0px; box-sizing: border-box;" >
				<div id="skill_inventory"   class="ag-theme-balham" style="height: 100%;"> 
					<div class="buttonhide" style="height: 35px;" >	<button class="btn btn-primary btn-o pull-left" ng-click="addNewUser()">Add New User </button><br></div>
				</div>
			</div>
			
		</div>
	</div>
</div>
<script type="text/css">
	#skill_inventory .buttonhide{
		height : 35 px;
	}
	panel {
		height: 340px;
		float: left;
		overflow: auto;
		overflow-y: auto;
	}
	.skill_inventory {
		height: 340px;
		float: left;
		overflow: auto;
		overflow-y: auto;
	}

element.style {
    height: 82vh;
    padding: 0px;
    overflow-y: scroll;
    box-sizing: border-box;
}

</script>
