<form name="UserForm" enctype="multipart/form-data">
    <div class="modal-header">
        <h3 class="modal-title">User Details : <strong>{{ newEmployee.name }}</strong></h3>
    </div>
        <div id="projectDetailsCon" class="modal-body">
    
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-8" style="padding-left: 0;">
                        <div class="col-md-12 contentOfModel ">
                            <p class="text-bold text-red" ng-if="errorMessage">{{ errorMessage }}</p>
                        </div>
                        <div class="col-md-3 element">
                                <div class="form-group">
                                    <label>Employee-Id  </label>
                                    <input type="number"  class="form-control" ng-model="newEmployee.employeeId"/>
                                </div>
                        </div>  

                        <div class="col-md-3 element" >
                            <div class="form-group">
                                <label> Employee Name </label>
                                <input type="text"  class="form-control" ng-model="newEmployee.name"  />
                            </div>
                        </div>
                        
                        
                        <div class="col-md-3 element">
                                <div class="form-group">
                                    <label> Email Id </label>
                                    <input type="email"  class="form-control" ng-model="newEmployee.email" />
                                </div>
                        </div>  
                        
            
                        <div class="col-md-3 element">
                            <div class="form-group">
                                <label> Password </label>
                                <input type="text" class="form-control" ng-model="newEmployee.password" />
                            </div>
                        </div>


                        <div class="col-md-4 element radio clip-radio radio-primary" style="margin-top:0;">
                                <fieldset>
                                        <legend>Login Access</legend>
                                
                                        <div>
                                            <input type="radio" id="isLoginaccesstrue" ng-model="newEmployee.isLoginaccess"
                                                   name="isLoginaccess" value="Enable" checked />
                                            <label for="isLoginaccesstrue">Enable</label>
                                        </div>
                                
                                        <div>
                                            <input type="radio" id="isLoginaccessfalse" ng-model="newEmployee.isLoginaccess"
                                                   name="isLoginaccess" value="Disable" />
                                            <label for="isLoginaccessfalse">Disable</label>
                                        </div>
                                </fieldset>
                        </div>

                        <div class="col-md-4 element radio clip-radio radio-primary" style="margin-top:1px;">
                            <fieldset>
                                <legend>Select a User Status</legend>
                                <div>
                                    <input type="radio" id="active" ng-model="newEmployee.status"
                                           name="active" value="Active" checked />
                                    <label for="active">Active</label>
                                </div>
                                <div>
                                    <input type="radio" id="inactive" ng-model="newEmployee.status"
                                           name="active" value="Inactive" />
                                    <label for="inactive">Inactive</label>
                                </div>
                            </fieldset>
                        </div>
                
                        <div class="col-md-4 element radio clip-radio radio-primary" style="margin-top:1px;">
                            <fieldset>
                                    <legend> Approval</legend>
                            
                                    <div>
                                        <input type="radio" id="ETUApproval"  ng-model="newEmployee.approval"
                                               name="ETUApproval" value="ETU Approval" checked  />
                                        <label for="ETUApproval">ETU Approval</label>
                                    </div>
                            
                                    <div>
                                        <input type="radio" id="FinanceApproval" ng-model="newEmployee.approval"
                                               name="FinanceApproval" value="Finance Approval" />
                                        <label for="FinanceApproval">Finance Approval</label>
                                    </div>

                                    <div>
                                        <input type="radio" id="None" ng-model="newEmployee.approval"
                                               name="None" value="None" />
                                        <label for="None">None</label>
                                    </div>
                            </fieldset>
                        </div>

                        <div class="col-xs-6 col-sm-4 col-md-4 element">
                                <div class="form-group"  ng-init="getAllETUType();" >
                                    <label> ETU Name </label>
                                    
                                        <select multiple class="form-control" name="groups" ng-model="newEmployee.etuList" >
                                            <option  ng-repeat="etu in allETUs" value="{{etu}}">{{etu}}</option>
                                        </select>
                                    
                                </div>
                        </div>
                        <!--               <div ng-dropdown-multiselect="" options="emplEtuList" selected-model="emplEtuListModel" extra-settings="emplEtuListsettings" ></div>-->


                        <div class="col-xs-6 col-sm-4 col-md-4 element">
                                <div class="form-group"  ng-init="getAllPillars();" >
                                    <label>WCM-Piller </label>
                                    
                                        <select multiple class="form-control" name="pillerName" ng-model="newEmployee.pillarList" >
                                            <option  ng-repeat="piller in allPillars" value="{{piller}}">{{piller}}</option>
                                        </select>
                                    
                                </div>
                        </div>
            
                        <div class="col-xs-6 col-sm-4 col-md-4 element">
                                <div class="form-group" ng-init="getAllRoles();" >
                                    <label>User Role </label>
                                    <span class="clip-select">
                                        <select class="form-control" name="roles" ng-model="newEmployee.roles" >
                                            <option ng-repeat="role in roles" value="{{role}}">{{role}}</option>
                                        </select>
                                    </span>
                                </div>
                        </div>

            

                    </div>
                
                    <div class="col-md-4 ">
                       <div><img ng-src="{{app.layout.logo}}" alt="{{app.name}}" id="imagelogo" >
                            
                        </div>
                        <div style="height: 320px;width: 320px;" >
                             <img style="max-height: 100%; padding: 10px; max-width: 100%;" id="proImg" class="preview-img" src="" alt="">
                        </div>
                        <label> UserFile </label>
                        <input type="file" style="height:1.70em; padding-left: 0%;" id="emp_profile_img" class="form-control" ng-model="newEmployee.file"  /> 
                    </div>
                </div>
            </div>
        </div><!--Row nEnd-->           
        
        <div class="modal-footer">
            <!-- <button class="btn btn-primary" ng-click="ok()">Yes</button> -->
            <button class="btn btn-primary btn-o" style="float:right; margin-right:2px;" ng-click="cancel()">Close </button>
            <!-- <button class="btn btn-primary btn-o" ng-click="UploadFile()">UploadFile </button>-->
            <button class="btn btn-primary btn-o" style="float:right; margin-right:10px;" ng-disabled="!newEmployee.employeeId ||  !newEmployee.name ||!newEmployee.email || !newEmployee.password" ng-click="saveUser()">saveUser </button>
        </div>

    </form>
        <script type="text/javascript">
            $("#emp_profile_img").change(function () {
              if ($(this)[0].files.length > 0) {
                readURL($(this)[0]);
                  // $scope.documentFile = $(this)[0].files[0];
              }
            });

               function readURL(input) {
                 if (input.files && input.files[0] && input.files[0].type.includes("image")) {
                     var reader = new FileReader();
                     reader.onload = function (e) {
                             $('#proImg').attr('src', e.target.result);
                     }
                     reader.readAsDataURL(input.files[0]);
                 }
            }; 
        </script>
        <style type="text/css">
            .panel-team {
                text-align: center;
            }
            th,td {
                padding: 10px 25px;
                border: 1px solid black;
            }
            .plan-remark-rec{
                width: 54px;
                height: 21px;
                color: red;
                background: red;
                position: absolute;
                top: -3px;
                right: -26px;
                transform: rotate(-133deg);
            }
            .chart-not-avalable {
                width: 100%;
                text-align: center;
            }
            .chart-radar-cont {
                min-height: 200px;
                display: flex;
                align-items: center;
            }
            .user-image img {
                width: 150px !important;
                height: 160px !important;
            }
            .projectDetailsWindow input{
                border: 1px solid black;
               
            }
            #imagelogo{
                height: 35px;
                width: 35px;
                border: 1 px solid black;
                border-radius: 20%;
            }
            #imagepreview{
                height: 300px;
                width: 300px;
            }
          
            #deselectAll{
                display: none;
            }
            #selectAll{
                display: none;
            }
            .dropdown-header{
                display: none;
            }
            .divider {
                display: none;
            }
            .open>.dropdown-menu {
                max-height: 160px;
            }
            .btn-group.open .dropdown-toggle {
                width:210%; 
            }
            button.dropdown-toggle{
                width:100%; 
            }
            .dropdown-multiselect{
                width:100%; 
            }
            
            
            
        </style>