<form name="UserForm" enctype="multipart/form-data">
    <div class="modal-header">
        <h3 class="modal-title">User Details : <strong>{{ employeeData.name }}</strong></h3>
    </div>
    <div id="projectDetailsCon" class="modal-body ">

        <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-9" style="padding-left: 0;">
                            <div class="col-md-12 ">
                                <p class="text-bold text-red" ng-if="errorMessage">{{ errorMessage }}</p>
                            </div>
                                <div class="col-md-3 ">
                                        <div class="form-group">
                                            <label>Employee-Id  </label>
                                            <input type="number"  class="form-control" ng-model="employeeData.employeeId"/>
                                        </div>
                                </div>  

                                <div class="col-md-3 " >
                                    <div class="form-group">
                                        <label> Employee Name </label>
                                        <input type="text"  class="form-control" ng-model="employeeData.name"  />
                                    </div>
                                </div>

                                <div class="col-md-3 ">
                                        <div class="form-group">
                                            <label> Email Id </label>
                                            <input type="email"  class="form-control" ng-model="employeeData.email" />
                                        </div>
                                </div>  

                                <div class="col-md-3 ">
                                    <div class="form-group">
                                        <label> Password </label>
                                        <input type="text" class="form-control" ng-model="employeeData.password" />
                                    </div>
                                </div>

                                <div class="col-md-4  radio clip-radio radio-primary" style="margin-top:0;" >
                                        <fieldset>
                                                <legend>Login Access</legend>
                                        
                                                    <div>
                                                        <input type="radio" id="isLoginaccesstrue1" ng-model="employeeData.enabled"
                                                               name="isLoginaccess" value="true" />
                                                        <label for="isLoginaccesstrue1">Enable</label>
                                                    </div>
                                            
                                                    <div>
                                                        <input type="radio" id="isLoginaccessfalse2" ng-model="employeeData.enabled"
                                                               name="isLoginaccess" value="false" />
                                                        <label for="isLoginaccessfalse2">Disable</label>
                                                    </div>
                                        
                                                
                                        
                                            </fieldset>
                                </div>
                                <div class="col-md-4  radio clip-radio radio-primary" style="margin-top:1px;">
                                        <fieldset>
                                                <legend>Select a User Status</legend>
                                        
                                                <div>
                                                    <input type="radio" id="active" ng-model="employeeData.status"
                                                           name="active" value="Active" checked />
                                                    <label for="active">Active</label>
                                                </div>
                                        
                                                <div>
                                                    <input type="radio" id="inactive" ng-model="employeeData.status"
                                                           name="active" value="Inactive" />
                                                    <label for="inactive">Inactive</label>
                                                </div>
                                        
                                                
                                        
                                            </fieldset>
                                </div>
                            
                                <div class="col-md-4  radio clip-radio radio-primary" style="margin-top:1px;">
                                    <fieldset>
                                            <legend> Approval</legend>
                                    
                                            <div>
                                                <input type="radio" id="ETUApproval" ng-model="employeeData.approval"
                                                       name="ETUApproval" value="ETU Approval" checked />
                                                <label for="ETUApproval">ETU Approval</label>
                                            </div>
                                    
                                            <div>
                                                <input type="radio" id="FinanceApproval" ng-model="employeeData.approval"
                                                       name="FinanceApproval" value="Finance Approval" />
                                                <label for="FinanceApproval">Finance Approval</label>
                                            </div>

                                            <div>
                                                <input type="radio" id="None" ng-model="employeeData.approval"
                                                       name="None" value="None" />
                                                <label for="None">None</label>
                                            </div>

                                            </fieldset>
                                </div>   


                                <div class="col-xs-6 col-sm-4 col-md-4 ">
                                            <div class="form-group"  ng-init="getAllETUType();" >
                                                <label> ETU Name </label>
                                                
                                                    <select multiple class="form-control" name="groups" ng-model="employeeData.etuList" >
                                                        <option  ng-repeat="etu in allETUs" value="{{etu}}">{{etu}}</option>
                                                    </select>
                                                
                                            </div>
                                </div>

                                <div class="col-xs-6 col-sm-4 col-md-4 ">
                                        <div class="form-group"  ng-init="getAllPillars();" >
                                            <label>WCM-Piller </label>
                                            
                                                <select multiple class="form-control" name="pillerName" ng-model="employeeData.pillarList" >
                                                    <option  ng-repeat="piller in allPillars" value="{{piller}}">{{piller}}</option>
                                                </select>
                                            
                                        </div>
                                </div>


                                <div class="col-xs-6 col-sm-4 col-md-4 ">
                                        <div class="form-group" ng-init="getAllRoles();" >
                                            <label> User Role </label>
                                            <span class="clip-select">
                                                <select class="form-control" value="role" ng-model="employeeData.roles.name" >
                                                    <option  ng-repeat="role in roles" value="{{role}}">{{role}}</option>
                                                </select>
                                            </span>
                                        </div>
                                </div>

                        </div>

                        <div class="col-md-3 ">
                            <div style="height: 300px;width: 300px;" >
                                 <img ng-src="{{baseURL}}/user/download-image/{{employeeData.profileImg}}" style="max-height: 100%; padding: 10px; max-width: 100%;" id="proImg" class="preview-img" src="" alt="">
                            </div>
                            <label> UserFile </label>
                            <input type="file" style="height:1.70em; padding-left: 0%;" id="emp_profile_img" class="form-control" ng-model="employeeData.profileImg"  /> 
                        </div>
            
                    </div>
        </div> <!--Row End-->
    </div>
           
    
    <div class="modal-footer">
        <button class="btn btn-primary btn-o" style="float:right; margin-right:2px;" ng-click="cancel()">Close </button>
        <button class="btn btn-primary btn-o" ng-disabled="!employeeData.employeeId  || !employeeData.email" style="float:right; margin-right:10px;" ng-click="update()">Update </button>
    </div>
    </form>



<script type="text/javascript">
    var imgFlag = true;
    $("#emp_profile_img").change(function () {
      if ($(this)[0].files.length > 0) {
        readURL($(this)[0]);
      }
    });

       function readURL(input) {
         if (input.files && input.files[0] && input.files[0].type.includes("image")) {
             var reader = new FileReader();
             reader.onload = function (e) {
                     $('#proImg').attr('src', e.target.result);
                     imgFlag = false;
             }
             reader.readAsDataURL(input.files[0]);
         }
    }; 
</script>
<style type="text/css">
             .dropdown-header{
                display: none;
            }
            .divider {
                display: none;
            }
            .open>.dropdown-menu {
                max-height: 160px;
            }
            .btn-group.open .dropdown-toggle {
                width:210%; 
            }
            .dropdown-multiselect{
                width:100%; 
            }
            
</style>