<div class="container-fluid container-fullw" style="padding: 0;">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-white">
                <div class="panel-body-custom-factor">
                    <div class="row" ng-controller="FactorManagementCtrl">
                        <div class="col-md-12">
                            <div class="panel panel-white no-radius">
                                <div class="panel-heading border-bottom text-center">
                                    <h2 class="panel-title">Factor Management</h2>
                                    <span class="panel-back-tools" ng-if="isHideDashboardPanel">
                                        <i class="fa fa-mail-reply" ng-click="backToDashPanel()"></i>
                                    </span>
                                    <ct-paneltool class="panel-tools" tool-refresh="load1" tool-expand="tool-expand"></ct-paneltool>
                                </div>
                                <div class="panel-body" style="padding: 50px 30px;">
                                    <div class="container-fullw1">
                                        <div class="row"> 
                                            <div class="col-md-8"> </div>
                                            <div class="col-md-4"> 
                                                <div class="form-group">
                                                    <label for="form-field-select-1">
                                                        Calendar Year
                                                    </label>
                                                    <select class="cs-select cs-skin-slide" ng-options="item for item in calendarYearList" ng-model="calendarYear" ng-change="loadCalendarYear(calendarYear);userSavingsOnProject();getProjectMonthlySavingFactor();">
                                                        <option value="" disabled="">Select</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <h2>
                                            Project Savings Factor
                                        </h2>
                                        <div class="row"> 
                                            <div class="col-md-12">
                                                <table class="tbl-factor" style="width: 100%;">
                                                    <thead style="width: 100%;"> 
                                                        <th></th> 
                                                        <th ng-repeat="plan in planYearList" class="{{plan.cssClass}}">{{plan.label}}</th> 
                                                        
                                                    </thead>
                                                    <tbody style="width: 100%;">
                                                        <tr >
                                                            <td class="row-header">
                                                                Plan
                                                            </td>
                                                            <td ng-repeat="plan in planYearList"> 
                                                                <input type="number" name="plana" ng-model="plan.planValue" ng-change="calculateFactorization()">
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td class="row-header">
                                                                Actual
                                                            </td>
                                                            <td ng-repeat="plan in planYearList"> 
                                                                <input type="number" name="actual" ng-model="plan.actualValue" ng-change="calculateFactorization()">
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td class="row-header">
                                                                Factor
                                                            </td>
                                                            <td ng-repeat="plan in planYearList"> 
                                                                <input type="number" readonly="" name="factor"  ng-model="plan.factorValue">
                                                            </td>
                                                           
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div> 
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12" style="margin-top: 20px; text-align: right;"> 
                                                <button class="btn btn-wide btn-dark-azure" ng-click="saveFactorizationData()"> Save </button>
                                            </div>
                                        </div>
                                        <br><br>
                                        <h2>
                                            User's Savings and Project Factor
                                        </h2>
                                        <div class="row"> 
                                            <div class="col-md-12" style="    overflow: auto;">
                                                <table class="tbl-factor" style="width: 100%;">
                                                    <thead style="width: 100%;"> 
                                                        <th  class="Apr"></th> 
                                                        <th ng-repeat="user in usersData" class="Apr">{{user.user.name}}</th>   
                                                    </thead>
                                                    <tbody style="width: 100%;">
                                                        <tr class="center">
                                                            <td class="row-header report-header">
                                                                No. Of Projects
                                                            </td>
                                                            <td ng-repeat="user in usersData"> 
                                                               {{ user.noOfProjects }}
                                                            </td> 
                                                        </tr>
                                                        <tr class="center">
                                                            <td class="row-header report-header">
                                                                Actual Saving
                                                            </td>
                                                            <td ng-repeat="user in usersData"> 
                                                               {{ (user.projectSavings || 0) |currency:'&#8377':0}}
                                                            </td>
                                                        </tr>
                                                        <!-- spinner -->
                                                        <tr>
                                                            <td class="row-header report-header"> 
                                                                Project Factor
                                                            </td>
                                                            <td ng-repeat="user in usersData"> 
                                                                <input type="number" onkeyup="this.value.replace(/[^0-9\.]/g,'')" style="border: 1px solid #fff;"  name="factor" ng-model="user.projectFactor" >
                                                            </td>
                                                        </tr>
                                                        <!-- any numeric input -->
                                                        <tr>
                                                            <td class="row-header report-header">
                                                                Saving Factor
                                                            </td>
                                                            <td ng-repeat="user in usersData"> 
                                                                <input type="number" onkeyup="this.value.replace(/[^0-9\.]/g,'')" style="border: 1px solid #fff;"  name="factor" ng-model="user.savingFactor" >
                                                            </td>
                                                        </tr>
                                                        <tr  class="center">
                                                            <td class="row-header report-header">
                                                                Total Projects
                                                            </td>
                                                            <td ng-repeat="user in usersData"> 
                                                                {{ user.noOfProjects + user.projectFactor }}
                                                            </td>
                                                        </tr>
                                                        <tr class="center">
                                                            <td class="row-header report-header">
                                                                Total Saving
                                                            </td>
                                                            <td ng-repeat="user in usersData"> 
                                                                {{ ((user.savingFactor || 1  ) * user.projectSavings ) || 0 |currency:'&#8377':0}}
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div> 
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12" style="margin-top: 20px; text-align: right;"> 
                                                <button class="btn btn-wide btn-dark-azure" ng-click="saveReportData()"> Save </button>
                                            </div>
                                        </div>
                                        <br><br>
                                        <h2>
                                            Project Yearly Savings Factor
                                        </h2>
                                        <div class="row"> 
                                            <div class="col-md-12">
                                                <table class="tbl-factor" style="width: 100%;">
                                                    <thead style="width: 100%;"> 
                                                        <th></th> 
                                                        <th ng-repeat="plan in projectPlanYearList" class="{{plan.cssClass}}">{{plan.label}}</th> 
                                                        
                                                    </thead>
                                                    <tbody style="width: 100%;">
                                                        <tr class="center" >
                                                            <td class="row-header">
                                                                Savings
                                                            </td>
                                                            <td ng-repeat="plan in projectPlanYearList"> 
                                                                {{ plan.monthlyProjectSaving || 0 |currency:'&#8377':0}}
                                                            </td>
                                                        </tr>
                                                        <tr class="center">
                                                            <td class="row-header">
                                                                Factor
                                                            </td>
                                                            <td ng-repeat="plan in projectPlanYearList"> 
                                                                <input type="number" name="monthFactor" ng-model="plan.monthFactor">
                                                            </td>
                                                        </tr>
                                                        <tr class="center">
                                                            <td class="row-header">
                                                                Total Saving
                                                            </td>
                                                            <td ng-repeat="plan in projectPlanYearList"> 
                                                                <span ng-if= "plan.month != 13">
                                                                    {{ plan.monthlyProjectSaving * plan.monthFactor |currency:'&#8377':0}}
                                                                </span> 

                                                                <span ng-if= "plan.month == 13">
                                                                    {{ totalRMCSavings  / (( plan.monthFactor || 1 ) * 10000) |currency:''}} %
                                                                </span> 
                                                            </td>
                                                           
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div> 
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12" style="margin-top: 20px; text-align: right;"> 
                                                <button class="btn btn-wide btn-dark-azure" ng-click="saveProjectSavingsFactor()"> Save </button>
                                            </div>
                                        </div>
                                        <br><br>

                                    </div>
                                   
                                </div> 
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<style type="text/css">

    .panel-body-custom-factor .panel-body {
         box-sizing: border-box;
        padding: 0;
    }

    .tbl-factor table, .tbl-factor td, .tbl-factor th {
        border: 1px solid black;
    }

    .tbl-factor td.row-header,.tbl-factor th {
       padding: 10px 15px;
    }

    .tbl-factor input {
        height: 40px;
        text-align: center;
        width: 100%;
    }

    input[type=number]::-webkit-inner-spin-button, 
    input[type=number]::-webkit-outer-spin-button { 
      -webkit-appearance: none; 
      margin: 0; 

    }

    .Jan { background-color: #ECDB54 ; color: white; }
    .Feb { background-color: #E94B3C ; color: white; }
    .Mar { background-color: #6F9FD8 ; color : white; }
    .Apr { background-color: #944743 ; color: white; }
    .May { background-color: #DBB1CD ; color: white; }
    .Jun { background-color: #EC9787 ; color: white; }
    .Jul { background-color: #00A591 ; color : white; }
    .Aug { background-color: #6B5B95 ; color: white; }
    .Sep { background-color: #6C4F3D ; color: white; }
    .Oct { background-color: #EFAD9C ; color: white; }
    .Nov { background-color: #BC70A4 ; color : white; }
    .Dec { background-color: #BFD641 ; color: white; }

.report-header{
    background-color: #eff0f1;
    color: black;
    font-weight: bold;
}

</style>