<div class="row " ng-controller="getModifiedDataCtrl">
	<div class="col-md-12" style="height: 70vh; padding-top: 30px; box-sizing: border-box;">


		<h4 class="">{{headerNameForTable}}</h4>
		<span class="dash-custom-actions-panel">

			<i class="fa fa-mail-reply" ng-if="!showProject" ng-click="backToAddModifyFields()"></i>
		</span>

		<div class="" ng-if="showProject">
			<div class="col-md-3 pull-left" >
				<div class="box " ng-click="getLossTypes()" style="padding-top:55px;">
					<div class="title-text">
						Loss type
					</div>
					<div class="img-inner">
						<button class="btn btn-primary btn-o" style="width:100%; height: 60px;">Loss type</button>
					</div>
				</div>
				<div class="box  " ng-click="getWCMtools()" style="padding-top:55px;">
					<div class="title-text">
						WCM tools
					</div>
					<div class="">
						<button class="btn btn-primary btn-o" style="width:100%; height: 60px;">WCM tools</button>
					</div>
				</div>
			</div>
			<div class="col-md-3 pull-left" >
				<div class="box " ng-click="getWCMMethods()" style="padding-top:55px;">
					<div class="title-text">
						WCM Methods
					</div>
					<div class="">
						<button class="btn btn-primary btn-o" style="width:100%;height: 60px; ">WCM Methods</button>
					</div>
				</div>
				<div class="box " ng-click="getAllETU()" style="padding-top:55px;">
					<div class="title-text">
						All ETU's
					</div>
					<div class="">
						<button class="btn btn-primary btn-o" style="width:100%;height: 60px; ">All ETU's</button>
					</div>
				</div>
			</div>
			<div class="col-md-3 pull-right">
				<div class="box "  ng-click="getTechnicalTools()" style="padding-top:55px;">
					<div class="title-text">
						Technical tools
					</div>
					<div class="img-inner">
						<button class="btn btn-primary btn-o" style="width:100%; height: 60px;">Technical tools</button>
					</div>
				</div>
			</div>
			<div class="col-md-3 pull-left" >	
				<div class="box " ng-click="getEmployees()" style="padding-top:55px;">
					<div class="title-text">
						Employee
					</div>
					<div class="">
						<button class="btn btn-primary btn-o" style="width:100%; height: 60px;">Employee</button>
					</div>
				</div>
			
			
				<div class="box " ng-click="getOperations()" style="padding-top:55px;">
					<div class="title-text">
						Operations
					</div>
					<div class="">
						<button class="btn btn-primary btn-o" style="width:100%;height: 60px; ">Operations</button>
					</div>
				</div>
			</div>
		</div>
		<div ng-if="showWCMTools" id="WCM_Tools" class="ag-theme-balham" style="height: 100%;">
			<div class="buttonhide" style="height: 35px;" ng-if="showWCMToolsAddButton"> <button class="btn btn-primary btn-o pull-left"
				 ng-click="addNewWCMTool()">Add New WCMTool </button><br></div>
		</div>
		<div ng-if="showWCMMethods" id="WCM_Methods" class="WCM_Methods ag-theme-balham" style="height: 100%;">
			<div class="buttonhide" style="height: 35px;" ng-if="showWCMMethodsAddButton"> <button class="btn btn-primary btn-o pull-left"
				 ng-click="addNewWCMMethod()">Add New WCMMethod </button><br></div>
		</div>

		<div ng-if="showAllETUs" id="AllETUs" class="AllETUs ag-theme-balham" style="height: 100%;">
			
		</div>






		<div ng-if="showTechTools"  id="Technical_Tools" class="Technical_Tools ag-theme-balham" style="height: 100%;">
			<div class="buttonhide" style="height: 35px;" ng-if="showTechnicalToolsAddButton"> <button class="btn btn-primary btn-o pull-left"
				 ng-click="addNewTechnicalTool()">Add New TechnicalTool </button><br></div>
		</div>
		<div ng-if="showLossTypes" id="Loss_Types" class="Loss_Types ag-theme-balham" style="height: 100%;">
			<div class="buttonhide" style="height: 35px;" ng-if="showLossTypesAddButton"> <button class="btn btn-primary btn-o pull-left"
				 ng-click="addNewLossType()">Add New LossType </button><br></div>
		</div>
		<div ng-if="showEmployee" ng-controller="GetUsersCtrl" id="skill_inventory" class="skill_inventory ag-theme-balham"
		 style="height: 100%;">
			<div class="buttonhide" style="height: 35px;" ng-if="showEmployeeAddButton"> <button class="btn btn-primary btn-o pull-left"
				 ng-click="addNewUser()">Add New User </button><br></div>
		</div>
		<div ng-if="showOperation"  id="Operation" class=" ag-theme-balham" style="height: 100%;">
			<div class="buttonhide" style="height: 35px;" ng-if="showOperationAddButton"> <button class="btn btn-primary btn-o pull-left"
				 ng-click="addNewOperations()">Add New Operation </button><br></div>
		</div>


	</div>


</div>
<script type="text/css">

	.modal-body {
		width: 60%;
	}
</script>