<form name="UserForm" enctype="multipart/form-data" >
    <div class="modal-header">
            <h3 class="modal-title">User Details : <strong>{{ employeeData.firstName }}</strong></h3>
        </div>
        <div id="projectDetailsCon" class="modal-body ">
    
            <div class="row">
                <div class="col-md-12" style="margin-left:5 px;">
                 
    
                            <div class="col-md-3 element">
                                    <div class="form-group">
                                        <label>LossType-Id  </label>
                                        <input type="text"  class="form-control" ng-model="lossData.id" readonly="" disabled/>
                                    </div>
                            </div>  
                            <div class="col-md-3 element">
                                    <div class="form-group">
                                        <label>LossType-Group  </label>
                                        <input type="text"  class="form-control" ng-model="lossData.group"/>
                                    </div>
                            </div>  
                            
                            <div class="col-md-3 element">
                                    <div class="form-group">
                                        <label>LossType-Loss  </label>
                                        <input type="text"  class="form-control" ng-model="lossData.loss"/>
                                    </div>
                            </div>  
                            
                            <div class="col-md-3 element">
                                    <div class="form-group">
                                        <label>LossType-LossType  </label>
                                        <input type="text"  class="form-control" ng-model="lossData.lossType"/>
                                    </div>
                            </div>  
                            
                            <div class="col-md-3 element">
                                    <div class="form-group">
                                        <label>LossType-Priority  </label>
                                        <input type="text"  class="form-control" ng-model="lossData.priority"/>
                                    </div>
                            </div>  
                            <div class="col-md-3 element">
                                    <div class="form-group">
                                        <label>LossType-Severity  </label>
                                        <input type="text"  class="form-control" ng-model="lossData.severity"/>
                                    </div>
                            </div>  
                            
                        
    
                
                
                
               <!-- <div class="col-md-3 element">
                        <div class="form-group">
                            <label> Nationality </label>
                            <input type="text"  class="form-control" ng-model="employeeData.nationality"  />
                        </div>
                </div>
    
                <div class="col-md-3 element">
                        <div class="form-group">
                            <label> City </label>
                            <input type="text"  class="form-control" ng-model="employeeData.city"  />
                        </div>
                </div>
    
                <div class="col-md-3 element">
                        <div class="form-group">
                            <label> Age </label>
                            <input type="number"  class="form-control" ng-model="employeeData.age"  />
                        </div>
                </div>
    
    
                <div class="col-md-3 element">
                        <div class="form-group">
                            <label> Name </label>
                            <input type="text"  class="form-control" ng-model="employeeData.name"  />
                        </div>
                </div>
    
                <div class="col-md-3 element">
                        <div class="form-group">
                            <label> ProfileImage </label>
                            <input type="text"  class="form-control" ng-model="employeeData.profileImage"  />
                        </div>
                </div>
    
                <div class="btn-group" uib-dropdown is-open="etuDropdown.isopen">
                        <button type="button" class="btn btn-wide btn-dark-azure uib-dropdown-toggle" uib-dropdown-toggle ng-disabled="disabled2" style="background-color: #6fa7d7; border-color: #6fa7d7;">
                            ETU <span ng-if ="!selectedETU || selectedETU.etuName == null" > NAME </span> <span ng-if ="selectedETU && selectedETU.etuName != null" > : {{ selectedETU.etuName }} </span> <span class="caret"></span>
                        </button>
                        
                </div>-->
                
                
                
                
    
    
    
    
                
                
                
                
            </div>
             </div> <!--Row nEnd-->
        </div>
               
        
        <div class="modal-footer">
            <div class="col-md-11">
            <!-- <button class="btn btn-primary" ng-click="ok()">Yes</button> -->
            <button class="btn btn-primary btn-o" style="float:right; margin-right:4px;" ng-click="cancel()">Close </button>
           <!-- <button class="btn btn-primary btn-o" ng-click="UploadFile()">UploadFile </button>-->
            <button class="btn btn-primary btn-o" style="float:right; margin-right:12px;" ng-click="update()">Update </button>
        </div>
        </div>
        </form>
        <style type="text/css">
            .panel-team {
                text-align: center;
            }
            th,td {
                padding: 10px 25px;
                border: 1px solid black;
            }
            .plan-remark-rec{
                width: 54px;
                height: 21px;
                color: red;
                background: red;
                position: absolute;
                top: -3px;
                right: -26px;
                transform: rotate(-133deg);
            }
            .chart-not-avalable {
                width: 100%;
                text-align: center;
            }
            .chart-radar-cont {
                min-height: 200px;
                display: flex;
                align-items: center;
            }
            .user-image img {
                width: 150px !important;
                height: 160px !important;
            }
            .projectDetailsWindow input{
                border: 1px solid black;
               
            }
            #imagelogo{
                height: 35px;
                width: 35px;
                border: 1 px solid black;
                border-radius: 20%;
            }
            #imagepreview{
                height: 300px;
                width: 300px;
            }
            .element{
                margin-left: 35px;
                margin-top: 20px;
                margin-right: 10px;
            }
            div{
                font-size: 16px;
            }
            
            
            
            .modal-content{
                width: 50%;
                margin-left: 20%;
            }
        
        </style>