

  <div class="pull-right">
    <a ui-sref="signin" href="#" class="logout">Logout <i class="fa fa-sign-out margin-left-5" aria-hidden="true"></i> </a>
  </div>
</div>
<div class="row col-lg-12 projectName">
  <b> Welcome to E-BLUEROOM </b>
</div>
<div ng-controller="HomepageCtrl" class="homepage" ng-init="loadInitData()">
  <div class="box">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 padding-30 col-lg-offset-2">
          <div class="box-part text-center">
            <div class="">
              <img style="width: 115px;" src="assets/images/main/mindnerves_logo.png">
              <p class="padding-10">MINDNERVES TECHNOLOGIES SERVICES</p>
              
            </div>
            <div class="title box">
              <h2 class="ng-scope">Blueroom</h2>
            </div>
            <a ui-sref="#"  ng-click="gotoPage('app.dashboard_main')"  class="btn btn-primary width-100">Go</a>
          </div>
        </div>        
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 padding-30">
          <div class="box-part text-center">
            <div class="text">
              <img style="width: 115px;" src="assets/images/main/mindnerves_logo.png">
              <p class="padding-10">MINDNERVES TECHNOLOGIES SERVICES</p>
            </div>
            <div class="title box">
              <h2 class="ng-scope">Captured Loss</h2>
            </div>
            <a href="#" ng-click="gotoPage('app.masterData')" class="btn btn-primary width-100">Go</a>
          </div>
        </div>

      </div>
    </div>    
  </div>
</div>

<style type="text/css">

.homepage .box{
  padding: 15px 0px;
}

.homepage .box-part{
    background: #FFF;
    border-radius: 0;
    padding: 45px 10px;
    margin: 30px 0px;
    padding-top: 30px;
}

.logout {
  font-weight: bold;
  font-size: 15px;
  background-color: #fff;
  border: 2px solid #8e8e93;
  color: #6283c2;
  padding: 5px 10px;
  text-align: center;
  display: inline-block;
  font-size: 20px;
  margin: 0px;
  margin-right: 30px;
  cursor: pointer;  
}
.projectName {
  text-align: center;
  font-size:48px;
}

@media only screen and (max-width: 568px) {
  .projectName {
    text-align: center;
    font-size:36px;
  }
  .logout{
    margin-top: 60px;
  }
}
@media only screen and (max-width: 968px) {
  .projectName {
    text-align: center;
    font-size:36px;
  }
  .logout{
    margin-top: 60px;
  }
}


body {
  background: lightskyblue;
  background: -webkit-linear-gradient(right, lightskyblue, lightskyblue);
  background: -moz-linear-gradient(right, lightskyblue, lightskyblue);
  background: -o-linear-gradient(right, lightskyblue, lightskyblue);
  background: linear-gradient(to bottom, lightskyblue, lightskyblue);
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;      
}

</style>


</script>