<div class="row skill-inventory" ng-controller="technicalToolDataCtrl">
        <form id="technical-tool-form" name="operationsForm" enctype="multipart/form-data">
            <div class="modal-header">
                <h3 class="modal-title" style="margin-left:2 px;text-align:center;"><strong>Add Operations </strong></h3>
            </div>
            <div id="projectDetailsCon" class="modal-body ">
    
                <div class="row">
                    <div class="col-md-12" style="margin-left:5 px;">
    
    
    
                        <div class="col-md-3 element">
                            <div class="form-group">
                                <label>Machine-Id </label>
                                <input type="text" class="form-control" ng-model="operationsForm.id" />
                            </div>
                        </div>
    
                        <div class="col-md-3 element">
                            <div class="form-group">
                                <label>Machine-Name </label>
                                <input type="text" class="form-control" ng-model="operationsForm.machineName" />
                            </div>
                        </div>
                        <div class="col-md-3 element">
                            <div class="form-group">
                                <label>ETU Id </label>
                                <input type="text" class="form-control" disabled ng-model="operationsForm.etu" />
                            </div>
                        </div>
    
    
    
                    </div>
                </div>
                <!--Row nEnd-->
            </div>
    
    
            <div class="modal-footer">
                <div class="col-md-11">
                    <!-- <button class="btn btn-primary" ng-click="ok()">Yes</button> -->
                    <button class="btn btn-primary btn-o" style="float:right; margin-right:4px;" ng-click="cancel()">Close
                    </button>
                    <!-- <button class="btn btn-primary btn-o" ng-click="UploadFile()">UploadFile </button>-->
                    <button class="btn btn-primary btn-o" style="float:right; margin-right:12px;" ng-click="addOperations()">Add
                        Operations </button>
                </div>
            </div>
        </form>
    </div>
    <style type="text/css">
        .projectDetailsWindow input {
            border: 1px solid black;
    
        }
    
        .element {
            margin-left: 35px;
            margin-top: 20px;
            margin-right: 10px;
        }
    
    
    
        .modal-content {
            width: 80%;
            margin-left: 20%;
            margin-top: 20%;
        }
    </style>