<div class="row skill-inventory" ng-controller="wcmMethodDataCtrl">
    <form name="WCMMethodForm" enctype="multipart/form-data">
        <div class="modal-header">
            <h3 class="modal-title" style="margin-left:2 px;text-align:center;"><strong>Add WCM Method </strong></h3>
        </div>
        <div id="projectDetailsCon" class="modal-body ">

            <div class="row">
                <div class="col-md-12" style="margin-left:5 px;">
                    <div class="col-md-10 col-md-offset-1">
                        <div class="form-group">
                            <label><strong>Level First </strong></label>
                            <input type="text" class="form-control" ng-model="WCMMethodForm.levelFirstTool" />
                        </div>
                    </div>

                    <div class="col-md-10 col-md-offset-1">
                        <div class="form-group">
                            <label><strong>Level Second </strong></label>
                            <input type="text" class="form-control" ng-model="WCMMethodForm.levelSecondTool" />
                        </div>
                    </div>
<!--
                    <div class="col-md-3 element">
                        <div class="form-group">
                            <label>Reprort Priority </label>
                            <input type="number" class="form-control" ng-model="WCMMethodForm.reprortPriority" />
                        </div>
                    </div>
-->
                    <div class="col-md-10 col-md-offset-1">
                        <div class="form-group">
                            <label><strong> Type </strong></label>
                             <select  class="form-control" ng-model="WCMMethodForm.type" ng-options="x for x in methodDropdown">
                                 </select>
                        </div>
                    </div>

                    <div class="col-md-10 col-md-offset-1 ">
                        <div class="form-group">
                            <label><strong> Pillar Approach </strong></label>
                            <select  class="form-control" ng-model="WCMMethodForm.pillar_approach" ng-options="x for x in pillarApproachDropdown"/>
                        </div>
                    </div>




                </div>
            </div>
            <!--Row nEnd-->
        </div>

        <div class="modal-footer">
            <div class="col-md-11">
                <!-- <button class="btn btn-primary" ng-click="ok()">Yes</button> -->
                <button class="btn btn-primary btn-o" style="float:right; margin-right:4px;" ng-click="cancel()">Close
                </button>
                <!-- <button class="btn btn-primary btn-o" ng-click="UploadFile()">UploadFile </button>-->
                <button class="btn btn-primary btn-o" ng-disabled="!WCMMethodForm.levelFirstTool   || !WCMMethodForm.type || !WCMMethodForm.pillar_approach" style="float:right; margin-right:12px;" ng-click="addWCMMethod()">Add
                    WCM Method </button>
            </div>
        </div>
    </form>
</div>
<style type="text/css">
    .projectDetailsWindow input {
        border: 1px solid black;

    }

    .element {
        margin-left: 35px;
        margin-top: 20px;
        margin-right: 10px;
    }



    .modal-content {
        width: 60%;
        margin-left: 20%;
        margin-top: 10%;
    }
</style>