<div class="row skill-inventory" ng-controller="lossTypeDataCtrl">
    <form name="lossTypeForm" enctype="multipart/form-data">
        <div class="modal-header">
            <h3 class="modal-title" style="margin-left:2 px;text-align:center;"><strong>Add Loss Type </strong></h3>
        </div>
        <div id="projectDetailsCon" class="modal-body ">

            <div class="row">
                <div class="col-md-12" style="margin-left:5 px;">
                    <div class="col-md-3 element">
                            <div class="form-group" ng-Init="getSources()">
                                <label> Loss-Type </label>
                                <select class="form-control"  ng-model="lossTypeForm.lossType">
                                    <option ng-repeat="lossType in lossTypes"  >{{lossType}}</option>
    
                                </select>
                                
                            </div>
                    </div>
                    <div class="col-md-3 element">
                            <div class="form-group" ng-Init="getSources()">
                                <label> Group </label>
                                <select class="form-control"  ng-model="lossTypeForm.group">
                                    <option ng-repeat="group in groups"  >{{group}}</option>
    
                                </select>
                                
                            </div>
                    </div>

                    <div class="col-md-3 element">
                        <div class="form-group">
                            <label>Loss </label>
                            <input type="text" class="form-control" ng-model="lossTypeForm.loss" />
                        </div>
                    </div>

                    <div class="col-md-3 element">
                        <div class="form-group" ng-Init="getSources()" >
                            <label> Source </label>
                            <select class="form-control"  ng-model="lossTypeForm.source">
                                <option ng-repeat="source in sources"  >{{source}}</option>

                            </select>
                            
                        </div>
                    </div>

                    

                </div>
            </div>
            <!--Row nEnd-->
        </div>


        <div class="modal-footer">
            <div class="col-md-11">
                <!-- <button class="btn btn-primary" ng-click="ok()">Yes</button> -->
                <button class="btn btn-primary btn-o" style="float:right; margin-right:4px;" ng-click="cancel()">Close
                </button>
                <!-- <button class="btn btn-primary btn-o" ng-click="UploadFile()">UploadFile </button>-->
                <button class="btn btn-primary btn-o" ng-disabled="!lossTypeForm.lossType ||  !lossTypeForm.group ||!lossTypeForm.loss || !lossTypeForm.source " style="float:right; margin-right:12px;" ng-click="addLossType()">Add
                    Loss Type </button>
            </div>
        </div>
    </form>
</div>
<style type="text/css">
     .element {
        margin-left: 35px;
        margin-top: 20px;
        margin-right: 10px;
    }


    .modal-content {
        width: 80%;
        margin-left: 20%;
    }
</style>