<div class="row skill-inventory" ng-controller="technicalToolDataCtrl">
    <form id="technical-tool-form" name="technicalToolForm" enctype="multipart/form-data">
        <div class="modal-header">
            <h3 class="modal-title" style="margin-left:2 px;text-align:center;"><strong>Add Technical Tool </strong></h3>
        </div>
        <div id="projectDetailsCon" class="modal-body ">

            <div class="row">
                <div class="col-md-12" >



                    <div class="col-md-6 ">
                        <div class="form-group">
                            <label><strong>ProfileName </strong></label>
                           <!-- <input type="text" class="form-control" ng-model="technicalToolForm.profileName" />-->
                           <select  class="form-control" ng-model="technicalToolForm.profileName" ng-options="x for x in technicalToolDropdown"/>
                        </div>
                    </div>

                    <div class="col-md-6 ">
                        <div class="form-group">
                            <label><strong>TechnicalToolDescription </strong></label>
                            <input type="text" class="form-control" ng-model="technicalToolForm.technicalToolDescription" />
                        </div>
                    </div>



                </div>
            </div>
            <!--Row nEnd-->
        </div>


        <div class="modal-footer">
            <div class="col-md-11">
                <!-- <button class="btn btn-primary" ng-click="ok()">Yes</button> -->
                <button class="btn btn-primary btn-o" style="float:right; margin-right:4px;" ng-click="cancel()">Close
                </button>
                <!-- <button class="btn btn-primary btn-o" ng-click="UploadFile()">UploadFile </button>-->
                <button class="btn btn-primary btn-o" ng-disabled="!technicalToolForm.profileName ||  !technicalToolForm.technicalToolDescription" style="float:right; margin-right:12px;" ng-click="addTechnicalTool()">Add
                    Technical Tool </button>
            </div>
        </div>
    </form>
</div>
<style type="text/css">
    .projectDetailsWindow input {
        border: 1px solid black;

    }

    .element {
        margin-left: 35px;
        margin-top: 20px;
        margin-right: 10px;
    }



    .modal-content {
        width: 80%;
        margin-left: 10%;
        margin-top: 20%;
    }
</style>