<div class="row skill-inventory" ng-controller="wcmToolUpdateCtrl">
    <form name="WCMToolForm" ">
        <div class="modal-header">
            <h3 class="modal-title" style="margin-left:2 px;text-align:center;"><strong>Update WCM Tool </strong></h3>
        </div>
        <div id="projectDetailsCon" class="modal-body ">

            <div class="row">
                <div class="col-md-12">



                    <div class="col-md-10 col-md-offset-1">
                        <div class="form-group">
                            <label><strong>Level First </strong></label>
                            <input type="text" class="form-control" ng-model="WCMToolUpdateFormLevelFirstTool" />
                        </div>
                    </div>

                    <div class="col-md-10 col-md-offset-1">
                        <div class="form-group">
                            <label><strong>Level Second </strong></label>
                            <input type="text" class="form-control" ng-model="WCMToolUpdateFormLevelSecondTool" />
                        </div>
                    </div>
<!--
                    <div class="col-md-3 element">
                        <div class="form-group">
                            <label>Reprort Priority </label>
                            <input type="number" class="form-control" ng-model="WCMToolUpdateFormReprortPriority" />
                        </div>
                    </div>
-->
                    <div class="col-md-10 col-md-offset-1">
                        <div class="form-group">
                            <label><strong> Type </strong></label>
                            <select  class="form-control" ng-model="WCMToolUpdateFormType" ng-options="x for x in toolDropdown"/>
                        </div>
                    </div>

                    <div class="col-md-10 col-md-offset-1 ">
                        <div class="form-group">
                            <label><strong> Pillar Approach </strong></label>
                            <select  class="form-control" ng-model="WCMMethodUpdateFormTypePillar_approach" ng-options="y for y in pillarApproachDropdown"/>
                        </div>
                    </div>

                </div>
            </div>
            <!--Row nEnd-->
        </div>


        <div class="modal-footer">
            <div class="col-md-11">
                <!-- <button class="btn btn-primary" ng-click="ok()">Yes</button> -->
                <button class="btn btn-primary btn-o" style="float:right; margin-right:4px;" ng-click="cancel()">Close
                </button>

                <!-- <button class="btn btn-primary btn-o" ng-click="UploadFile()">UploadFile </button>-->
                <button class="btn btn-primary btn-o" ng-disabled="!WCMToolUpdateFormLevelFirstTool   || !WCMToolUpdateFormType || !WCMMethodUpdateFormTypePillar_approach" style="float:right; margin-right:12px;" ng-click="updateWCMTool()">Update
                    WCM Tool </button>
            </div>
        </div>
    </form>
</div>
<style type="text/css">
    .projectDetailsWindow input {
        border: 1px solid black;

    }


    .element {
        margin-left: 35px;
        margin-top: 20px;
        margin-right: 10px;
    }

    .modal-content {
        width: 60%;
        margin-left: 20%;
        margin-top: 15%;
    }
</style>