<div class="row" ng-controller="bMatrixColorChangeCtrl">
    <form name="squares" >
<div class="modal-header">
    <label ><h4 style="margin-left:5 px;margin-top:10 px; padding: 55 px"> Are you sure to change color ? </h4></label><br>
</div>
<div id="projectDetailsCon" class="modal-body">
<div class="row">
    <div class="col-md-12">
        <div class="form-group" style="width: 100%;">

         <div style="margin-bottom:10px;">   
            <!-- <div class="square1" ng-if="bMatrixDataColorForChange.color!='red'"></div>
            <div class="square2" ng-if="bMatrixDataColorForChange.color!='green'"></div>
            <div class="square3" ng-if="bMatrixDataColorForChange.color!='yellow'"></div> -->
            <div class="square1" id="square1"  ng-click="getCheckedColor('red')"></div>
            <div class="square2" id="square2"  ng-click="getCheckedColor('green')"></div>
            <div class="square3" id="square3"  ng-click="getCheckedColor('yellow')"></div>
        </div>
            
            
        </div>
    </div>
</div>  
</div>
<div class="modal-footer">
    <button class="btn btn-primary btn-o" ng-disabled="!showButtonToRun" ng-click="changeBMatrixDataColor()"><b>Yes</b> </button>
    <button class="btn btn-primary btn-o "style="margin-right:10px;" ng-click="cancel()"><b>No</b> </button>
</div>
</form>
</div>

<style type="text/css">
.panel-team {
    text-align: center;
}

.modal-content{
            font-size: 0.55pc;
            text-align: center;
            font-style: bold;
            width: 45%;
            height: 30%;
            margin-left: 25%;
            margin-top: 10%;
        }
.square1 {
    float: left;
    margin-left: 80px;
  height: 30px;
  width: 30px;
  background: #FF0000;
  cursor: pointer;
  border: 1px solid black;
border-radius: 5px;
}

.square2 {
    float: left;
    margin-left: 50px;
  height: 30px;
  width: 30px;
  background: #00B050;
  cursor: pointer;
  border: 1px solid black;
border-radius: 5px;
}
.square3 {
    float: left;
    margin-left: 50px;
  height: 30px;
  width: 30px;
  background: #FFFF00;
  cursor: pointer;
  border: 1px solid black;
border-radius: 5px;
}
</style>