<!--<div class="row" style="margin: 0;">
	<div class="col-md-9" style="background-color: #cfb4a2;text-align: center;padding: 10px;border: 2px solid;"> 
 		<h1> A - MATRIX SDE CYLINDER BLOCK</h1>
	</div>
	<div class="col-md-1" style="padding: 0;"> 
        <div class="color-varient red"> </div>
        <div class="color-varient yellow"> </div>
        <div class="color-varient green"> </div>
        <div class="color-varient gray"> </div>
	</div>
	<div class="col-md-1" style="padding: 0;"> 
		<div class="color-varient">STRONG IMPACT </div>
        <div class="color-varient">MEDIUM IMPACT </div>
        <div class="color-varient">LOW IMPACT </div>
        <div class="color-varient">NO IMPACT </div>
	</div>
	<div class="col-md-1" style="padding: 0;"> 
		<div class="color-varient">HIGH PRIORITY </div>
        <div class="color-varient">MEDIUM PRIORITY </div>
        <div class="color-varient"> LOW PRIORITY</div>
        <div class="color-varient"> NO PRIORITY</div>
	</div>

</div> -->

<table class="a-grid" ng-controller="DashAMatrixCtrl">
	<thead>
		<tr>
			<th colspan="3" rowspan="4"  style="width: 67%;background-color: #fabf8f;"> <h1> A - MATRIX SDE CYLINDER BLOCK</h1></th> 
			<th style="width: 11%;" class="red">&nbsp;</th>
			<th class="small-text" style="width: 11%;">STRONG IMPACT</th>
			<th class="small-text" style="width: 11%;">HIGH PRIORITY</th>
		</tr>
		<tr>
			<th class="yellow" >&nbsp;</th>
			<th class="small-text" >MEDIUM IMPACT</th>
			<th class="small-text" >MEDIUM PRIORITY</th>
		</tr>
		<tr>
			<th class="green" >&nbsp;</th>
			<th class="small-text" >LOW IMPACT</th>
			<th class="small-text" >LOW PRIORITY</th>
		</tr>
		<tr>
			<th class="gray"> &nbsp;</th>
			<th class="small-text" >NO IMPACT</th>
			<th class="small-text" >NO PRIORITY</th>
		</tr>
		<tr style="height: 50px;background-color: #92cddc;">
			<th style="width: 20%;">TYPE</th>
			<th style="width: 35%;">GROUP</th>
			<th  colspan="2" >LOSS</th>
			<th colspan="2">SEVERITY</th>
		</tr>
	</thead>
	<tbody >
		<tr ng-repeat="group in  aMatrixDataList track by $index"  style="height: 30px;">
			<td rowspan="{{getTypeCount(group.lossType)}}" ng-if="$index == 0 || ($index > 0 && aMatrixDataList[$index - 1]['lossType'] != group.lossType)">{{group.lossType}}</td>
			<td rowspan="{{getGroupCount(group.group,group.lossType)}}" ng-if="$index == 0 || ($index > 0 && aMatrixDataList[$index - 1]['group'] != group.group)">{{group.group}}</td>
			<td colspan="2" >{{group.loss}}</td>
			<td colspan="2" ng-class="{ 'red' : group.severity == 'STRONG IMPACT','yellow' : group.severity == 'MEDIUM IMPACT' ,'green' : group.severity == 'LOW IMPACT','gray' : group.severity == 'NO IMPACT'}" >

			<!-- {{group.severity}} -->
			<select ng-model=group.severity ng-class="{ 'red' : group.severity == 'STRONG IMPACT','yellow' : group.severity == 'MEDIUM IMPACT' ,'green' : group.severity == 'LOW IMPACT','gray' : group.severity == 'NO IMPACT'}" ng-change= "changeSeverity(group)">        
	            <option class="white" value="STRONG IMPACT">STRONG IMPACT</option>
	            <option class="white" value="MEDIUM IMPACT">MEDIUM IMPACT</option>
	            <option class="white" value="LOW IMPACT">LOW IMPACT</option>
            	<option class="white" value="NO IMPACT">NO IMPACT</option>
    		</select>
		</td>
		</tr>
		<!-- <tr style="min-height: 30px;">
			<td  rowspan="10">MAN </td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr style="min-height: 30px;">
			<td>MAN</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr> -->
	</tbody>
</table>
<style type="text/css">
    .a-grid {
    	width: 100%;
    	background-color: white;
    }
	.color-varient{
		width: 100%;
	    height: 18px;
	    border: 1px solid;
	    border-top: 0px solid;
	}

	.a-grid .red {
		background-color: #ff0000 !important;
	}
	.a-grid .yellow {
		background-color: #ffff00 !important;
	}
	.a-grid  .green {
		background-color: #00ff00 !important;
	}
	.a-grid  .gray {
		background-color: #c6d9f0 !important;
	}

	.white {
		background-color: #ffffff !important;
	}

	.a-grid  tr, .a-grid th,.a-grid  td {
		text-align: center;
		border: 1px solid;
	}

	.a-grid th.small-text{
		font-size: 10px;
	}


</style>

<!-- <div style="background-color: #ff0000;width: 100%;height: 15px;"> </div>
        <div style="background-color: #ffff00;width: 100%;height: 15px;"> </div>
        <div style="background-color: #00ff00;width: 100%;height: 15px;"> </div>
        <div style="background-color: #c6d9f0;width: 100%;height: 15px;"> </div>