<div class="container-fluid container-fullw" style="padding: 0;">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-white">
                <div class="panel-body-custom">
                    <div class="row" ng-controller="DashboardMainCtrl">
                        <div class="col-md-12" style="height: 66vh;">
                            <div class="panel panel-white no-radius">
                                    <div class="panel-heading border-bottom text-center dashboard-pannal" style="">
                                        <div class="fca-logo">
                                            <img src="assets/images/main/mindnerves_logo.png" >
                                        </div>
                                        <h2 class="panel-title">{{panelTitle}}</h2>
                                        <!-- <span class="panel-back-tools">
                                           
                                        </span> -->
                                        <span class="dash-custom-actions-panel">  
                                            <i class="fa ti-filter" ng-if="!showFilterPanel" ng-click="filterPanelData()"></i>
                                            <i class="fa fa-mail-reply"  ng-if="isHideDashboardPanel" ng-click="backToDashPanel()"></i>
                                        </span> 
                                        <ct-paneltool class="panel-tools "  tool-expand="tool-expand"></ct-paneltool>
                                    </div>
                                    <div class="panel-body pannel-height">
                                        <div  ng-if="!isHideDashboardPanel" > 
                                           <!--  <div class="col-xs-12 col-sm-4 col-md-4"> 
                                                <div class="col-xs-12 col-sm-12 col-md-12"> 
                                                    <button class="btn btn-primary dash-panel" ng-click="changeDashPanel('plant')"> PWT Layout</button>
                                                </div>
                                                <div class="col-xs-12 col-sm-12 col-md-12"> 
                                                    <button class="btn btn-primary dash-panel"  ng-click="changeDashPanel('line')"> Line Layout</button>
                                                </div>
                                                <div class="col-xs-12 col-sm-12 col-md-12"> 
                                                    <button class="btn btn-primary dash-panel" ng-click="changeDashPanel('plantRMC')" > Plant RMC</button>
                                                </div>
                                                <div class="col-xs-12 col-sm-12 col-md-12"> 
                                                    <button class="btn btn-primary dash-panel"  ng-click="changeDashPanel('etuRMC')"> ETU RMC</button>
                                                </div>
                                            </div>
                                            <div class="col-xs-12 col-sm-4 col-md-4">  
                                                <div class="col-xs-12 col-sm-12 col-md-12"> 
                                                    <button class="btn btn-primary dash-panel" ng-click="changeDashPanel('amatrix')"> A Matrix</button>
                                                </div>
                                                <div class="col-xs-12 col-sm-12 col-md-12"> 
                                                    <button class="btn btn-primary dash-panel" ng-click="changeDashPanel('bmatrix')"> B Matrix</button>
                                                </div>
                                                <div class="col-xs-12 col-sm-12 col-md-12"> 
                                                    <button class="btn btn-primary dash-panel"ng-click="changeDashPanel('cmatrix')" > C Matrix</button>
                                                </div>
                                                <div class="col-xs-12 col-sm-12 col-md-12"> 
                                                    <button class="btn btn-primary dash-panel" ng-click="changeDashPanel('dmatrix')"> D Matrix</button>
                                                </div>
                                               
                                            </div>
                                            <div class="col-xs-12 col-sm-4 col-md-4"> 
                                                <div class="col-xs-12 col-sm-12 col-md-12"> 
                                                    <button class="btn btn-primary dash-panel" ng-click="changeDashPanel('ematrix')"> E Matrix</button>
                                                </div>
                                                <div class="col-xs-12 col-sm-12 col-md-12"> 
                                                    <button class="btn btn-primary dash-panel" ng-click="changeDashPanel('fmatrix')"> F Matrix</button>
                                                </div>
                                                <div class="col-xs-12 col-sm-12 col-md-12"> 
                                                    <button class="btn btn-primary dash-panel" ng-click="changeDashPanel('defmatrix')" style="font-size: 30px;"> 7 Steps Of Project Tracking</button>
                                                </div>
                                                 <div class="col-xs-12 col-sm-12 col-md-12"> 
                                                    <button class="btn btn-primary dash-panel" ng-click="changeDashPanel('rainbowChart')" > Rainbow Chart</button>
                                                </div>
                                            </div> -->

                                        
                                      
                                            <div class="row">
                                             <div class="col-md-2">
                                             <div class="small-box" ng-click="changeDashPanel('plant')">
                                                 <div class="title-text" >
                                                     PWT Layout
                                                 </div>
                                                 <div class="img-inner">
                                                    <img src="assets/images/main/Bimg1.png" style="border: none;">
                                                 </div>
                                             </div>
                                                <div class="small-box" ng-click="changeDashPanel('line')">
                                                 <div class="title-text">
                                                     Line Layout
                                                 </div>
                                                 <div class="img-inner">
                                                    <img src="assets/images/main/etu.png" style="border: none;">
                                                 </div>
                                             </div> 
                                                <div class="small-box" ng-click="changeDashPanel('plantRMC')" >
                                                 <div class="title-text">
                                                     Plant RMC
                                                 </div>
                                                 <div class="img-inner">
                                                    <img src="assets/images/main/Plant_RMC.jpg" >
                                                 </div>
                                             </div> 
                                             
                                                <div class="small-box"  ng-click="changeDashPanel('etuRMC')">
                                                 <div class="title-text">
                                                     ETU RMC
                                                 </div>
                                                 <div class="img-inner" style=" padding: 4px 4px;
                                                    border: 1px solid black;">
                                                    <img src="assets/images/main/ETU_RMC.png" style="border: none;" >
                                                 </div>
                                             </div>  
                                               <div class="small-box" ng-click="changeDashPanel('amatrix')">
                                                 <div class="title-text">
                                                     A-Matrix
                                                 </div>
                                                 <div class="img-inner">
                                                    <img src="assets/images/main/Amatrix.png" class="a-matrix" style="border: none;">
                                                 </div>
                                             </div>   
                                             </div>            
                                             <div class="col-md-8" style="padding: 0;">
                                                 <div class="main-back-img">
                                                    <img src="assets/images/main/bigimg.png" class="main-img" style="">
                                                 </div>
                                                 <div>
                                            <div class="col-md-3 bottom-div">
                                                <div class="small-box middle-botom-box"  ng-click="changeDashPanel('defmatrix')">
                                                 <div class="title-text size-text">
                                                     7 Steps Of Project Tracking
                                                 </div>
                                                 <div class="img-inner img-inner1">
                                                    <img src="assets/images/main/pro.png" class="project-mnt" style="height: 63px;">
                                                 </div>
                                             </div>
                                         </div>
                                         <div class="col-md-3 bottom-div">
                                                <div class="small-box middle-botom-box" ng-click="changeDashPanel('smatrix')">
                                                 <div class="title-text size-text">
                                                    Input from other source
                                                 </div>
                                                 <div class="img-inner img-inner1">
                                                    <img src="assets/images/main/sq.png" class="project-mnt" style="height: 63px;">
                                                 </div>
                                             </div>
                                         </div>
                                         <div class="col-md-3 bottom-div">
                                                <div class="small-box middle-botom-box" ng-click="changeDashPanel('skillInventory')">
                                                 <div class="title-text">
                                                    Skill Inventory
                                                 </div>
                                                 <div class="img-inner img-inner1">
                                                    <img src="assets/images/main/sc.png" style="border: none;">
                                                 </div>
                                             </div>
                                         </div>                                         

                                         <div class="col-md-3 bottom-div">
                                                <div class="small-box middle-botom-box" ng-click="goToPage('app.reports')">
                                                 <div class="title-text">
                                                     Reports
                                                 </div>
                                                 <div class="img-inner img-inner1">
                                                    <img src="assets/images/main/report.png" style="border: none;">
                                                 </div>
                                             </div>
                                         </div>
                                        <div class="col-md-3 bottom-div">
                                                <div class="small-box middle-botom-box" ng-click="changeDashPanel('rainbowChart')">
                                                 <div class="title-text">
                                                     Rainbow chart
                                                 </div>
                                                 <div class="img-inner img-inner1">
                                                    <img src="assets/images/main/Rainbow_Chart.png" >
                                                 </div>
                                             </div>
                                         </div>
                                    </div>
                                             </div>
                                             <div class="col-md-2">
                                            <div class="small-box" ng-click="changeDashPanel('bmatrix')">
                                                 <div class="title-text">
                                                     B-Matrix
                                                 </div>
                                                 <div class="img-inner">
                                                <img src="assets/images/main/bmatrix.png" style="border: none;">
                                                 </div>
                                             </div>
                                               <div class="small-box" ng-click="changeDashPanel('cmatrix')">
                                                 <div class="title-text">
                                                     C-Matrix
                                                 </div>
                                                 <div class="img-inner">
                                                    <img src="assets/images/main/C_Matrix.jpg" >
                                                 </div>
                                             </div>
                                                <div class="small-box" ng-click="changeDashPanel('dmatrix')">
                                                 <div class="title-text">
                                                     D-Matrix
                                                 </div>
                                                 <div class="img-inner">
                                                    <img src="assets/images/main/D_Matrix.jpg" >
                                                 </div>
                                             </div>
                                                <div class="small-box" ng-click="changeDashPanel('ematrix')">
                                                 <div class="title-text">
                                                     E-Matrix
                                                 </div>
                                                 <div class="img-inner">
                                                <img src="assets/images/main/Ematrix.png" style="border: none;">
                                                 </div>
                                             </div>
                                                <div class="small-box" ng-click="changeDashPanel('fmatrix')">
                                                 <div class="title-text">
                                                     F-Matrix
                                                 </div>
                                                 <div class="img-inner">
                                                    <img src="assets/images/main/F_matrix.jpg" >
                                                 </div>
                                             </div>
                                             
                                             </div>                                     
                                            </div>
                                        </div> 
                                        <div class="image-layout" ng-if="isShowImageLayoutData" > 
                                            <img   class="image_loader" ng-src="{{imageUrl}}" onerror="this.src='assets/images/main/nopreviewimage.png?t='+ ( new Date()).getTime();" >   
                                        </div>
                                       
                                        <div class="image-layout" ng-if="isShowAMatrixData" > 
                                            <div data-ng-include=" 'assets/views/dashboard/dash-a-matrix.html'" style="height: 100%;overflow-y: auto;"></div>  
                                        </div>
                                        <div class="image-layout" ng-if="isShowBMatrixData" > 
                                            <div data-ng-include=" 'assets/views/dashboard/dash-b-matrix.html'" style="height: 100%;overflow-y: auto;"></div>  
                                        </div>
                                        <div class="image-layout" ng-show="isShowDMatrixData" >
                                           <div ng-controller="DMatrixCtrl" style="height: 100%;">
                                                <div id="d_matrix"  class="d-matrix ag-theme-balham" style="height: 100%;" > </div> 
                                           </div> 
                                        </div>
                                        <div class="image-layout" ng-if="isShowSkillInventoryData" > 
                                            <div ng-controller="SkillInventoryCtrl" style="height: 100%;" ng-init="loadSkillInventoryGrid()">
                                                <div id="skill_inventory"  class="skill-inventory ag-theme-balham" style="height: 100%;"> </div>
                                           </div>  
                                        </div>
                                        <div class="image-layout" ng-show="isShowEMatrixData" >
                                           <div ng-controller="EMatrixCtrl" style="height: 100%;">
                                                <form name="EMatrixForm">
                                                    <div class=""  ng-show="showFilterPanel" style="padding: 15px;margin-top: 35px;">
                                                        <div class="row"  style="display: flex; justify-content: center;">
                                                            <div class="col-xs-6 col-sm-3 col-md-2">
                                                                <div class="form-group" >
                                                                    <label>Start Year </label>
                                                                    <span class="clip-select">
                                                                        <select class="form-control" name="startOfYear" ng-model="filterEMatrix.startOfYear">
                                                                            <option  ng-repeat="year in yearList" value="{{year}}">{{year}}</option>
                                                                        </select>
                                                                    </span>
                                                                </div>
                                                            </div>
                                                            <div class="col-xs-6 col-sm-3 col-md-2">
                                                                <div class="form-group">
                                                                    <label>Start Month </label>
                                                                    <span class="clip-select">
                                                                        <select class="form-control" name="startOfMonth" ng-model="filterEMatrix.startOfMonth">
                                                                            <option  ng-repeat="month in monthList" value="{{month.value}}">{{month.label}}</option>
                                                                        </select>
                                                                    </span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row"  style="">
                                                            <div class="col-md-12 text-center" style="padding: 20px;">  
                                                                <strong>Between</strong>
                                                            </div>
                                                        </div>
                                                        <div class="row"  style="display: flex; justify-content: center;">      
                                                            <div class="col-xs-6 col-sm-3 col-md-2">
                                                                <div class="form-group">
                                                                    <label>Start Year </label>
                                                                    <span class="clip-select">
                                                                        <select class="form-control" name="endOfYear" ng-model="filterEMatrix.endOfYear">
                                                                            <option  ng-repeat="year in yearList" value="{{year}}">{{year}}</option>
                                                                        </select>
                                                                    </span>
                                                                </div>
                                                            </div>
                                                            <div class="col-xs-6 col-sm-3 col-md-2">
                                                                <div class="form-group">
                                                                    <label>Start Month </label>
                                                                    <span class="clip-select">
                                                                        <select class="form-control" name="endOfMonth" ng-model="filterEMatrix.endOfMonth">
                                                                            <option  ng-repeat="month in monthList" value="{{month.value}}">{{month.label}}</option>
                                                                        </select>
                                                                    </span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row"  style="">
                                                            <div class="col-md-12 text-center" style="margin-top: 25px;"> 
                                                                <button class="btn btn-primary" ng-click="filterData(filterEMatrix)"> Apply </button>
                                                            </div>
                                                        </div>      
                                                    </div>
                                                </form>
                                                <div id="e_matrix" ng-show="!showFilterPanel"  class="ag-theme-balham" style="height: 100%;"> 
                                                </div> 
                                            </div> 
                                        </div>
                                        <div class="image-layout" ng-show="isShowFMatrixData" >
                                           <div ng-controller="FMatrixCtrl" style="height: 100%;">
                                                <form name="FMatrixForm">
                                                    <div class=""  ng-show="showFFilterPanel" style="padding: 15px;margin-top: 35px;">
                                                        <div class="row"  style="display: flex; justify-content: center;">
                                                            <div class="col-xs-6 col-sm-3 col-md-2">
                                                                <div class="form-group" >
                                                                    <label>End Year </label>
                                                                    <span class="clip-select">
                                                                        <select class="form-control" name="endOfYear1" ng-model="filterFMatrix.startOfYear">
                                                                            <option  ng-repeat="year in yearList" value="{{year}}">{{year}}</option>
                                                                        </select>
                                                                    </span>
                                                                </div>
                                                            </div>
                                                            <div class="col-xs-6 col-sm-3 col-md-2">
                                                                <div class="form-group">
                                                                    <label>End Month </label>
                                                                    <span class="clip-select">
                                                                        <select class="form-control" name="endOfMonth1" ng-model="filterFMatrix.startOfMonth">
                                                                            <option  ng-repeat="month in monthList" value="{{month.value}}">{{month.label}}</option>
                                                                        </select>
                                                                    </span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row"  style="">
                                                            <div class="col-md-12 text-center" style="padding: 20px;">  
                                                                <strong>Between</strong>
                                                            </div>
                                                        </div>
                                                        <div class="row"  style="display: flex; justify-content: center;margin-top: 20px;">     
                                                            <div class="col-xs-6 col-sm-3 col-md-2">
                                                                <div class="form-group">
                                                                    <label>End Year </label>
                                                                    <span class="clip-select">
                                                                        <select class="form-control" name="endOfYear" ng-model="filterFMatrix.endOfYear">
                                                                            <option  ng-repeat="year in yearList" value="{{year}}">{{year}}</option>
                                                                        </select>
                                                                    </span>
                                                                </div>
                                                            </div>
                                                            <div class="col-xs-6 col-sm-3 col-md-2">
                                                                <div class="form-group">
                                                                    <label>End Month </label>
                                                                    <span class="clip-select">
                                                                        <select class="form-control" name="endOfMonth" ng-model="filterFMatrix.endOfMonth">
                                                                            <option  ng-repeat="month in monthList" value="{{month.value}}">{{month.label}}</option>
                                                                        </select>
                                                                    </span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row"  style="">
                                                            <div class="col-md-12 text-center" style="margin-top: 25px;"> 
                                                                <button class="btn btn-primary" ng-click="filterData(filterEMatrix)"> Apply </button>
                                                            </div>
                                                        </div>      
                                                    </div>
                                                </form>
                                                <div id="f_matrix"  ng-show="!showFFilterPanel" class="ag-theme-balham" style="height: 100%;" > </div> 
                                           </div> 
                                        </div>
                                        <div class="image-layout" ng-show="isShowDEFMatrixData" >
                                           <div class="def-matrix" ng-controller="DEFMatrixCtrl" style="height: 100%;">
                                                <div id="def_matrix"  class="ag-theme-balham" style="height: 100%;" > </div> 
                                           </div> 
                                        </div>
                                        <div class="image-layout" ng-show="isShowCMatrixData" >
                                            <div data-ng-include=" 'assets/views/dashboard/dash-c-matrix.html'" style="height: 100%;overflow-y: auto;">
                                            </div>  
                                        </div>
                                        <div class="image-layout" ng-show="isShowRainbowData" style="overflow-y: auto;" >
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label>Year<span class="symbol required"></span></label>
                                                        <select class="cs-select cs-skin-slide" ng-options="item for item in calendarYearList" ng-model="calendarSelectedYear" ng-change ="getRinbowChartData()">
                                                            <option value="" disabled="">Select</option>
                                                        </select>
                                                     <span class="error text-small block" ng-if="report.selectedYear.$dirty && report.selectedYear.$invalid">year is required
                                                     </span>
                                                </div>
                                            </div>
                                            <div id="rainbowChart" style="height: 240vh;width: 90vw;margin: auto;">
                                            </div>  
                                        </div>

                                        <div class="image-layout" ng-show="isShowSMatrixData" >
                                            <div class="row text-center">
                                               <div class="radio clip-radio radio-primary">
                                                      <input type="radio" id="defaultInline1" checked="" name="sMatrixLayout" ng-click="getSMatrixImage('S Matrix')">
                                                      <label for="defaultInline1">S Matrix</label>

                                                      <input type="radio" id="defaultInline2" name="sMatrixLayout" ng-click="getSMatrixImage('QA Matrix')">
                                                      <label  for="defaultInline2">QA Matrix</label>
                                                </div>
                                            </div>
                                          <div class="s-matrix-image-layout"> 
                                            <img class= "image_loader" ng-src="{{imageUrl}}" onerror="this.src='assets/images/main/nopreviewimage.png';"  >   
                                          </div>
                                        </div>
                                    </div>
                                </div>
                        </div>

                </div>
            </div>
        </div>
    </div>
</div>
<div id="costGrid-tooltip" style="position: absolute;">
    <span class="tooltiptext" style="padding: 5px">{{tooltipData}}</span>
</div> 
<script type="text/javascript">
   
    function showTooltip(params) {
        $('#e_matrix').scope().showTooltipData(params);
    }
    function hideTooltip(){
        $('#e_matrix').scope().hideTooltipData();
    }
</script>


<style type="text/css">
    .gtitle, .xtitle, .ytitle{
        font-size: 22px !important;
        font-weight: bold !important;
        color : #7c8d8a !important;
    }

    .ytick, .xtick {
        font-size: 16px !important;
        font-weight: bold !important;
    }

    g.scrollbox{
        transform: translate(10px, 1355px) !important;
    }

    .s-matrix-image-layout {
        height: calc(100vh - 160px);
        width: 100%;
    }
</style>