<div class="c-matrix-dash-panel" style="padding: 0;margin: 0;" ng-controller="CMatrixCtrl" >
  <uib-tabset class="tabbable" active="active" style="font-weight: bold;">
    <uib-tab index="0" heading="Plant C Matrix" ng-click="changeTab(0)">
      <div class="row text-center form-group">
        <div class="radio clip-radio radio-primary">
          <input type="radio" ng-model="displayingImage" name="graphImage" id="lossDistribution" value="Plant C Matrix Loss Distribution" ng-change="radioButtonClicked('Plant C Matrix Loss Distribution')">
          <label style="font-weight: bold;" for="lossDistribution"> Loss Distribution </label>
          <input type="radio" ng-model="displayingImage" name="graphImage" id="pareto" value="Plant C Matrix Pareto" ng-change="radioButtonClicked('Plant C Matrix Pareto')">
          <label id="lossDistribution" style="font-weight: bold;" for="pareto"> Pareto </label>
        </div>
      </div>
      <div class="c-matrix-image-layout"> 
        <img id="c-matrix-image-layout1" class= "image_loader" ng-src="{{imageUrl}}" onerror="this.src='assets/images/main/nopreviewimage.png';"  >   
      </div>
    </uib-tab>
    <uib-tab index="1" heading="ETU C Matrix" ng-click="changeTab(1)">
      <div class="row text-center form-group">
        <div class="radio clip-radio radio-primary">
          <input type="radio" ng-model="displayingImage" name="graphImage" id="lossDistribution1" value="ETU C Matrix Loss Distribution" ng-change="radioButtonClicked('ETU C Matrix Loss Distribution')">
          <label style="font-weight: bold;" for="lossDistribution1"> Loss Distribution </label>
          <input type="radio" ng-model="displayingImage" name="graphImage" id="pareto1" value="ETU C Matrix Pareto" ng-change="radioButtonClicked('ETU C Matrix Pareto')">
          <label style="font-weight: bold;" for="pareto1"> Pareto </label>
        </div>
      </div>
      <div class="c-matrix-image-layout"> 
        <img id="c-matrix-image-layout2" class="image_loader" ng-src="{{imageUrl}}" onerror="this.src='assets/images/main/nopreviewimage.png';"  >   
      </div>
    </uib-tab>
    <uib-tab index="2" heading="C Matrix" ng-click="changeTab(2)">
      <div style="height: 100%;padding: 0 15px;">
        <div class="row" style="display: flex;">
          <!--<div class="col-md-3"> 
              <div class="form-group">
                  <label>ETU Type </label>
                  <span class="clip-select">
                      <select class="form-control" name="etuType" ng-model="filterForm.etuType"  ng-change="filterData(filterForm)">
                       <option value="" selected>All ETU</option>
                       <option  ng-repeat="etu in etuTypeList" value="{{etu.id}}">{{etu.etuName}}</option>
                      </select>
                  </span>
              </div>
          </div> -->
          <div class="col-md-3">
              <div class="form-group">
                  <label>Year </label>
                  <span class="clip-select">
                      <select class="form-control" name="year" ng-model="filterForm.year"  ng-change="filterData(filterForm)">
                      <option  ng-repeat="year in allYearList" value="{{year}}">{{year}}</option>
                      </select>
                  </span>
              </div>
          </div>
          <div class="col-md-3">
              <div class="form-group">
                  <label>Month </label>
                  <span class="clip-select">
                      <select class="form-control" name="month" ng-model="filterForm.month"  ng-change="filterData(filterForm)">
                          <option  ng-repeat="month in allMonthList" value="{{month.value}}">{{month.label}}</option>
                      </select>
                  </span>
              </div>
          </div>
          <div class="col-md-6" style="margin: auto;">
            <div class="radio clip-radio radio-primary">
              <input type="radio" ng-model="cMatrixPanel" name="cMatrixPanel" id="lossDistribution3" value="C Matrix Loss Distribution" ng-change="loadCMatrixFilterCheck('C Matrix Loss Distribution')">
              <label style="font-weight: bold;" for="lossDistribution3"> Loss Distribution </label>
              <input type="radio" ng-model="cMatrixPanel" name="cMatrixPanel" id="pareto3" value="C Matrix Pareto" ng-change="loadCMatrixFilterCheck('C Matrix Pareto')" >
              <label style="font-weight: bold;" for="pareto3"> Pareto </label>
            </div>
          </div>  
        </div>
        <div class="row"  ng-if ="cMatrixPanel == 'C Matrix Loss Distribution'">
          <div class="col-md-12">
            <div id="c-matrix-dist" class="ag-theme-balham" > </div>    
          </div>
        </div> 
        <div class="row"  ng-if ="cMatrixPanel == 'C Matrix Pareto'">
          <div class="col-md-12">
            <svg id="c-matrix-pereto" ></svg>        
          </div>
        </div>     
      </div> 
    </uib-tab>
  </uib-tabset>
</div>
<style type="text/css">
  .c-matrix-dash-panel {
    height: calc( 100vh - 110px);

  }
  .c-matrix-dash-panel .tabbable  {
    height: 100%;
    margin-bottom: 0px;
  }
  .c-matrix-dash-panel .tabbable .tab-content {
    height: calc(100vh - 160px);
  }
  #c-matrix-dist {
    height: calc(100vh - 274px);
  }
  #c-matrix-pereto {
    height: calc(100vh - 280px);
    width: 100%;
  }
  .c-matrix-image-layout {
    height: calc(100vh - 280px);
    width: 100%;
  }
</style>