<div class="row skill-inventory" ng-controller="deleteProjectOfWCMCtrl">
		<form name="WCMToolForm" ">
<div class="modal-header">
    
</div>
<div id="projectDetailsCon" class="modal-body">
    <div class="row">
        <div class="col-md-12">
            <div class="form-group" style="width: 100%;">
                <label style="margin-left:5 px; padding: 55 px"><h4> Are you sure to delete this Operation ? </h4></label><br>
                <button class="btn btn-primary btn-o" ng-click="deleteWCMProject()"><b>Yes</b> </button>
                <button class="btn btn-primary btn-o" ng-click="cancel()"><b>No</b> </button>
            </div>
        </div>
    </div>  
</div>
</form>
</div>

<style type="text/css">
	.panel-team {
		text-align: center;
	}
  
	th,td {
		padding: 10px 25px;
		border: 1px solid black;
	}
	.modal-content{
				font-size: 20 px;
				
				text-align: center;
				font-style: bold;
                width: 45%;
				height: 30%;
                margin-left: 25%;
				margin-top: 20%;
            }
        
</style>