<div class=" popup-inventory" ng-controller="deleteDMatricesProjectCtrl">
	<form name="" ">

<div class=" modal-header">

</div>
<div id="projectDetailsCon" class="modal-body">
	

	<div class="row">

	
		<div class="col-md-12">
			<div class="form-group" style="width: 100%;">
				<label style="margin-left:5 px;">
					<h4> Do you want to delete this project ? </h4>
				</label><br>
				<button class="btn btn-primary btn-o" ng-click="deleteProject()"><b>Yes</b> </button>
				<button class="btn btn-primary btn-o" ng-click="cancel()"><b>No</b> </button>
			</div>
		</div>
	</div>






</div>
</form>
</div>

<style type="text/css">
	.panel-team {
		text-align: center;
	}

	th,
	td {
		padding: 10px 25px;
		border: 1px solid black;
	}

	.plan-remark-rec {
		width: 54px;
		height: 21px;
		color: red;
		background: red;
		position: absolute;
		top: -3px;
		right: -26px;
		transform: rotate(-133deg);
	}

	.chart-not-avalable {
		width: 100%;
		text-align: center;
	}

	.chart-radar-cont {
		min-height: 200px;
		display: flex;
		align-items: center;
	}

	.user-image img {
		width: 150px !important;
		height: 160px !important;
	}

	.modal-content {
		font-size: 20 px;

		text-align: center;
		font-style: bold;
		width: 30%;
		height: 30%;
		margin-left: 30%;
		margin-top: 10%;
	}
</style>