<div id="projectDetailsCon" class="modal-body">
	<div class="row">
		<div class="col-md-12 col-lg-12">
			<div class="panel panel-white no-radius" id="kaizenDoc">
				<div class="panel-heading border-light">
					<div>
					<h4 style="float: left;" class="panel-title">Project Kaizen Document</h4>
					<li class="w3-xlarge"><i class="fa fa-close" class="panel-tools" tool-collapse="tool-collapse" style="float: right;" ng-click="cancel()"></i></li>
					<div>
					<div class="panel-body">
						<div class="row">
					        <div class="col-md-12" ng-if="projectInfo.document != null" ng-init="getKaizenDocUrl(projectInfo.id)">
					            <iframe id="fred" style="border:1px solid #666CCC;width: 100%;" title="PDF in an i-Frame" src="" frameborder="1" scrolling="auto" height="900" ></iframe>
					        </div>
					        <div class="col-md-12 center" ng-if="projectInfo.document == null" >
					        	<P>Document Not Available!!</P>
					        </div>  
					    </div>    
	                </div>
	            </div>
	        </div>
	    </div>
	</div>
<div class="modal-footer">
    <!-- <button class="btn btn-primary" ng-click="ok()">Yes</button> -->
    <button class="btn btn-primary btn-o" ng-click="cancel()">Close </button>
</div>
<style type="text/css">
	.panel-team {
		text-align: center;
	}
	th,td {
		padding: 10px 25px;
		border: 1px solid black;
	}
	.plan-remark-rec{
		width: 54px;
	    height: 21px;
	    color: red;
	    background: red;
	    position: absolute;
	    top: -3px;
	    right: -26px;
	    transform: rotate(-133deg);
	}
	.chart-not-avalable {
		width: 100%;
    	text-align: center;
	}
	.chart-radar-cont {
		min-height: 200px;
	    display: flex;
	    align-items: center;
	}
	.user-image img {
		width: 150px !important;
    	height: 160px !important;
	}
</style>