
<div class=" pdca-page" ng-controller="HomepageCtrl">
    
        
        <div class="modal-header" ng-init="getPDCA_Status()">
            <h3 class="modal-title" style="margin-left:2 px;text-align:center;"><strong>PDCA Pending Projects Status</strong></h3>
        </div>
        <div id="etus" class="modal-body ">

            <div class="row">
                <div class="col-md-12 etucontains" style="margin-left:5 px;">
                    <div>

                        <table  border="1" class=" table table-striped" style="width:100%; height: 2%; " >
                            <tr>
                                <th style="text-align: center;">Project Code</th>
                                <th style="text-align: center; ">Project Name</th>
                            </tr>
                                <tr ng-repeat="projectData in projectnames">
                                    <td style="width: 105px; padding:5px;">{{projectData[1]}}</td>
                                    <td style=" padding:5px;">{{projectData[0]}}</td>
                                    
                                </tr>
                        </table>
                  </div>
                </div>
            </div>
            <!--Row nEnd-->
        </div>

        <div class="modal-footer">
            <div class="col-md-11">
                <!-- <button class="btn btn-primary" ng-click="ok()">Yes</button> -->
                <button class="btn btn-primary btn-o pull-right" style="float:right; margin-right:4px;" data-dismiss="modal" ng-click="cancel()">Close
                </button>
                
            </div>
        </div>
       
    
    
</div>
<style type="text/css">
    .projectDetailsWindow input {
        border: 1px solid black;

    }

    .element {
        margin-left: 35px;
        margin-top: 20px;
        margin-right: 10px;
    }

    

    .modal-content {
        
        width: 100%
    
            }
    
.tablestyle{
    height: auto;
    width: auto;
}

.projectStatusWindow {
    margin-left: 20%;
    height: auto;
    width: 50%;
 
}

.modal-open .modal {
    overflow-x: hidden;
    overflow-y: hidden;
}


.projectStatusWindow .modal.projectStatusWindow{
    margin-left: 20%;
    
 
}
.projectStatusWindow .modal-body{
    overflow: auto;
    height: 337px;
}    
.modal.in .modal-dialog{
    width: 100%;
}
</style>
</div>