<div class="modal-header">
    <h3 class="modal-title">Project Details : <strong>{{ projectInfo.projectName }}</strong></h3>
</div>
<div id="projectDetailsCon" class="modal-body">
   <!--  <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12"> 
            <p>Are you want to start execution?</p>
        </div>
    </div>  -->
    <div class="row">
        <div class="col-md-2">
            <div class="form-group">
                <label> Project Code </label>
                <input type="text"  class="form-control" ng-model="projectInfo.projectCode" readonly="" disabled="" />
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label> CD </label>
                <input type="text"  class="form-control" ng-model="projectInfo.cDYear.name" readonly="" disabled="" />
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group" >
                <label> Project Name  </label>
                <div style="padding: 10px 5px; background-color: #f7f7f8;color: #5b5b60;"> {{ projectInfo.projectName }}</div>
                <!--  <input type="text"  class="form-control" ng-model="projectInfo.projectName" readonly="" disabled="" /> -->
            </div>
        </div>
         <div class="col-md-2">
            <div class="form-group" >
                <label> Start Date  </label>
                <div style="padding: 10px 5px; background-color: #f7f7f8;color: #5b5b60;"> {{ getTransformDate( projectMoreInfo.startDate ) }}</div>
                 <!-- <input type="text"  class="form-control" ng-model="projectMoreInfo.startDate" readonly="" disabled="" /> -->
            </div>
        </div>
         <div class="col-md-2">
            <div class="form-group" >
                <label> Target Date  </label>
                <div style="padding: 10px 5px; background-color: #f7f7f8;color: #5b5b60;"> {{ getTransformDate(projectMoreInfo.targetDate) }}</div>
                <!--  <input type="text"  class="form-control" ng-model="projectMoreInfo.targetDate" readonly="" disabled="" /> -->
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <div class="form-group">
                <label> Yearly Potentials </label>
                <input type="text"  class="form-control" ng-model="projectInfo.yearlyPotential" readonly="" disabled="" />
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label> ETU </label>
                <input type="text"  class="form-control"  ng-model="projectInfo.etu.etuName" readonly="" disabled="" />
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group" >
                <label> Loss Type  </label>
                 <input type="text"  class="form-control" ng-model="projectInfo.lossType.loss" readonly="" disabled="" />
            </div>
        </div>
         <div class="col-md-2">
            <div class="form-group" >
                <label>confidenceLevel(%)  </label>
                 <input type="text"  class="form-control" ng-model="projectMoreInfo.confidenceLevel" readonly="" disabled="" />
            </div>
        </div>
         <div class="col-md-2">
            <div class="form-group" >
                <label> B / C </label>
                 <input type="text"  class="form-control" ng-model="projectMoreInfo.bc" readonly="" disabled="" />
            </div>
        </div>
    </div>  
    <div class="row">
        <div class="col-md-2">
            <div class="form-group">
                <label> Base Pillar </label>
                <input type="text"  class="form-control" ng-model="basePillar" readonly="" disabled="" />
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label> Supporting Pillars </label>
                <div style="padding: 10px 5px; background-color: #f7f7f8;color: #5b5b60;"> {{supportingPillars }}</div>
            </div>
		</div>
		<div class="col-md-2">
			<div class="form-group">
				<div>
				</br></br>
					<label> </label>	
					<input type="checkbox" value="etu"  ng-model="etuStatus"  disabled="true" ><label class="checkbox-inline"></label>ETU Approval</label>
				</div>
			</div>
		</div>
		<div class="col-md-2">
				<div class="form-group">
					<div>
						</br></br>
						<label> </label>	
						<input type="checkbox"  ng-model="financeStatus" disabled="true"><label class="checkbox-inline"></label>Finance Approval</label>
					</div>
				</div>
		</div>
    </div>    

	<div class="row">
		<div class="col-md-12 col-lg-12">
			<div class="panel panel-white no-radius" id="panelmember">
				<div class="panel-heading border-light">
					<h4 class="panel-title">Team Members</h4>
					<ct-paneltool class="panel-tools" tool-collapse="tool-collapse" ></ct-paneltool>
				</div>
				<div uib-collapse="panelmember" ng-init="panelmember=true" class="panel-wrapper">
					<div class="panel-body">
	                    <div class="row">
	                    	<div class="col-sm-6 col-md-6 col-lg-6">
			                    <p>
			                        These section showing user radar chart.
			                    </p>
	                    	</div>
	                    	<div class="col-sm-6 col-md-6 col-lg-6" style="display: flex;align-items: center;background-color: white;justify-content: flex-end;">
	                    		<div>
	                    			TEAM RADAR CHART   
	                    		</div>
	                    		<div class="checkbox" style="margin: 0px 5px;">
                                    <switch ng-model="switchsetting" ng-init="switchsetting = false" class="green"></switch>
                                </div>
                                <div>
                               		TEAM MAXIMUM RADAR CHART
                                </div>
	                    	</div>
	                    </div>
	                    <div class="row pricing-table pricing-green" ng-if="!switchsetting" style="overflow-x: auto;overflow-y: hidden;  display: flex;">
	                        <div class="col-lg-6 col-md-6 col-sm-6 " ng-if="personTeamLeader != null" >
	                            <ul class="plan plan1 featured"  style="min-width: 490px;overflow: hidden;"> <!-- featured -->
	                                <li class="plan-name">
	                                    Team Leader : {{ personTeamLeader.user.name}}
	                                </li>
	                                <li class="plan-price">
	                                   <div class="user-image">
                                            <div class="thumbnail">
                                                <img ng-src="{{getProfileImageUrl(personTeamLeader.user.id) }}" onerror="this.src='assets/images/default-user.png'" alt="">
                                                <!-- <img ng-src="{{userInfo.avatar}}" alt="" ng-if="!obj.flow.files.length && !noImage"> -->
                                            </div>
                                        </div>
	                                </li>
	                                <!-- <li style="height: 400px;" ng-init="loadRadarChart('personTeamLeaderchart',personTeamLeader)">
	                                    <div id="chart-body">
										  	<div id="personTeamLeaderchart"></div>
									    </div>
	                                </li> -->
	                                <li ng-init="radarChartLeaderWithCanvas()" class="chart-radar-cont">  
	                                	<div class="col-md-12 col-lg-12 " >
											<canvas ng-if="rdDataPersonTeamLeader[0].length > 0" id="personTeamLeaderchart" class="chart chart-radar" chart-data="rdDataPersonTeamLeader" chart-options="options" chart-series="rdSeriesPersonTeamLeader" chart-colours="colors"  chart-legend="false" chart-labels="rdLabelPersonTeamLeader" > </canvas>
											<div ng-if="rdDataPersonTeamLeader[0].length <= 0" class="chart-not-avalable">
											   	Chart not available!!
											</div>
										</div>	
	                                </li>
	                            </ul>
	                        </div>
	                        <div class="col-lg-6 col-md-6 col-sm-6 " ng-if="personCoach != null" >
	                            <ul class="plan plan2" style="min-width: 490px;overflow: hidden;" >
	                                <li class="plan-name">
	                                    Team Coach :  {{ personCoach.user.name }}
	                                </li>
	                                <li class="plan-price">
	                                	<div class="user-image">
		                                    <div class="thumbnail">
	                                            <img ng-src="{{getProfileImageUrl(personCoach.user.id) }}" onerror="this.src='assets/images/default-user.png'" alt="">
	                                            <!-- <img ng-src="{{userInfo.avatar}}" alt="" ng-if="!obj.flow.files.length && !noImage"> -->
	                                        </div>
	                                    </div>
	                                </li>
	                               <!--  <li style="height: 400px;" ng-init="loadRadarChart('personCoachChart',personCoach)">
	                                    <div id="chart-body">
										  	<div id="personCoachChart"></div>
									    </div>
	                                </li> -->
	                                <li ng-init="radarChartCoachWithCanvas()" class="chart-radar-cont"> 
	                                	<div class="col-md-12 col-lg-12 " >
											<canvas ng-if="rdDataPersonCoach[0].length > 0" id="personTeamCoachchart" class="chart chart-radar" chart-data="rdDataPersonCoach" chart-options="options" chart-colours="colors"  chart-legend="false" chart-labels="rdLabelPersonCoach"> </canvas>
											<div ng-if="rdDataPersonCoach[0].length <= 0"  class="chart-not-avalable">
										    	Chart not available!!
										    </div>
										</div>
	                                </li>
	                            </ul>
	                        </div>
	                        <div class="col-lg-6 col-md-6 col-sm-6 " ng-repeat="member in teamMember" >
	                            <ul class="plan plan3" style="min-width: 490px;overflow: hidden;" >
	                                <li class="plan-name">
	                                    Member {{ $index + 1 }} :  {{ member.user.name }}
	                                </li>
	                                <li class="plan-price">
	                                   <div class="user-image">
		                                    <div class="thumbnail">
	                                            <img  ng-src="{{getProfileImageUrl(member.user.id) }}" onerror="this.src='assets/images/default-user.png'" alt="">
	                                            <!-- <img ng-src="{{userInfo.avatar}}" alt="" ng-if="!obj.flow.files.length && !noImage"> -->
	                                        </div>
	                                    </div>
	                                </li>
	                                <!-- <li style="height: 400px;" ng-init="loadRadarChart('projectChart',member,$index)">
	                                    <div id="projecthart-body">
										  	<div id="projectChart_{{$index}}">
										  	</div>
									    </div>
	                                </li> -->
	                                <li class="chart-radar-cont">
	                                	<div class="col-md-12 col-lg-12 " >
										    <canvas ng-if="member.data[0].length > 0" id="projectChart_{{$index}}" class="chart chart-radar" chart-data="member.data" chart-options="options" chart-labels="member.labels" chart-series="series" chart-colours="colors" chart-legend="false"></canvas>
										    <div ng-if="member.data[0].length <= 0"  class="chart-not-avalable">
										    	Chart not available!!
										    </div>
				                    	</div>
	                                </li>
	                            </ul>
	                        </div>
	                    </div>
	                    <div class="row" ng-if="switchsetting">
	                    	<div class="panel-team col-md-4 col-lg-4" style="display: flex;flex-wrap: wrap;">
	                    		<div class="col-xs-12 col-md-6 col-lg-6" ng-if="personTeamLeader != null">
	                    			<h4 class="head-title">
	                    				Team Leader
	                    			</h4>
                    			 	<div class="user-image">
                                        <div class="thumbnail">
                                            <img  ng-src="{{getProfileImageUrl(personTeamLeader.user.id) }}" onerror="this.src='assets/images/default-user.png'" alt="">
                                        	<p style=" overflow: hidden; margin: 5px 0px;"> {{ personTeamLeader.user.name }}</p>
                                        </div>
                                    </div>

	                    		</div>
	                    		<div class="col-xs-12 col-md-6 col-lg-6" ng-if="personCoach != null">
	                    			<h4 class="head-title">
	                    				Team Coach
	                    			</h4>
	                    			<div class="user-image">
                                        <div class="thumbnail">
                                            <img  ng-src="{{getProfileImageUrl(personCoach.user.id) }}" onerror="this.src='assets/images/default-user.png'" alt="">
											<p style=" overflow: hidden; margin: 5px 0px;"> {{ personCoach.user.name }}</p>
                                        </div>
                                    </div>
	                    		</div>
	                    		<div class="col-xs-12 col-md-6 col-lg-6" ng-repeat="member in teamMember" >
	                    			<h4 class="head-title">
	                    				Member {{ $index + 1 }} 
	                    			</h4>
	                    			<div class="user-image">
                                        <div class="thumbnail">
                                            <img  ng-src="{{getProfileImageUrl(member.user.id) }}" onerror="this.src='assets/images/default-user.png'" alt="">
											<p style=" overflow: hidden; margin: 5px 0px;"> {{ member.user.name }}</p>
                                        </div>
                                    </div>
	                    		</div>
	                    	</div>
	                    	<!-- <div class="col-md-9 col-lg-9 " ng-init="loadRadarTeamChart()">
	                    		<div id="projecthart-body">
								  	<div id="projectTeamChart">
								  	</div>
							    </div>
	                    	</div> -->
	                    	<div class="col-md-8 col-lg-8 " ng-init="radarChartWithCanvas()">

							    <canvas id="projectTeamChart1" class="chart chart-radar" chart-data="data" chart-options="options" chart-labels="labels" chart-series="series" chart-colours="colors" chart-legend="false"></canvas>
	                    	</div>
	                    </div>	
	                </div>		
				</div>
			</div>
		</div>
	
	</div>	
	<div class="row">
		<div class="col-md-12 col-lg-12">
			<div class="panel panel-white no-radius" id="panelplan">
				<div class="panel-heading border-light">
					<h4 class="panel-title">Project Planning and Execution</h4>
					<ct-paneltool class="panel-tools" tool-collapse="tool-collapse" ></ct-paneltool>
				</div>
				<div uib-collapse="panelplan" ng-init="panelplan=true" class="panel-wrapper">
					<div class="panel-body">
						<div class="row">
					        <div class="col-md-2">
					            <div class="form-group">
					                <label> Completion Date </label>
					                <div style="padding: 10px 5px; background-color: #f7f7f8;"> {{ projectInfo.completionDate | date : 'dd.MM.yyyy' }}</div>
					            </div>
					        </div>
					    </div>    
	                    <!-- <div class="row">
	                    	<div class="col-sm-12 col-md-12 col-lg-12">
			                   <table style="width:100%;">
			                   	<thead>
			                   		<th style="width:30%;" >
			                   			Month
			                   		</th>
			                   		<th style="width:10%;">
			                   			Plan
			                   		</th>
			                   		<th style="width:10%;">
			                   			Execution
			                   		</th>
			                   		<th >
			                   			Remarks
			                   		</th>
			                   	</thead>
			                   	<tbody>
			                   		<tr ng-repeat-start="plan in projectPlan.planTable" style="display: none;">
							            <td >
							                {{ plan.label }}
							            </td>
							            <td>
							                {{ weekOfMonth.status }}
							            </td>
							        </tr>
							        <tr ng-repeat-end ng-repeat="weekOfMonth in plan.weekOfMonth">
							            <td class="text-center {{plan.colorClass}}" ng-if="$index==0" rowspan="{{plan.weekOfMonth.length}}">
							                {{ plan.label }}
							            </td>
							            <td class="text-center">
							                {{ weekOfMonth.status }}
							            </td>
							             <td class="text-center">
							                {{ weekOfMonth.actualStatus }}
							            </td>
							             <td>
							                {{ getRemarkSfromStartWeekDate(weekOfMonth.weekStartDate) }}
							            </td>
							        </tr>
			                   	</tbody>
			                   </table>
	                    	</div>
	                    </div> -->
	                     <div class="row" style="overflow-x: auto;">
	                    	<div class="col-sm-12 col-md-12 col-lg-12">
			                   <table style="width:100%;">
			                   	<thead>
			                   		<th style="width:20%;" >
			                   			Month
			                   		</th>
			                   		<th ng-repeat="plan in projectPlan.planTable" class="text-center {{plan.colorClass}}" ng-if="plan.weekOfMonth.length > 0" colspan="{{plan.weekOfMonth.length}}">
							                {{ plan.label }}
							        </th>
			                   	</thead>
			                   	<tbody>
			                   		<tr >
							            <td >
							                Plan
							            </td>
 										<td ng-repeat-start="plan in projectPlan.planTable" style="display: none;"></td>
							            <td ng-repeat-end ng-repeat="weekOfMonth in plan.weekOfMonth" class="center" > 
							                <span ng-if="weekOfMonth.status != 'X'"> {{ weekOfMonth.status }}</span>
							            </td>
							        </tr>
							        <tr >
							            <td >
							                Execution
							            </td>
 										<td ng-repeat-start="plan in projectPlan.planTable" style="display: none;"></td>
							            <td ng-repeat-end ng-repeat="weekOfMonth in plan.weekOfMonth" class="center" style="position: relative;">
							                 
							                <a href="#" uib-tooltip="{{getRemarkSfromStartWeekDate(weekOfMonth.weekStartDate)}}" ng-if="weekOfMonth.actualStatus != 'X'"> {{ weekOfMonth.actualStatus }} </a>
							                 
							                <span style="color: red" ng-if="getRemarkSfromStartWeekDate(weekOfMonth.weekStartDate)">*</span>
							            </td>
							        </tr>
							      <!--   <tr ng-repeat-end ng-repeat="weekOfMonth in plan.weekOfMonth">
							            <td class="text-center {{plan.colorClass}}" ng-if="$index==0" rowspan="{{plan.weekOfMonth.length}}">
							                {{ plan.label }}
							            </td>
							            <td class="text-center">
							                {{ weekOfMonth.status }}
							            </td>
							             <td class="text-center">
							                {{ weekOfMonth.actualStatus }}
							            </td>
							             <td>
							                {{ getRemarkSfromStartWeekDate(weekOfMonth.weekStartDate) }}
							            </td>
							        </tr> -->
			                   	</tbody>
			                   </table>
	                    	</div>
	                    </div>
	                </div>
	            </div>
	        </div>
	    </div>
	</div>
	<div class="row">
		<div class="col-md-12 col-lg-12">
			<div class="panel panel-white no-radius" id="panelsaving">
				<div class="panel-heading border-light">
					<h4 class="panel-title">Project Saving</h4>
					<ct-paneltool class="panel-tools" tool-collapse="tool-collapse" ></ct-paneltool>
				</div>
				<div uib-collapse="panelsaving" ng-init="panelsaving=true" class="panel-wrapper">
					<div class="panel-body">
	                    <div class="row">
	                    	<div class="col-sm-12 col-md-12 col-lg-12">
			                     <!-- <div class="row " style="margin-left: 0px;display: flex;overflow-y: auto;">
                                    <div class="plan-table" style="padding: 0;margin-bottom: 5px;"">
                                        <table style="width:100%" >
                                            <tr>
                                                <th class="text-center" style="border-right: 2px solid;" >&nbsp;</th>
                                            </tr>
                                            <tr >
                                                <td style="min-width:100px;height: 28px;border-right: 2px solid;">
                                                    ATT Savings
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="border-right: 2px solid;">
                                                    Actual
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                    <div class="plan-table" style="padding: 0;margin-bottom: 5px;" ng-repeat="matrixData in savingList">
                                        <table >
                                            <tr>
                                                <th colspan="5" class="text-center" ng-class="matrixData.colorClass">{{matrixData.label}}</th>
                                            </tr>
                                            <tr >
                                                <td >
                                                     {{ matrixData.expectedSaving || 0  |currency:'&#8377':0 }}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td width="100px">
                                                    {{matrixData.actualSavingValue ||0 |currency:'&#8377':0 }}
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div> -->
                                <div class="row " style="margin-left: 0px;display: flex;overflow-y: auto;">
                                    <div class="plan-table" style="padding: 0;margin-bottom: 5px;"">
                                        <table style="width:100%" >
                                            <tr>
                                                <th class="text-center" style="border-right: 2px solid;" >Savings

                                                </th>
                                                <th class="text-center" >Total</th>
                                            </tr>
                                            <tr >
                                                <td style="min-width:100px;height: 50px;border-right: 2px solid;">
                                                    Projected
                                                   
                                                </td>
                                                <td >
                                                    {{ getTotalProtectedSpending(savingList)  |currency:'&#8377':0}}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="border-right: 2px solid;height: 50px;">
                                                    Actual
                                                </td>
                                                <td >
                                                   {{ getTotalActualSpending(savingList) |currency:'&#8377':0}}
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                    <div class="plan-table" style="padding: 0;margin-bottom: 5px;" ng-repeat="matrixData in savingList">
                                        <table >
                                            <tr>
                                                <th colspan="5" class="text-center" ng-class="matrixData.colorClass">{{matrixData.label}}</th>
                                            </tr>
                                            <tr >
                                                <td style="height: 50px;" >
                                                    <span ng-if="matrixData.expectedSaving > 0 ">
                                                     {{ matrixData.expectedSaving || 0  |currency:'&#8377':0 }}
                                                    </span>
                                                    <br>
                                                    <p ng-if="matrixData.savingDays > 0 && matrixData.savingDays < 28" style="margin:0;font-size: 0.6pc;">( {{ matrixData.savingDays }} days ) </p>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td width="100px" style="height: 50px;" >
                                                    <!-- <input style="width:60px;" type="number" name="" ng-model="matrixData.actualSavingValue"> -->
                                                    <span ng-if="matrixData.actualSavingValue > 0 "> 
                                                        {{matrixData.actualSavingValue ||0 |currency:'&#8377':0 }}
                                                        
                                                    </span>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
	                    	</div>
	                    </div>
	                </div>
	            </div>
	        </div>
	    </div>
	</div>
	<div class="row">
		<div class="col-md-12 col-lg-12">
			<div class="panel panel-white no-radius" id="kaizenDoc">
				<div class="panel-heading border-light">
					<h4 class="panel-title">Project Kaizen Document</h4>
					<ct-paneltool class="panel-tools" tool-collapse="tool-collapse" ></ct-paneltool>
				</div>
				<div uib-collapse="kaizenDoc" ng-init="kaizenDoc=true" class="panel-wrapper">
					<div class="panel-body">
						<div class="row">
					        <div class="col-md-12" ng-if="projectInfo.document != null" ng-init="getKaizenDocUrl(projectInfo.id)">
					            <iframe id="fred" style="border:1px solid #666CCC;width: 100%;" title="PDF in an i-Frame" src="" frameborder="1" scrolling="auto" height="900" ></iframe>
					        </div>
					        <div class="col-md-12 center" ng-if="projectInfo.document == null" >
					        	<P>Document Not Available!!</P>
					        </div>  
					    </div>    
	                </div>
	            </div>
	        </div>
	    </div>
	</div>
	<div class="row">
		<div class="col-md-12 col-lg-12">
			<div class="panel panel-white no-radius" id="eWork">
				<div class="panel-heading border-light">
					<h4 class="panel-title">Project EWO Document</h4>
					<ct-paneltool class="panel-tools" tool-collapse="tool-collapse" ></ct-paneltool>
				</div>
				<div uib-collapse="eWork" ng-init="eWork=true" class="panel-wrapper">
					<div class="panel-body">
						<div class="row">
					        <div class="col-md-12" ng-if="projectInfo.ewDocument != null" ng-init="getEntireWorkUrl(projectInfo.id)">
					            <iframe id="entirework" style="border:1px solid #666CCC;width: 100%;" title="PDF in an i-Frame" ng-src="" frameborder="1" scrolling="auto" height="900" ></iframe>
					        </div>
					        <div class="col-md-12 center" ng-if="projectInfo.ewDocument == null" >
					        	<P> Document Not Available!!</P>
					        </div>  	
					    </div>    
	                </div>
	            </div>
	        </div>
	    </div>
	</div>
</div>

<div class="modal-footer">
    <!-- <button class="btn btn-primary" ng-click="ok()">Yes</button> -->
    <button class="btn btn-primary btn-o" ng-click="cancel()">Close </button>
</div>
<style type="text/css">
	.panel-team {
		text-align: center;
	}
	th,td {
		padding: 10px 25px;
		border: 1px solid black;
	}
	.plan-remark-rec{
		width: 54px;
	    height: 21px;
	    color: red;
	    background: red;
	    position: absolute;
	    top: -3px;
	    right: -26px;
	    transform: rotate(-133deg);
	}
	.chart-not-avalable {
		width: 100%;
    	text-align: center;
	}
	.chart-radar-cont {
		min-height: 200px;
	    display: flex;
	    align-items: center;
	}
	.user-image img {
		width: 150px !important;
    	height: 160px !important;
	}
</style>