<div class="row skill-inventory" ng-controller="SkillInventoryCtrl">
	<div class="col-md-12" style="height: 70vh; padding-top: 30px; box-sizing: border-box;">
		<div class="panel panel-white no-radius" ng-init="loadSkillInventoryGrid()">
			<div class="panel-heading border-bottom text-center">
				<h4 class="panel-title">Skill Inventory</h4>
				<ct-paneltool class="panel-tools" tool-refresh="load1" tool-expand="tool-expand"></ct-paneltool>
			</div>
			<h1>Hello</h1>
			<div class="panel-body" style="height: 82vh; padding: 0px; box-sizing: border-box;" >
				<div id="skill_inventory"  class="ag-theme-balham" style="height: 100%;"> </div>
			</div>
		</div>
	</div>
</div>
